div.note{
	padding: .75rem 1.25rem;
	font: normal normal normal 16px/22px zoho-puvi-regular;
	margin-bottom: 1rem;
	border-radius: 4px;
	opacity: 1;
	
	&.note-info{
		font: normal normal normal 13px/20px zoho-puvi-regular;
    	color: var(--font-body-color);
       	background-color: var(--gray-color);	
		border: 1px solid var(--gray-border-color);
		border-radius: 2px;
	}
	&.note-red{
		color: var(--font-body-color);
		background-color: red;	
		border: 1px solid var(--gray-border-color);
		border-radius: 2px;
	}
}
