{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head-link.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>

  <body data-url="{{ .RelPermalink }}" is-last={{.Params.is_last}}>
    {{ partial "global-search.html" . }}
    <article>
      <aside class="hide-sidebar t-sidebar" id="responsiveSidebar">
        {{ partial "tutorial-sidebar.html" . }}    
        <ul class="stepper-menu StepProgress">
          {{- partialCached "tutorial-menu.html" . }}
        </ul> 
      </aside>
      <section class="page">
        <header>
            {{ partial "body-header.html" . }}
        </header>
        {{ block "main" . }}{{ end }}
      </section>
      <section class="right-menu">
        {{ block "sidepage" . }}{{ end }}
      </section>
    </article>
    {{ partial "scroll-top.html" . }}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{ partial "html-body-link.html" . }}
  </body>
  <script>
    document.addEventListener("scroll", function(){
      var a = document.querySelector("aside").getBoundingClientRect().height;
      var b = document.getElementById("footerBlock").getBoundingClientRect().top;
      var c;
      if(b < a){
          c = (a-b);
          document.querySelector("ul.stepper-menu").style=`margin: 184px 0 ${c}px 0px;`;
      }
      else{
        document.querySelector("ul.stepper-menu").style=`margin: 184px 0 0 0px;`;
      }
    });
  </script>
  <script src='{{"js/pagination.js" | relURL}}'></script>
</html>
