#searchresult li {
  list-style-type: none!important;
}
#searchresult {
  list-style-type: none!important;
  padding: 0 0 10px;
  background: url(https://www.zoho.com/images/search-loading.gif) no-repeat 50% 100%/70px;
  min-height: 300px;
  margin-bottom: 20px;
}
#searchresult.removeBg {
  background: none !important;
  min-height: inherit;
  border-bottom: 1px solid #ddd;
}
.resultList {
  margin: 0 0 20px 0;
}
.resultHead {
  color: #1155CC;
  font-size: 13pt;
  margin-bottom: 3px;
}
.resultHead a {
  color: #1155CC;
}
.resultUrl {
  color: #009933;
  font-size: 11pt;
  word-wrap: break-word;
}
.resultDesc {
  font-size: 10pt;
  margin-top: 5px;
  line-height: 18px;
}
.searchres_highlight {
  font-weight: bold;
}
#totalresult {
  padding: 4px 0 0 6px;
  display: none;
}
.container .row #totalresult {
  padding: 10px 0;
}
#navigation span.resultNavAct {
  color: #000;
  font-weight: bold;
}
.noneBox {
  display: none!important;
}
#nextNavSearch:after {
  clear: right;
}
#prevNavSearch, #navigation, #nextNavSearch {
  display: inline-block;
}
#prevNavSearch span, #nextNavSearch span, #navigation span {
  color: #1155CC;
  display: inline-block;
  cursor: pointer;
}
#navigation span {
  margin: 5px 10px 5px 0;
}
#prevNavSearch {
  margin-right: 5%;
}
#nextNavSearch {
  margin-left: 5%;
}
@media screen and (max-width: 534px) {
  #navigation::before, #navigation *[id]::before,
  #nextNavSearch::before, #prevNavSearch::before {
    content: none;
  }
  #prevNavSearch, #navigation, #nextNavSearch {
    display: block;
    text-align: center;
    margin: 0;
  }
  #navigation {
    margin: 10px 0;
  }
}
