{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>

  <body data-url="{{ .RelPermalink }}" style="background-color: var(--body-color);">

    <header style="width: 100%;">
        {{ partial "main-header.html" . }}
    </header>
    <main style="width: 100%;">
      {{ partial "main-article-content.html" . }}        
    </main>
    <article style="top:100px; width: 97%; margin:30px auto 30px auto;">
      {{if not (in .Params.hide "nav")}}
      <aside class="{{.Params.layout }}" style="height: auto !important; background-color: var(--body-color); position: absolute; width: 240px;">
        <ul class="menu" style="margin-top: 0px;">
          {{- partial "faq-menu.html" . }}
        </ul> 
      </aside>
      {{end}}

      <section class="page {{.Params.layout }}" style="margin-left: 240px;">
        {{ block "main" . }}
        {{ end }}
      </section>

      {{if not (in .Params.hide "toc")}}
      <section class="right-menu {{.Params.layout }}">
      {{ block "sidepage" . }}
      {{ end }}
      </section>
      {{end -}}

    </article>
    {{ partial "scripts.html" . }}
    {{ partial "scroll-top.html" . }}

    {{if not (in .Params.hide "footer")}}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{end}}
  </body>
</html>
