{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head-link.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">
    {{ partial "global-search.html" . }}
    <header style="width: 100%;">
        {{ partial "main-header.html" . }}
    </header>
    <main style="width: 100%;">
      {{ partial "main-article-content.html" . }}        
    </main>
    <div id="catalyst-components"></div>
    <article class="whatsnew-article">
      <aside class="whatsnew-sidebar hide-sidebar">
        <ul class="menu" style="margin-top: 0px;">
          {{- partial "faq-menu.html" . }}
        </ul> 
      </aside>
      <section class="page" style="margin-left: 0px;">
        {{ block "main" . }}{{ end }}
      </section>
      <section class="right-menu whats-new-right-menu">
      {{ block "sidepage" . }}{{ end }}
      </section>
    </article>
    {{ partial "scroll-top.html" . }}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{ partial "scripts.html" . }}  
    {{ partial "html-body-link.html" . }}  
  </body>
</html>
