{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>Zoho Catalyst</title>
    {{ partial "html-head-link.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">
    {{ partial "global-search.html" . }}
    <article>
      <header style="width: 100%;">
          {{ partial "main-header.html" . }}
      </header>
      <main style="width: 100%;">
        {{ partial "main-article-content.html" . }}
        {{ partial "main-feature-content.html" . }}
        {{ partial "main-help-content.html" . }}
        {{ partial "main-sdk-content.html" . }}
        {{ partial "main-faq-content.html" . }}
      </main>
    </article>
    {{ partial "scroll-top.html" . }}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{ partial "html-body-link.html" . }}
  </body>
</html>
