{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>

  <body data-url="{{ .RelPermalink }}"

  class="
  {{- with .Params.render}}render_{{.}} {{end -}}
  {{if (in .Params.hide "header")}}hideheader {{end -}}
  {{if (in .Params.hide "nav")}}hidenav {{end -}}
  {{if (in .Params.hide "breadcrumb")}}hidebreadcrumb {{end -}}
  {{if (in .Params.hide "toc")}}hidetoc {{end -}}
  {{if (in .Params.hide "footer")}}hidefooter {{end -}}
  {{if (in .Params.hide "nextpage")}}hidenextpage {{end -}}
  ">

    <article>
      {{if not (in .Params.hide "header")}}
      <header style="width: 100%;">
          {{ partial "main-header.html" . }}
      </header>
      {{end}}
      <main style="width: 100%;">
        {{ partial "main-article-content.html" . }}
        {{ partial "main-feature-content.html" . }}
        {{ partial "main-help-content.html" . }}
        {{ partial "main-sdk-content.html" . }}
        {{ partial "main-faq-content.html" . }}

      </main>
      {{ partial "scroll-top.html" . }}

    </article>
    {{ partial "scripts.html" . }}

    {{if not (in .Params.hide "footer")}}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{end}}
  </body>
</html>
