<div style="margin:76px 25px 0 41px;" class="top-point" id="container">
    <div class="input-icons" id="innerSearchBar" style="margin-top: 90px;">
      <div class="search-icon"></div>
      <input class="input-field" type="button" onclick="openGlobalsearch()" value="Search documents">
    </div>
    {{range where .Site.Pages "Type" "=" "api"}}        
      <div class="content api">
        {{- with .Content -}}
          {{ . | replaceRE "(<h[1-9]) id=\"([^\"]+)\"(.+)(</h[1-9]+>)" `${1} ref="${2}" ${3}${4}<a class="anchor" id="${2}"></a>` | safeHTML }}
        {{- end -}}
      </div>
    {{end}}
{{ partial "suggestion-page.html"}}
