<div style="margin:101px 25px 0 41px;" class="top-point" id="container">
    <div class="show-search">
      <div class="search-icon"></div>
      <input class="src-input" name="query" placeholder="Search documents" type="text">
    </div>
    {{range where .Site.Pages "Type" "=" "api"}}        
      <div class="content">
        {{- with .Content -}}
          {{ . | replaceRE "(<h[1-9]) id=\"([^\"]+)\"(.+)(</h[1-9]+>)" `${1} ref="${2}" ${3}${4}<a class="anchor" id="${2}"></a>` | safeHTML }}
        {{- end -}}
      </div>
    {{end}}
