{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

{{- range .Site.Home.Sections.ByWeight}}
{{if (eq .Type "api")}}
{{- template "section-tree-nav-api" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
{{end}}
{{- end}}

<!-- templates -->
{{- define "section-tree-nav-api" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.Permalink}}" class="dd-item
        {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
        {{- if ne $numberOfPages 0 }} haschildren{{end}}
        ">

      <div>
        {{- if ne $numberOfPages 0 }}
          {{- if .Params.alwaysopen}} 
            <i class="fa fa-angle-right category-icon" style="display: none;"></i>
            <a href="#{{ replaceRE "(\\s)" ""  .LinkTitle }}"style="display: none;">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
          {{else}}
            <i class="fa fa-angle-right category-icon"></i>
            <a href="#{{ replaceRE "(\\s)" ""  .LinkTitle }}" onclick="activateClass(this)" path="{{.Permalink}}">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
          {{end}}
        {{- end}}
      </div>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- $pages := .Pages }}
          {{- if .Sections}}
          {{- $pages = (.Pages | union .Sections) }}
          {{- end}}

          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav-api" dict "sect" . "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      <li data-nav-id="{{.Permalink}}" class="dd-item">
        <div>
          <a href="#{{ replaceRE "(\\s)" ""  .LinkTitle }}" onclick="activateClass(this)" path="{{.Permalink}}">
            {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
          </a>
        </div>
      </li>
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}
<script>
  var matches = document.querySelectorAll(`li[data-nav-id$="${window.location.pathname}"]`);
if (matches.length > 0) {
    var menu = matches[0];
    menu.classList.add("active");

    var maxDepth = 10; // Avoid infinite loop !
    var nextAncestor = menu.closest("li[data-nav-id]");
    while (maxDepth-- >= 0 && nextAncestor !== null) {
        nextAncestor.classList.add("parent");
        var icon = nextAncestor.querySelector('i.category-icon');
        if (icon !== null) {
            icon.classList.remove('fa-angle-right');
            icon.classList.add('fa-angle-down');
        }
        nextAncestor = nextAncestor.parentNode.closest("li[data-nav-id]");
    }
}
function activateClass(e){
  var anc = document.querySelectorAll(`li[data-nav-id]`);
  for(var i=1;i<anc.length;i++){
    if(document.querySelectorAll(`li[data-nav-id]`)[i].classList.value.includes("active")){
      document.querySelectorAll(`li[data-nav-id]`)[i].classList.remove("active");
    }
  }
  var icons = document.querySelectorAll("li.dd-item.haschildren.parent div i");
  for(var i=1;i<icons.length;i++){
    if((document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.value.includes("fa-angle-down")) ){
      document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.remove('fa-angle-down');
      document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.add('fa-angle-right');
      document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].parentNode.parentNode.childNodes[3].style.display="none";
    }
  }

  var matches = document.querySelectorAll(`li[data-nav-id$="${e.getAttribute('path')}"]`);
  if (matches.length > 0) {
      var menu = matches[0];
      menu.classList.add("active");

      var maxDepth = 10; // Avoid infinite loop !
      var nextAncestor = menu.closest("li[data-nav-id]");
      while (maxDepth-- >= 0 && nextAncestor !== null) {
          nextAncestor.classList.add("parent");

          var icon = nextAncestor.querySelector('i.category-icon');
          if (icon !== null) {
              icon.classList.remove('fa-angle-right');
              icon.classList.add('fa-angle-down');
              var icons = document.querySelectorAll("li.dd-item.haschildren.parent div i");
              for(var i=1;i<icons.length;i++){
                if((document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.value.includes("fa-angle-down")) ){
                  document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].parentNode.parentNode.childNodes[3].style.display="block";
                }
              }
          }
          nextAncestor = nextAncestor.parentNode.closest("li[data-nav-id]");
      }
  }
}

function addMargin() {
    window.scrollTo(0, window.pageYOffset - 40);
    var anc = document.querySelectorAll(`li[data-nav-id]`);
    for(var i=1;i<anc.length;i++){
      if(document.querySelectorAll(`li[data-nav-id]`)[i].classList.value.includes("active")){
        document.querySelectorAll(`li[data-nav-id]`)[i].classList.remove("active");
      }
    }
    var icons = document.querySelectorAll("li.dd-item.haschildren.parent div i");
    for(var i=1;i<icons.length;i++){
      if((document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.value.includes("fa-angle-down")) ){
        document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.remove('fa-angle-down');
        document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.add('fa-angle-right');
        document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].parentNode.parentNode.childNodes[3].style.display="none";
      }
    }

    var ac = window.location.hash;
    var path = document.querySelectorAll(`section${ac}`)[0].getAttribute("path");
    var matches = document.querySelectorAll(`li[data-nav-id$="${path}"]`);
    if (matches.length > 0) {
        var menu = matches[0];
        menu.classList.add("active");

        var maxDepth = 10; // Avoid infinite loop !
        var nextAncestor = menu.closest("li[data-nav-id]");
        while (maxDepth-- >= 0 && nextAncestor !== null) {
            nextAncestor.classList.add("parent");

            var icon = nextAncestor.querySelector('i.category-icon');
            if (icon !== null) {
                icon.classList.remove('fa-angle-right');
                icon.classList.add('fa-angle-down');
                var icons = document.querySelectorAll("li.dd-item.haschildren.parent div i");
                for(var i=0;i<icons.length;i++){
                  if(document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].classList.value.includes("fa-angle-down")){
                    document.querySelectorAll("li.dd-item.haschildren.parent div i")[i].parentNode.parentNode.childNodes[3].style.display="block";
                  }
                }
            }
            nextAncestor = nextAncestor.parentNode.closest("li[data-nav-id]");
        }
    }
}
window.addEventListener('hashchange', addMargin);
</script>