<style type="text/css">
  .shortlist {
      background: var(--shortlist-icon) no-repeat -76px -30px;
      width: 15px;
      height: 15px;
      margin-top: 8px;
      margin-right: 11px;
  }
  .logo {
      border-bottom: 1px solid var(--hr-color);
      height: 75px;
      position: fixed;
      width: 370px;
      z-index: 2;
      top: 0px;
      display: flex;
      background-color: var(--menu-color);
  }
  .catalyst-logo{
    background: url('/images/CatalystLogo.svg') no-repeat 0 0;
    width: 28px;
    height: 32px;
  }
  .input-filter{
    border: none; 
    background-color: transparent; 
    outline: none !important; 
    box-shadow: 0 0 0 0; 
    width: 260px;
    color: var(--font-menu-color);
    font: 15px/18px zoho-puvi-regular;
  }
  ::placeholder{
    color: var(--font-at-color);
    font: normal normal normal 13px/16px zoho-puvi-regular;
  }
  </style>
  <div class="logo">
    <a style="text-decoration: none; display: flex; margin:19px 0 21px 30px; padding:3px;" href="{{.Site.BaseURL}}">
      <div class="catalyst-logo"></div>
      <div style="display: block; margin-left: 12px; margin-top:1px;">
        <p style="font: 20px/20px zoho-puvi-medium; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; margin-bottom: 0px; margin-top: -2px;">Catalyst</p>
        <p style="font: 12px/14px zoho-puvi-regular; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; padding-left: 0px;">by Zoho</p>
      </div> 
    </a>
  </div>
  {{ if ne .Type "docs" }}
    {{ if eq .Type "cli"}}
    <div class="search" style="padding-bottom: 0px !important;">
    <h6 style="font: 16px/19px zoho-puvi-bold; letter-spacing: 0.8px; margin: 10px 0 20px 0;">PACKAGES</h6>
    {{else}}
    <div class="search">
    {{end}}
      <div class="searchbox" style="display: flex; border-radius:35px; outline: none !important; box-shadow: 0 0 0 0; font: normal normal normal 14px/17px zoho-puvi-regular; color: var(--font-menu-color); padding: 4px 11px;
      width: 310px;
      height: 39px !important;
      border: 0px;
      background-color: transparent;
      border: 1px solid var(--hr-color);">
        <div class="shortlist"></div>
        <input data-search-input id="search-by" type="text" placeholder="Filter topics" class="input-filter">
      </div>
  
      <script type="text/javascript" src="{{"vendor/lunr/lunr.min.js" | relURL}}"></script>
      <script type="text/javascript" src="{{"vendor/auto-complete/auto-complete.js" | relURL}}"></script>
      <link href="{{"vendor/auto-complete/auto-complete.css" | relURL}}" rel="stylesheet">
      <script type="text/javascript">
        {{ if .Site.IsMultiLingual }}
            var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
        {{ else }}
            var baseurl = "{{.Site.BaseURL}}";
        {{ end }}
      </script>
      <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
  </div>
  {{end}}