<div style="margin:101px 25px 0 41px;" class="top-point" id="container">
    <div class="show-search">
      <div class="search-icon"></div>
      <input class="src-input" name="query" placeholder="Search documents" type="text">
    </div>

    {{if not (in .Params.hide "breadcrumb")}}
    <nav id="ariane" aria-label="breadcrumb">
        <ol class="ariane">
            {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
        </ol>
    </nav>
    {{end}}
        
	<div class="content">
    {{- with .Content -}}
	    {{ . | replaceRE "(<h[1-9]) id=\"([^\"]+)\"(.+)(</h[1-9]+>)" `${1} ref="${2}" ${3}${4}<a class="anchor" id="${2}"></a>` | safeHTML }}
    {{- else -}}
      {{with index .Pages 0}}
      <meta http-equiv = "refresh" content = "0; url = {{.RelPermalink}}"/>
      {{- else -}}
      	No content
      {{- end -}}
    {{- end -}}
	</div>

	<div class="chevrons">
		{{ partial "next-prev-page.html" . }}
	</div>
  {{ if and (eq .Type "tutorial-apps") (eq .Title "Introduction")}}
  <div></div>
  {{else}}
    {{ if ne .Type "tutorial-apps"}}
    <div>
      {{ partial "suggestion-page.html"}}
    </div>
    {{ end }}
  {{ end }}
