<style type="text/css">
    .flexbox{
        display: flex;
    }
    .footer-icon{
        margin:2px 30px 0 12px;
      font: normal normal normal 15px/18px zoho-puvi-regular;
      letter-spacing: 0px;
      color: var(--font-lite-body-color);
      opacity: 1;
    }
    .icons{
      margin-top:2px;
    }
    .footer-head{
      text-align: center; 
      padding: 30px 0; 
      margin-bottom: 0;
      text-align: center;
      font: 20px/24px zoho-puvi-semibold;
      letter-spacing: 0px;
      color: var(--font-body-color);
      opacity: 1;
    }
    .footer-ref{
      display: flex; 
      flex-wrap: wrap; 
      margin: 0px auto;
      justify-content:center;
      width: fit-content; 
    }
    .footer-at{
      font: normal normal normal 12px/30px zoho-puvi-regular;
      letter-spacing: 0px;
      color: var(--font-at-color);
      opacity: 1;
    }
    .footer-contact{
      font: normal normal normal 12px/30px zoho-puvi-regular;
      letter-spacing: 0px;
      color: var(--font-menu-color);
      opacity: 1;
    }
    .stackoverflowLight{
        background: url('/images/DiscussionLightMode.svg') no-repeat -31px -79px;
        width: 16px;
        height: 18px;
    }
    
    .slackcommunityLight{
        background: url('/images/DiscussionLightMode.svg') no-repeat -72px -79px;
        width: 19px;
        height: 18px;
    }
    
    .catalystcommunityLight{
        background: url('/images/DiscussionLightMode.svg') no-repeat -117px -79px;
        width: 16px;
        height: 18px;
    }
    
    .githubLight{
        background: var(--github-lite-icon) no-repeat -159px -79px;;
        width: 18px;
        height: 18px;
    }
    
    .contactsupportLight{
        background: url('/images/DiscussionLightMode.svg') no-repeat -202px -80px;
        width: 16px;
        height: 16px;
    }
    .ZPprivacy {
      padding: 0 20px;
      box-sizing: border-box;
    }
    .footer-links ul {
      list-style: none;
      margin-bottom: 5px;
      overflow: hidden;
    }
    .footer-links ul li {
      display: inline-block;
      border-right: 1px solid var(--font-lite-body-color);
      padding: 0 10px 0 7px;
      margin-bottom: 10px;
    }
    .footer-links ul li a{
      font: normal normal normal 13px zoho-puvi-regular;
    }
    .footer-links ul li:first-child {
      padding-left: 0;
    }
    .footer-links ul li:last-child {
      padding-right: 0;
      border-right: 0;
    }
    .ZPprivacy li {
        line-height: 12px !important;
    }
    .footer-links {
      display: flex; 
      margin: 20px auto 10px auto; 
      width: fit-content;
    }
    .footer-links a:hover{
      color: var(--font-lite-body-color);
    }
    </style>
    <div>
      <p class="footer-head">Join the discussion</p>
      <div class="footer-ref">
        <div class="flexbox">
          <div class="catalystcommunityLight icons"></div>
          <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Catalyst Community</p></a>
        </div>
        <div class="flexbox">
          <div class="stackoverflowLight"></div>
          <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Stack Overflow</p></a>
        </div>
        <!-- <div class="flexbox">
          <div class="slackcommunityLight icons"></div>
          <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Slack Community</p></a>
        </div> -->
        <div class="flexbox">
          <div class="githubLight icons"></div>
          <a href="https://www.zoho.com/catalyst"><p class="footer-icon">GitHub</p></a>
        </div>
        <div class="flexbox">
          <div class="contactsupportLight icons"></div>
          <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Contact Support</p></a>
        </div>
      </div>
      <hr style="background-color: var(--hr-color); margin-top: 20px;"/>
      <div class="footer-links">
          <ul class="ZPprivacy"> 
            <li><a href="https://www.zoho.com/catalyst">Zoho Home</a></li>
            <li><a href="https://www.zoho.com/catalyst">Contact Us</a></li>
            <li><a href="https://www.zoho.com/catalyst">Security</a></li>
             <li><a href="https://www.zoho.com/catalyst">IPR Complaints</a></li>
             <li><a href="https://www.zoho.com/catalyst"> Anti-spam Policy</a></li>
             <li class="footer-terms"><a href="https://www.zoho.com/catalyst">Terms of Service</a></li>
             <li><a href="https://www.zoho.com/catalyst">Privacy Policy</a></li>
             <li class="cookie-policy" style="display: inline-block;"><a href="https://www.zoho.com/catalyst">Cookie Policy</a></li>
             <li><a href="https://www.zoho.com/catalyst" class="gdprc">GDPR Compliance</a></li>
             <li><a href="https://www.zoho.com/catalyst">Abuse Policy</a></li></ul>
      </div>
      <div style="display: flex; margin: 0 auto 20px auto; width: fit-content;">
          <p class="footer-at">© 2021, Zoho Corporation Pvt. Ltd. All Rights Reserved.</p>
          {{ partial "theme.html" . }}
      </div>
    </div>