<div id="footerBlock">
    <p class="footer-head">Join the discussion</p>
    <div class="footer-ref">
      <div class="flexbox">
        <div class="catalystcommunityLight icons"></div>
        <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Catalyst Community</p></a>
      </div>
      <div class="flexbox">
        <div class="stackoverflowLight"></div>
        <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Stack Overflow</p></a>
      </div>
      <!-- <div class="flexbox">
        <div class="slackcommunityLight icons"></div>
        <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Slack Community</p></a>
      </div> -->
      <div class="flexbox">
        <div class="githubLight icons"></div>
        <a href="https://www.zoho.com/catalyst"><p class="footer-icon">GitHub</p></a>
      </div>
      <div class="flexbox">
        <div class="contactsupportLight icons"></div>
        <a href="https://www.zoho.com/catalyst"><p class="footer-icon">Contact Support</p></a>
      </div>
    </div>
    <hr style="background-color: var(--hr-color); margin-top: 20px;"/>
    <div class="footer-links">
        <ul class="ZPprivacy"> 
          <li><a href="https://www.zoho.com/catalyst">Zoho Home</a></li>
          <li><a href="https://www.zoho.com/catalyst">Contact Us</a></li>
          <li><a href="https://www.zoho.com/catalyst">Security</a></li>
          <li><a href="https://www.zoho.com/catalyst">IPR Complaints</a></li>
          <li><a href="https://www.zoho.com/catalyst"> Anti-spam Policy</a></li>
          <li class="footer-terms"><a href="https://www.zoho.com/catalyst">Terms of Service</a></li>
          <li><a href="https://www.zoho.com/catalyst">Privacy Policy</a></li>
          <li class="cookie-policy" style="display: inline-block;"><a href="https://www.zoho.com/catalyst">Cookie Policy</a></li>
          <li><a href="https://www.zoho.com/catalyst" class="gdprc">GDPR Compliance</a></li>
          <li><a href="https://www.zoho.com/catalyst">Abuse Policy</a></li>
        </ul>
    </div>
    <div class="footer-at-block">
        <p class="footer-at">© 2021, Zoho Corporation Pvt. Ltd. All Rights Reserved.</p>
        {{ partial "theme.html" . }}
    </div>
</div>