<style type="text/css">
.access-button{
	width: 150px;
	height: 44px;
	background: #F0483D 0% 0% no-repeat padding-box;
	text-align: center;
	border-radius: 1px;
  padding-top: 7px;
  font: normal normal normal 15px/30px zoho-puvi-regular;
  letter-spacing: 0px;
  color: #F0F0F0;
  opacity: 1;
  margin-left: 22px;
  margin-top:1px;
}
.search-icon{
  background: var(--shortlist-icon) no-repeat -30px -30px;
	width: 16px;
	height: 16px;
  margin-top: 10px;
  margin-right: 14px;
  margin-left: 0px;
}
.list {
  margin:9px 22.5px 0 22px;
}
.list a{
    font: 15px/18px zoho-puvi-regular;
    letter-spacing: 0px;
    color: var(--font-lite-body-color);
    opacity: 1;
}
.list a:hover{
  color: var(--font-blue-color);
}
.search-box {
	width: 559px;
	height: 44px;
	float: left;
}
.src-input {
	padding: 12px 40px;
  width: 100%;
  padding-left: 0px;
  color: var(--font-menu-color);
  font: normal normal normal 14px/17px zoho-puvi-regular;
	border: none;
	float: left;
	outline: none;
	background-color: var(--body-color);
}
::placeholder{
  color: var(--font-at-color);
  font: 15px/18px zoho-puvi-regular;
}
.add_div1{
  width: 11px;
  height: 2px;
  margin-top: 0px;
  border-radius: 2px;
  opacity: 1;
}
</style>
<div style="padding:0 29px 0 40px;">

  {{ if ne .Type "docs" }}
    <div class="searchbox">
      <div class="search-icon"></div>
      <input class="src-input" name="query" placeholder="Search documents" type="text">
    </div>
  {{end}}

    <!-- {{- with .Site.Menus.shortcuts}} -->
    <nav class="shortcuts">
      <li class="list">
          <a id="docs" href="/docs/quick-start-guide" target="_self" rel="noopener noreferrer">
          Docs
          <div class="add_div1" id="docs-line"></div>
        </a>
      </li>
      <li class="list">
        <a id="tutorial" href="/tutorial/" target="_self" rel="noopener noreferrer">
          Tutorials
          <div class="add_div1" id="tutorial-line"></div>
        </a>
      </li>
      <li class="list">
        <a id="faq" href="/faq/authentication/" target="_self" rel="noopener noreferrer">
          FAQ
          <div class="add_div1" id="faq-line"></div>
        </a>
      </li>
      <li class="list">
        <a id="whats-new" href="/whats-new/release-notes/" target="_self" rel="noopener noreferrer">
          What’s New
          <div class="add_div1" id="whats-new-line"></div>
        </a>
      </li>
      <li class="access-button"><a style="color: #F0F0F0 !important;" href="https://accounts.zoho.com/register?newsignup=true&servicename=ZOHOCATALYST&serviceurl=https://catalyst.zoho.com/baas/index" target="_blank" rel="noopener noreferrer">Go to console</a></li>
    </nav>
    <!-- {{- end}} -->

</div>

<script src='{{"js/activelink.js" | relURL}}'></script>