<div class="header-block">

  <div class="left-menu-icon" onclick="showSideBar()"></div>  

  <div class="logo">
    <a style="text-decoration: none; display: flex; margin:19px 0 21px 30px; padding:3px;" href="{{.Site.BaseURL}}">
      <div class="catalyst-logo"></div>
      <div style="display: block; margin-left: 12px; margin-top:1px;">
        <p style="font: 20px/20px zoho-puvi-medium; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; margin-bottom: 0px; margin-top: -2px;">Catalyst</p>
        <p style="font: 12px/14px zoho-puvi-regular; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; padding-left: 0px;">by Zoho</p>
      </div> 
    </a>
  </div>
  {{ if ne .Type "docs" }}
    <div class="input-icons" id="outerSearchBar">
      <div class="search-icon"></div>
      <input class="input-field" type="button" onclick="openGlobalsearch()" value="Search documents">
    </div>
  {{end}}

  <nav class="shortcuts">
    <li class="list">
      <a id="docs" href="/docs/quick-start-guide" target="_self" rel="noopener noreferrer">
        Docs
        <div class="add_div1" id="docs-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="tutorial" href="/tutorial/" target="_self" rel="noopener noreferrer">
        Tutorials
        <div class="add_div1" id="tutorial-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="faq" href="/faq/authentication/" target="_self" rel="noopener noreferrer">
        FAQ
        <div class="add_div1" id="faq-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="whats-new" href="/whats-new/release-notes/" target="_self" rel="noopener noreferrer">
        What’s New
        <div class="add_div1" id="whats-new-line"></div>
      </a>
    </li>
    <li class="access-button"><a style="color: #F0F0F0 !important;" href="https://accounts.zoho.com/register?newsignup=true&servicename=ZOHOCATALYST&serviceurl=https://console.catalyst.zoho.com/baas/index" target="_blank" rel="noopener noreferrer">Go to console</a></li>
  </nav>
  <nav class="header-menu-list hide" id="headerMenuList">
    <li class="list">
      <a id="docs" href="/docs/quick-start-guide" target="_self" rel="noopener noreferrer">
        Docs
        <div class="add_div1" id="docs-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="tutorial" href="/tutorial/" target="_self" rel="noopener noreferrer">
        Tutorials
        <div class="add_div1" id="tutorial-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="faq" href="/faq/authentication/" target="_self" rel="noopener noreferrer">
        FAQ
        <div class="add_div1" id="faq-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="whats-new" href="/whats-new/release-notes/" target="_self" rel="noopener noreferrer">
        What’s New
        <div class="add_div1" id="whats-new-line"></div>
      </a>
    </li>
    <li class="access-button"><a style="color: #F0F0F0 !important;" href="https://accounts.zoho.com/register?newsignup=true&servicename=ZOHOCATALYST&serviceurl=https://console.catalyst.zoho.com/baas/index" target="_blank" rel="noopener noreferrer">Go to console</a></li>
  </nav>

  <div class="right-menu-icon" onclick="showHeaderDowndown()"></div>  
    
</div>