  <div class="logo" id="responsiveSidebarToHide">
    <a class="logo-anchor" href="https://catalyst.zoho.com/" target="_blank">
      <div class="catalyst-logo"></div>
      <div class="logo-title-block">
        <p class="logo-product-name">Catalyst</p>
        <p class="logo-company-name">by Zoho</p>
      </div> 
    </a>
  </div>
  <div class="close-sidebar" onclick="showSideBar()">
    <div class="close-sidebar-icon"></div>
    <p class="close-p">Close</p>
  </div>
  {{ if and (ne .Type "deployment-and-billing") (ne .Type "getting-started") }}
    {{ if eq .Type "cli"}}
    <div class="search" style="padding-bottom: 0px !important;">
    <h6 style="font: 16px/19px zoho-puvi-bold; letter-spacing: 0.8px; margin: 10px 0 20px 0;">PACKAGES</h6>
    {{else}}
    <div class="search">
    {{end}}
      <div class="input-icons">
        <div class="shortlist" ></div>
        <input class="input-field" data-search-input id="search-by" type="text" placeholder="Filter topics"  style="width: 310px;">
      </div>
  </div>
  {{end}}