<div style="margin:101px 25px 0 41px;" class="top-point" id="container">

  {{if not (in .Params.hide "breadcrumb")}}
    <nav id="ariane" aria-label="breadcrumb">
        <ol class="ariane">
            {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
        </ol>
    </nav>
  {{end}}

  {{ if ne .Type "docs" }}
    <div class="input-icons" id="innerSearchBar">
      <div class="search-icon"></div>
      <input class="input-field" type="button" onclick="openSearch()" value="Search documents">
    </div>
  {{end}}

	<div class="content">
    {{- with .Content -}}
	    {{ . | replaceRE "(<h[1-9]) id=\"([^\"]+)\"(.+)(</h[1-9]+>)" `${1} ref="${2}" ${3}${4}<a class="anchor" id="${2}"></a>` | safeHTML }}
    {{- end -}}
	</div>

	<div class="chevrons">
		{{ partial "next-prev-page.html" . }}
	</div>
  {{ if and (eq .Type "tutorial-apps") (eq .Title "Introduction")}}
  <div></div>
  {{else}}
    {{ if ne .Type "tutorial-apps"}}
    <div>
      {{ partial "suggestion-page.html"}}
    </div>
    {{ end }}
  {{ end }}
