{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

{{- range .Site.Home.Sections.ByWeight}}
{{if or (eq .Type "faq") (eq .Type "whats-new")}}
{{- template "section-tree-nav-faq" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
{{end}}
{{- end}}

<!-- templates -->
{{- define "section-tree-nav-faq" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.Permalink}}" class="dd-item
        {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
        {{- if ne $numberOfPages 0 }} haschildren{{end}}
        ">
      {{ if ne .Title "main"}}
      <div>
        {{- if ne $numberOfPages 0 }}
          <a href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
        {{- end}}
      </div>
      {{ end }}
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- $pages := .Pages }}
          {{- if .Sections}}
          {{- $pages = (.Pages | union .Sections) }}
          {{- end}}

          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav-faq" dict "sect" . "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      <li data-nav-id="{{.Permalink}}" class="dd-item">
        <div>
          {{- if .Params.head}} 
          <h6 style="padding:0 0 20px 0; margin-left: -1px; color: var(--font-body-color);">{{safeHTML .Params.Pre}}{{.Params.head}}{{safeHTML .Params.Post}}</h6>
          <a href="{{ .RelPermalink}}">
            {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
          </a>
        {{else}}
          <a href="{{ .RelPermalink}}">
            {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
          </a>
          {{end}}
        </div>
      </li>
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}

<script type="text/javascript">
    var matches = document.querySelectorAll(`li[data-nav-id$="${window.location.pathname}"]`);
    if (matches.length > 0) {
        var menu = matches[0];
        menu.classList.add("active");

        var maxDepth = 10; // Avoid infinite loop !
        var nextAncestor = menu.closest("li[data-nav-id]");
        while (maxDepth-- >= 0 && nextAncestor !== null) {
            nextAncestor.classList.add("parent");
            nextAncestor = nextAncestor.parentNode.closest("li[data-nav-id]");
        }
    }
</script>