    <div style="padding:0">
    
      {{ if ne .Type "docs" }}
        <div class="searchbox" style="height: 44px !important;">
          <div class="search-icon"></div>
          <input class="src-input"style="padding: 0px;" name="query" placeholder="Search Topics & Tutorials" type="text">
        </div>
        <div style="width: 135px; height: 34px; margin-left: auto; margin-top: 10px;">
          <select class="custom-select tutorial-filter">
              <option value="0" selected>All Languages</option>
              <option value="1">Java</option>
              <option value="2">Node JS</option>
              <option value="3">Python</option>
          </select>
        </div>
      {{end}}
    
    </div>
    