<div style="margin:20px 0 0 0;" class="top-point" id="container">
    <div class="show-search">
      <div class="search-icon"></div>
      <input class="src-input" name="query" placeholder="Search documents" type="text">
    </div>
        
	<div class="content" style="text-align: left; height: auto;">
    {{- with .Content -}}
	    {{ . | replaceRE "(<h[1-9]) id=\"([^\"]+)\"(.+)(</h[1-9]+>)" `${1} ref="${2}" ${3}${4}<a class="anchor" id="${2}"></a>` | safeHTML }}
    {{- else -}}
      {{with index .Pages 0}}
      <meta http-equiv = "refresh" content = "0; url = {{.RelPermalink}}"/>
      {{- else -}}
      	No content
      {{- end -}}
    {{- end -}}
	</div>

	<div class="chevrons">
		{{ partial "next-prev-page.html" . }}
	</div>
  {{ if and (eq .Type "tutorial-apps") (eq .Title "Introduction")}}
  <div></div>
  {{else}}
    {{ if ne .Type "tutorial-apps"}}
    <div>
      {{ partial "suggestion-page.html"}}
    </div>
    {{ end }}
  {{ end }}
