<div id="myModal" class="search-modal">
    <div class="modal-content-block">
      <div class="global-search-block">
        <div class="global-search-icon" style="position: absolute; margin: 15px 10px 0px 20px;"></div>
        <input type="text" data-search-input id="global-search-by" placeholder="Search documents">
        <span class="closebtn" onclick="document.getElementById('global-search-by').value = ''">×</span>
        <div onclick="closeGlobalsearch()" class="cancel-btn">Cancel</div>
      </div>
    </div>
</div>