{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

{{- range .Site.Home.Sections.ByWeight}}
{{if or (or (eq .Type "help") (eq .Type "getting-started")) (eq .Type "deployment-and-billing")}}
{{- template "section-tree-nav-help" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
{{end}}
{{- end}}

<!-- templates -->
{{- define "section-tree-nav-help" }} 
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.RelPermalink}}" class="dd-item
        {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
        {{- if ne $numberOfPages 0 }} haschildren{{end}}
        " type="{{.Type}}">

      <div style="display: flex;">
        {{- if ne $numberOfPages 0 }}
          {{- if .Params.alwaysopen}} 
            <div class="category-icon" style="display: none;">
              <div class="right-mini-icon"></div>
              <a class="folder">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
            </div>
          {{else}}
            <div class="category-icon" style="display: flex;">
              <div class="right-mini-icon"></div>
              <a class="folder">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
            </div>
          {{end}}
        {{- end}}
      </div>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- $pages := .Pages }}
          {{- if .Sections}}
          {{- $pages = (.Pages | union .Sections) }}
          {{- end}}

          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav-help" dict "sect" . "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      <li data-nav-id="{{.RelPermalink}}" class="dd-item" type="{{.Type}}">
        <div>
          <a class="file" href="{{.RelPermalink}}" title="{{.LinkTitle}}">
            {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
          </a>
        </div>
      </li>
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}