<script src='{{"js/common-script.js" | relURL}}'></script>
<script src='{{"js/scroll-top.js" | relURL}}'></script>

<!-- Filer box script -->
<script type="text/javascript" src="{{"vendor/lunr/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"vendor/auto-complete/auto-complete.js" | relURL}}"></script>
<link href="{{"vendor/auto-complete/auto-complete.css" | relURL}}" rel="stylesheet">
<script type="text/javascript">
    {{ if .Site.IsMultiLingual }}
        var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{ else }}
        var baseurl = "{{.Site.BaseURL}}";
    {{ end }}
</script>
<script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>