<div style="padding:0 29px 0 0; display: flex;">
  <div class="logo" style="background: var(--body-color); width: auto;">
    <a class="logo-anchor" href="{{.Site.BaseURL}}">
      <div class="catalyst-logo"></div>
      <div class="logo-title-block">
        <p class="logo-product-name">Catalyst</p>
        <p class="logo-company-name">by Zoho</p>
      </div> 
    </a>
  </div>
  {{ with .Params.article }}
    {{ if (ne .Type "home")}}
    <div class="input-icons" id="outerSearchBar" style="margin-left: 410px;">
      <div class="search-icon"></div>
      <input class="input-field" type="button" onclick="openGlobalsearch()" value="Search documents">
    </div>
    {{ end }}
  {{ end }}
  <nav class="shortcuts">
    <li class="list">
      {{ if (eq .Type "docs") }}
      <a id="docs" href="/docs/quick-start-guide" target="_self" rel="noopener noreferrer" style="color:var(--font-blue-color)">
        Docs
        <div class="add_div1" id="docs-line" style="background-color:var(--font-blue-color)"></div>
      </a>
      {{ else }}
      <a id="docs" href="/docs/quick-start-guide" target="_self" rel="noopener noreferrer">
        Docs
        <div class="add_div1" id="docs-line"></div>
      </a>
      {{ end }}
    </li>
    <li class="list">
      {{ if or (eq .Type "tutorial") (eq .Type "tutorial-apps")}}
      <a id="tutorial" href="/tutorial/" target="_self" rel="noopener noreferrer" style="color:var(--font-blue-color)"> 
        Tutorials
        <div class="add_div1" id="tutorial-line" style="background-color:var(--font-blue-color)"></div>
      </a>
      {{ else }}
      <a id="tutorial" href="/tutorial/" target="_self" rel="noopener noreferrer">
        Tutorials
        <div class="add_div1" id="tutorial-line"></div>
      </a>
      {{ end }}
    </li>
    <li class="list">
      {{ if (eq .Type "faq") }}
      <a id="faq" href="/faq/authentication/" target="_self" rel="noopener noreferrer" style="color:var(--font-blue-color)">
        FAQ
        <div class="add_div1" id="faq-line" style="background-color:var(--font-blue-color)"></div>
      </a>
      {{ else }}
      <a id="faq" href="/faq/authentication/" target="_self" rel="noopener noreferrer">
        FAQ
        <div class="add_div1" id="faq-line"></div>
      </a>
      {{ end }}
    </li>
    <li class="list">
      {{ if (eq .Type "whats-new") }}
      <a id="whats-new" href="/whats-new/release-notes/" target="_self" rel="noopener noreferrer" style="color:var(--font-blue-color)">
        What’s New
        <div class="add_div1" id="whats-new-line" style="background-color:var(--font-blue-color)"></div>
      </a>
      {{ else }}
      <a id="whats-new" href="/whats-new/release-notes/" target="_self" rel="noopener noreferrer">
        What’s New
        <div class="add_div1" id="whats-new-line"></div>
      </a>
      {{ end }}
    </li>
    <li class="access-button"><a style="color: #F0F0F0 !important;" href="https://accounts.zoho.com/register?newsignup=true&servicename=ZOHOCATALYST&serviceurl=https://console.catalyst.zoho.com/baas/index" target="_blank" rel="noopener noreferrer">Go to console</a></li>
  </nav>
  <nav class="header-menu-list hide" id="headerMenuList">
    <li class="list">
      <a id="docs" href="/docs/quick-start-guide" target="_self" rel="noopener noreferrer">
        Docs
        <div class="add_div1" id="docs-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="tutorial" href="/tutorial/" target="_self" rel="noopener noreferrer">
        Tutorials
        <div class="add_div1" id="tutorial-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="faq" href="/faq/authentication/" target="_self" rel="noopener noreferrer">
        FAQ
        <div class="add_div1" id="faq-line"></div>
      </a>
    </li>
    <li class="list">
      <a id="whats-new" href="/whats-new/release-notes/" target="_self" rel="noopener noreferrer">
        What’s New
        <div class="add_div1" id="whats-new-line"></div>
      </a>
    </li>
    <li class="access-button"><a style="color: #F0F0F0 !important;" href="https://accounts.zoho.com/register?newsignup=true&servicename=ZOHOCATALYST&serviceurl=https://console.catalyst.zoho.com/baas/index" target="_blank" rel="noopener noreferrer">Go to console</a></li>
  </nav>
  <div class="right-header">
    {{ if ne .Type "docs" }}
      <div class="global-search-icon" onclick="openGlobalsearch()"></div>  
    {{end}}
    <div class="right-menu-icon" onclick="showHeaderDowndown()"></div>  
  </div>
</div>