{{ with .Params.help }}
{{ if .enable }}
<div id="help-components" style="position: absolute; top:770px;"></div>
<section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600" data-aos-once="true">
  <div class="container">

    <div class="row justify-content-center">
      <div class="d-md-none d-lg-none d-sm-block">
        <h1 class="faq-text">Catalyst Component help resources</h1>
        <ol>
          {{ range .help_component }}
          <h3 class="faq-sub-text">{{ replaceRE "_" " " .title }}</h3>
          <li class="ex-ol-li" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600" data-aos-once="true" style="justify-content: center; display: grid;">
              {{ range .featuredpoints }}
                <div style="margin-bottom: 20px;">
                  <div class="feature-card help-block text-left">
                    <div class="{{.icon}}" style="margin:16px 0;"></div>
                      <a href="{{.link}}">
                          <p class="feature-p" style="text-align: left;">{{ .name }}</p>
                      </a>
                      <p class="feature-p" style="text-align: left; color: var(--font-lite-body-color);">{{ .content }}</p>
                  </div>
                </div>
              {{ end }}
          </li>
          {{ end }}

        </ol>
      </div>

      <div id="nav-pills-out" class="d-none d-md-block nav flex-column nav-pills col-md-5" id="v-pills-tab"
        role="tablist" aria-orientation="vertical" style="padding-left: 15px;">
        <p style="text-align: left; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; font: normal normal 600 40px/60px zoho-puvi-semibold; margin-bottom: 40px;">Catalyst Component <br> help resources</p>
        {{ range $index, $element := .help_component }}
        {{ if (eq $index 0) }}
          <a class="nav-link active" id="{{ .title }}-tab" data-toggle="pill" href="#{{ .title }}" role="tab" 
            aria-controls="{{ .title }}" aria-selected="true" style="display: flex; padding-left: 0px;">
            <div class="add_div"></div>
            {{ replaceRE "_" " " .title }}
          </a>
        {{ else }}
          <a class="nav-link" id="{{ .title }}-tab" data-toggle="pill" href="#{{ .title }}" role="tab"
            aria-controls="{{ .title }}" aria-selected="false" style="display: flex; padding-left: 0px;">
            <div class="add_div"></div>
            {{ replaceRE "_" " " .title }}
          </a>
        {{ end }}
        {{ end }}
      </div>

      <div class="tab-content col-md-7 d-none d-md-block" id="v-pills-tabContent" style="padding-right:0px;">
        {{ range $index, $element := .help_component }}
        {{ if (eq $index 0) }}
        <div class="tab-pane fade show active" id="{{ .title }}" role="tabpanel" aria-labelledby="{{ .title }}-tab">
            {{ range .featuredpoints }}
              <div class="col-md-6 col-sm-6 mb-4" style="display: flex; padding-right: 0px; padding-left:18px; margin-bottom: 18px !important;">
                <a href="{{.link}}">
                  <div class="feature-card help-block text-left" >
                    <div class="{{.icon}}" style="margin:16px 0;"></div>
                    <p class="help-h" style="text-align: left;">{{ .name }}</p>
                    <p class="feature-p" style="text-align: left;">{{ .content }}</p>
                  </div>
                </a>
              </div>
            {{ end }}
        </div>
        {{ else }}
        <div class="tab-pane fade" id="{{ .title }}" role="tabpanel" aria-labelledby="{{ .title }}-tab">
            {{ range .featuredpoints }}
              <div class="col-md-6 col-sm-6 mb-4" style="display: flex; padding-right: 0px; padding-left:18px; margin-bottom: 18px !important;">
                <a href="{{.link}}">
                  <div class="feature-card help-block text-left">
                    <div class="{{.icon}}" style="margin:16px 0;"></div>
                    <p class="help-h" style="text-align: left;">{{ .name }}</p>
                    <p class="feature-p" style="text-align: left;">{{ .content }}</p>
                  </div>
                </a>
              </div>
            {{ end }}
        </div>
        {{ end }}

        {{ end }}
      </div>

    </div>

  </div>
</section>
{{ end }}
{{ end }}