{{ with .Params.article }}
<div class="main">
    <p class="title">{{ .title | markdownify }}</p>
    <p class="content">{{ .content | markdownify }}</p>
    {{ if (ne .Type "home")}}
        <div class="input-icons" id="mainArticleSearch">
            <div class="search-icon" style="margin: 13px 0 0 45px;"></div>
            <input class="input-field" 
            type="button" 
            style="width: 90%; display: block; margin: 0 auto;"
            onclick="openGlobalsearch()" 
            value="Search documents">
        </div>
    {{ else }}
        <div class="input-icons" id="homeArticleSearch">
            <div class="search-icon" style="margin: 13px 0 0 45px;"></div>
            <input class="input-field" 
            type="button" 
            style="width: 90%; display: block; margin: 0 auto;"
            onclick="openGlobalsearch()" 
            value="Search documents">
        </div>
    {{ end }}
</div>
{{ end }}

<div class="zcf-banner-section">
    <div class="content-wrap bottom-animated middle-animated animated">
        <div class="zcf-banner-shapes">
            <span class="zcf-shapes shape1"></span>
            <span class="zcf-shapes shape2"></span>
            <span class="zcf-shapes shape3"></span>
            <span class="zcf-shapes shape4"></span>
            <span class="zcf-shapes shape5"></span>
            <span class="zcf-shapes shape6"></span>
            <span class="zcf-shapes shape7"></span>
            <span class="zcf-shapes shape8"></span>
            <span class="zcf-shapes shape9"></span>
        </div>
    </div>
</div>