{{ with .Params.feature }}
{{ if .enable }}
<section style="margin:150px 0;" id="indexFeatures">
  <div class="container">
    <div class="row">
      {{ range .feature_item }}
      <div>
        <a href="{{.url}}">
        <div class="feature-card feature" style="height: 218px;">
            <div class="{{.icon}}" style="margin:20px 0;"></div>
            <p class="mb-2 feature-h" style="font: normal normal 24px/28px zoho-puvi-medium;">{{ .name | title }}</p>
            <p class="feature-p" style="color: var(--font-lite-body-color);">{{ .content | markdownify }}</p>
        </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}