{{ with .Params.sdk }}
{{ if .enable }}
<section style="margin:132px 0 150px 0;" id="indexSdk">
  <div class="container" style="background-color: var(--body-color);">
    <p style="text-align: left; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; font: normal normal 600 40px/60px zoho-puvi-semibold; margin-bottom: 40px;">SDK’s and Toolkits</p>
    <div class="row" style="margin: 0 -10px;">
      {{ range .sdk_item }}
      <div style="margin: 0 10px 20px 10px !important; justify-content: space-around;">
        <a href="{{.link}}">
          <div class="feature-card sdk text-center">
              <div class="{{.icon}}" style="margin:10px auto; "></div>
              <p class="feature-p" style="text-align: center;">{{ .name | title }}</p>
          </div>
        </a>
      </div>
      {{ end }}

    </div>
  </div>
</section>
{{ end }}
{{ end }}