<style>
    .accordion1 {
      font: normal normal normal 16px/24px zoho-puvi-regular;
      background-color: var(--menu-color);
      color: var(--font-menu-color);
      border: 1px solid var(--hr-color);
      cursor: pointer;
      padding: 20px 21px 20px 16px;
      width: 100%;
      display: flex;
      text-align: left;
      margin-bottom:16px;
      border-radius: 2px;
      outline: none !important; 
      box-shadow: 0 0 0 0;
    }
    .accordion2 {
      background-color: var(--body-color);
      color: var(--font-blue-color);
      cursor: pointer;
      padding: 13px;
      width: 100%;
      margin-bottom:16px;
      border-radius: 2px;
      outline: none !important; 
      border: 1px solid var(--hr-color);
      text-align: center;
      box-shadow: 0 0 0 0;
    }
    
    .active1, .accordion1:hover {
      background-color: var(--menu-color);
    }
    
    .accordion1:after {
      content: '\002B';
      color: var(--font-lite-body-color);
      font-weight: 0;
      float: right;
      font-size: 30px;
      margin-left: auto;
    }
    
    .active1:after {
      content: "\2212";
    }
    
    .panel1 {
      padding: 0 18px;
      background-color: var(--body-color);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
</style>
    
{{ with .Params.faq }}
{{ if .enable }}
<section id="help_component" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600" data-aos-once="true" style="margin-bottom: 0px;">
  <div class="container">

    <div class="row justify-content-center">
      <div class="d-md-none d-lg-none d-sm-block">
        <ol>
            {{ range .faq_item }}
            <button class="accordion1">{{ .question }}</button>
            <div class="panel1">
                <p class="feature-p">{{ .answer }}</p>
            </div>
            {{ end }}
        </ol>
      </div>

      <div id="nav-pills-out" class="d-none d-md-block nav flex-column nav-pills col-md-5" id="v-pills-tab"
        role="tablist" aria-orientation="vertical" style="padding-right: 0px !important;">
        <p style="text-align: left; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; font: normal normal 600 40px/60px zoho-puvi-semibold; margin-bottom: 24px !important;">Frequently Asked <br> Questions</p>
        <p class="feature-p">{{ .content }}</p>
      </div>

      <div class="tab-content col-md-6 d-none d-md-block" style="padding-right:0px; padding-left: 0px !important; margin-left: auto;">
        <div id="accordion1">
            {{ range .faq_item }}
            <button class="accordion1">{{ .question }}</button>
            <div class="panel1">
                <p class="faq-p">{{ .answer }}</p>
            </div>
            {{ end }}
            <a href="{{ .link }}">
              <button class="accordion2">View all FAQ</button>
            </a>
        </div>  
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<script>
    var acc = document.getElementsByClassName("accordion1");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active1");
        var panel1 = this.nextElementSibling;
        if (panel1.style.maxHeight) {
          panel1.style.maxHeight = null;
        } else {
          panel1.style.maxHeight = panel1.scrollHeight + "px";
        } 
      });
    }
</script>
    