<div class="logo" id="responsiveSidebarToHide">
    <a class="logo-anchor" href="{{.Site.BaseURL}}">
      <div class="catalyst-logo"></div>
      <div class="logo-title-block">
        <p class="logo-product-name">Catalyst</p>
        <p class="logo-company-name">by Zoho</p>
      </div> 
    </a>
</div>
<div class="close-sidebar" onclick="showSideBar()">
    <div class="close-sidebar-icon"></div>
    <p class="close-p">Close</p>
</div>

<div style="width: 370px; padding: 13px 100px 20px 30px; z-index: 1; background-color: var(--menu-color); margin-top: 75px">
    <p class="menu-title">ON THIS SDK</p>
    <div class="customselect" style="width: 310px; height: 44px;">
        {{ with .Params.version }}
        <select class="custom-select tutorial-filter" version="{{.current_version}}">
          {{ range .version_item }}
            <option url="{{.url}}" value="{{.name}}">{{.name}}</option>
            {{ end }}
        </select>
        {{ end }}
    </div>
</div>

<div class="search" style="top: 165px; z-index: 1;">
  <div class="input-icons">
    <div class="shortlist" ></div>
    <input class="input-field" data-search-input id="search-by" type="text" placeholder="Filter topics"  style="width: 310px;">
  </div>
</div>

<script>
  //TSDK Change Directory
  var initialLoading = function(){
  if(document.querySelector("select")){
      var version = document.querySelector("select").getAttribute("version");
      var ele = document.querySelectorAll("select option");
      for(var i=0;i<ele.length;i++){
          if(ele[i].innerText == version){
              ele[i].selected = true;
              break;
          }
      }
  }
  }();
  function changeDirectory(e){
  var selected_value = e.innerText;
  var ele = e.parentElement.parentElement.querySelectorAll("option");
  for(var i=0;i<ele.length;i++){
      if(ele[i].innerText == selected_value){
          window.location.href=ele[i].getAttribute("url");
      }
  }
  }
</script>