  <div class="rating-form no-print" id="color-change">
    <div class="request-sec">
      <div class="yes-no">
        {{ if (eq .Type "tutorial-apps") }}
        <p class="rating-qtn">Was this tutorial helpful?</p>
        {{ else }}
        <p class="rating-qtn">Was this document helpful?</p> 
        {{ end }}
        <div class="yes-no-container">
          <div class="yes-no-btn yes-btn" onclick="submitRating('Yes');">
            <div class="thumbsup"></div>
            <p style="color:var(--font-blue-color);">Yes</p>
          </div>
          <div class="yes-no-btn no-btn" onclick="submitRating('No');">
            <div class="thumbsdown" tabindex="1"></div>
            <p style="color:var(--font-blue-color);">No</p>
          </div>
        </div>
      </div>
      <div class="feedback-sec">
        <p>Send feedback to us</p>
        <div class="form-group">
          <input class="form email-field" type="text" placeholder="Your mail id" id="feedback_email" style="height: 34px; ">
        </div>
        <div class="form-group">
          <textarea class="form email-field" placeholder="Want to say any additional feedbacks?" id="feedback_email"></textarea>
        </div>
        <div style="display: flex;">
          <button class="skip-btn" onclick="submitFeedback();">Skip</button>
          <button class="submit-btn" onclick="submitFeedback();">Submit</button> 
        </div>
      </div>
    </div>
    <div class="reponse-sec"><p>Thank you for your feedback!</p></div>
  </div>