<style>
    .theme{
        width: 120px;
        height: 37px;
        right: 30px;
        position: absolute;
        background-color: var(--menu-color);
        color: var(--font-lite-body-color);
        font: normal normal normal 13px/16px zoho-puvi-regular;
        border: 1px solid var(--hr-color);
        border-radius: 2px;
        outline: none !important; 
        box-shadow: 0 0 0 0;
        padding:10px;
        display: flex;
    }
    .language{
        width: 120px;
        height: 37px;
        right: 170px;
        position: absolute;
        background-color: var(--menu-color);
        color: var(--font-lite-body-color);
        font: normal normal normal 13px/16px zoho-puvi-regular;
        border: 1px solid var(--hr-color);
        border-radius: 2px;
        outline: none !important; 
        box-shadow: 0 0 0 0;
        padding:10px;
        display: flex;
    }
    .light-icon{
        background: url('/images/DarkPages.svg') no-repeat -121px -29px;
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
    .dark-icon{
        background: url('/images/DarkPages.svg')no-repeat -473px -30px;
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }
    .lang-icon{
        background: var(--lang-icon) no-repeat -387px -30px;
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }
    .lightbutton{
        background: url('/images/DarkPages.svg') no-repeat -121px -29px;
        width: 16px;
        height: 16px;
        margin:3px 5px 0 0;
    }
    .darkbutton{
        background: url('/images/DarkPages.svg')no-repeat -473px -30px;
        width: 13px;
        height: 13px;
        margin: 5px 5px 0 3px;
    }
    .themebutton{
        position: absolute;
        bottom: 80px;
        display: none;
        right: 10px;
        background-color: var(--body-color);
        color: var(--font-lite-body-color);
        width: 206px;
        height: 123px;
        padding:15px;
        border: 1px solid var(--hr-color);
    }
</style>
<div class="themebutton" id="div1">
    <div style="font: normal normal 600 13px/16px zoho-puvi-semibold; color:var(--font-lite-body-color); margin:5px 10px;">Select theme</div>
    <div style="display: flex; margin:10px 0; cursor: pointer;" id="setlight">
        <div class="lightbutton"></div><div style="font: normal normal normal 13px/16px zoho-puvi-regular; color:var(--font-lite-body-color); margin:5px 10px;" onClick="window.location.reload();">Light theme</div>
    </div>
    <div style="display: flex; margin:10px 0; cursor: pointer;" id="setdark">
        <div class="darkbutton"></div><div style="font: normal normal normal 13px/16px zoho-puvi-regular; color:var(--font-lite-body-color); margin:5px 10px;" onClick="window.location.reload();">Dark theme</div>
    </div>
</div>
<button class="language"><div class="lang-icon"></div><div>English (US)</div></button>
<button id="dark-mode-button" class="theme">
</button>
<script src='{{"js/theme.js" | relURL}}'></script>