<style>
    .round {
        position: relative;
    }

    .round label {
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 15px;
        left: 0;
        position: absolute;
        top: 0;
        width: 15px;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

    .round label:after {
        border: 1px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 8px;
    }

    .round input[type="checkbox"]:checked + label {
        background-color: #448bff;
        border: none;
    }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .round input[type="checkbox"] + label {
        border:1px solid var(--font-lite-body-color);
        background-color: var(--body-color);
    }
    .theme{
        width: 120px;
        height: 37px;
        right: 30px;
        position: absolute;
        background-color: var(--menu-color);
        color: var(--font-lite-body-color);
        font: normal normal normal 13px/16px zoho-puvi-regular;
        border: 1px solid var(--hr-color);
        border-radius: 2px;
        outline: none !important; 
        box-shadow: 0 0 0 0;
        padding:10px;
        display: flex;
    }
    .language{
        width: 120px;
        height: 37px;
        right: 170px;
        position: absolute;
        background-color: var(--menu-color);
        color: var(--font-lite-body-color);
        font: normal normal normal 13px/16px zoho-puvi-regular;
        border: 1px solid var(--hr-color);
        border-radius: 2px;
        outline: none !important; 
        box-shadow: 0 0 0 0;
        padding:10px;
        display: flex;
    }
    .light-icon{
        background: var(--lang-icon) no-repeat -430px -30px;
        width: 13px;
        height: 13px;
        margin-right: 6px;
        margin-top:1px;
    }
    .dark-icon{
        background: var(--lang-icon) no-repeat -473px -30px;
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }
    .lang-icon{
        background: var(--lang-icon) no-repeat -387px -30px;
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }
    .lightbutton{
        background: var(--lang-icon) no-repeat -430px -30px;
        width: 13px;
        height: 13px;
        margin:5px 5px 0 0;
    }
    .darkbutton{
        background: var(--lang-icon) no-repeat -473px -30px;
        width: 13px;
        height: 13px;
        margin: 5px 5px 0 3px;
    }
    .themebutton{
        position: absolute;
        bottom: 80px;
        right: 10px;
        display: none;
        background-color: var(--body-color);
        color: var(--font-lite-body-color);
        width: 206px;
        height: 123px;
        padding:15px 20px;
        border: 1px solid var(--hr-color);
    }
</style>
<div class="themebutton" id="div1">
    <div style="font: normal normal 600 13px/16px zoho-puvi-semibold; color:var(--font-lite-body-color); margin:5px 10px 5px 0px;">Select theme</div>
    <div style="display: flex; margin:10px 0; cursor: pointer;" id="setlight">
        <div class="lightbutton"></div>
        <div style="font: normal normal normal 13px/16px zoho-puvi-regular; color:var(--font-lite-body-color); margin:5px 6px;">
            Light theme
        </div>
        <div class="round">
            <input type="checkbox" id="checkbox-light"/>
            <label for="checkbox-light" style="margin-left: 45px; margin-top: 5px;"></label>
        </div>
    </div>
    <div style="display: flex; margin:10px 0; cursor: pointer;" id="setdark">
        <div class="darkbutton"></div>
        <div style="font: normal normal normal 13px/16px zoho-puvi-regular; color:var(--font-lite-body-color); margin:5px 6px;">
            Dark theme
        </div>
        <div class="round">
            <input type="checkbox" id="checkbox-dark"/>
            <label for="checkbox-dark" style="margin-left: 45px; margin-top: 5px;"></label>
        </div>
    </div>
</div>
<button class="language"><div class="lang-icon"></div><div>English (US)</div></button>
<button id="dark-mode-button" class="theme" onclick="themeswitching()">
</button>
<script src='{{"js/theme.js" | relURL}}'></script>

<script>
    function themeswitching(){
    const rootElement = document.documentElement; 
    const darkModeStorageKey = 'user-color-scheme'; 
    const rootElementDarkModeAttributeName = 'data-user-color-scheme';
    const darkModeTogglebuttonElement = document.getElementById('dark-mode-button');
    const visible = document.getElementById("div1");
    const setLight = document.getElementById('setlight');
    const setDark = document.getElementById('setdark');

    const setLS = (k, v) => {
        try {
            localStorage.setItem(k, v);
        } catch (e) { }
    }

    const removeLS = (k) => {
        try {
            localStorage.removeItem(k);
        } catch (e) { }
    }

    const getLS = (k) => {
        try {
            return localStorage.getItem(k);
        } catch (e) {
            return null 
        }
    }

    const getModeFromCSSMediaQuery = () => {
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const resetRootDarkModeAttributeAndLS = () => {
        rootElement.removeAttribute(rootElementDarkModeAttributeName);
        removeLS(darkModeStorageKey);
    }

    const validColorModeKeys = {
        'dark': true,
        'light': true
    }

    const modeIcons = {
        'dark': '<div class="dark-icon"></div><div>Dark theme</div>',
        'light': '<div class="light-icon"></div><div>Light theme</div>'
    }

    const setModeButtonIcon = (mode) => {
        darkModeTogglebuttonElement.innerHTML = modeIcons[mode]
    }

    const applyCustomDarkModeSettings = (mode) => {
        const currentSetting = mode || getLS(darkModeStorageKey);

        if (currentSetting === getModeFromCSSMediaQuery()) {
            nowMode = getModeFromCSSMediaQuery()
            resetRootDarkModeAttributeAndLS();
        } else if (validColorModeKeys[currentSetting]) {
            nowMode = currentSetting
            rootElement.setAttribute(rootElementDarkModeAttributeName, currentSetting);
        } else {
            nowMode = getModeFromCSSMediaQuery()
            resetRootDarkModeAttributeAndLS();
        }
        setModeButtonIcon(nowMode)
      }

      if(visible.style.display == 'none') visible.style.display = 'none'; else visible.style.display = 'block';
      const localstorage = localStorage.getItem('user-color-scheme');
        if(localstorage == "dark"){
            document.getElementById("checkbox-light").checked=false;
            document.getElementById("checkbox-dark").checked=true;
        }
        else{
            document.getElementById("checkbox-light").checked=true;
            document.getElementById("checkbox-dark").checked=false;
        }

      darkModeTogglebuttonElement.addEventListener('click', () => {
        visible.style.display="block";
      })

      setLight.addEventListener('click', () => {
          let currentSetting = "light";
          setLS(darkModeStorageKey, currentSetting);
          applyCustomDarkModeSettings(currentSetting);
          visible.style.display="none";
          minitheme(currentSetting);
      })

      setDark.addEventListener('click', () => {
          let currentSetting = "dark";
          setLS(darkModeStorageKey, currentSetting);
          applyCustomDarkModeSettings(currentSetting);
          document.getElementById("checkbox-light").checked=false;
          document.getElementById("checkbox-dark").checked=true;
          visible.style.display="none";
          minitheme(currentSetting);
      })

      const minitheme = (change) => {
        const ls = localStorage.getItem('user-color-scheme');
        if (ls == 'dark') {
        const themeSwitcher = document.getElementsByName('theme-switch');
        for (var i = 0; i < themeSwitcher.length; i++) {
            themeSwitcher[i].checked = true;
            console.log("hello")
        }
        const theme = document.getElementsByName('codetheme');
        for (var i = 0; i < theme.length; i++) {
            console.log(theme[i]);
            theme[i].classList.remove('light');
            theme[i].classList.add('dark');
            theme[i].classList.remove('light1');
            theme[i].classList.add('dark1');
        }
        const icontheme = document.getElementsByName('icontheme');
        for (var i = 0; i < icontheme.length; i++) {
            icontheme[i].classList.remove('code-light-icon');
            icontheme[i].classList.add('code-dark-icon');
        }
        }
        else{
            const themeSwitcher = document.getElementsByName('theme-switch');
            for (var i = 0; i < themeSwitcher.length; i++) {
                themeSwitcher[i].checked = true;
                console.log("hellolight")
            }
            const theme = document.getElementsByName('codetheme');
            for (var i = 0; i < theme.length; i++) {
                console.log(theme[i]);
                theme[i].classList.remove('dark');
                theme[i].classList.add('light');
                theme[i].classList.remove('dark1');
                theme[i].classList.add('light1');
            }
            const icontheme = document.getElementsByName('icontheme');
            for (var i = 0; i < icontheme.length; i++) {
                icontheme[i].classList.remove('code-dark-icon');
                icontheme[i].classList.add('code-light-icon');
            }
        }
      }
  }

</script>