<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}

<section class="tutorial-page">

  <div class="container" style="padding: 0;">

  <div class="tutorial-list">
    <div class="input-icons">
      <div class="search-icon"></div>
      <input class="input-field" 
      type="text" 
      id="tutorialLocalSearch"
      placeholder="Search Topics & Tutorials"
      >
    </div>
    <div class="tutorial-select-filter">
      <div class="customselect">
        <select class="custom-select tutorial-filter">
            <option value="AllLevels" selected>All Levels</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Hard">Hard</option>
        </select>
      </div>
      <div class="customselect" style="margin-left: 20px;">
        <select class="custom-select tutorial-filter">
            <option value="AllLanguages" selected>All Languages</option>
            <option value="Java">Java</option>
            <option value="NodeJS">Node JS</option>
        </select>
      </div>
      <div class="customselect" style="margin-left: 20px;">
        <select class="custom-select tutorial-filter">
            <option value="AllDurations" selected>All Durations</option>
            <option value="forty-mins">40 mins</option>
            <option value="fortyfive-mins">45 mins</option>
            <option value="sixty-mins">60 mins</option>
        </select>
      </div>
    </div>
  </div>

  <div class="tutorial-block">
    {{ range .feature_item }}
    <div 
      class="filterContent {{.level}} {{.duration}} {{.language1}} {{.language2}}" 
      url="{{.url}}" 
      level="{{.level}}"
      duration="{{.duration}}"
      name="{{.name}}"
      content="{{.content}}" 
      language1="{{.language1}}"
      language1_url="{{.language1_url}}"
      language2="{{.language2}}"
      language2_url="{{.language2_url}}"
     >
    </div>
    {{ end }}
    <div class="tutorial-block" id="demo"></div>
    <div class="tutorial-block" id="demo1" style="margin-left: auto; margin-right: auto;"></div>
  </div>
  </div>

</section>
{{ end }}
{{ end }}
<!-- /feature -->
<script>
  var initialLoading = function(){
    filterContent();
  }();
  function filterContent(){
    document.getElementById("demo").innerHTML="";
    document.getElementById("demo1").innerHTML="";
    var a = document.querySelectorAll("select.custom-select");
    var level = a[0].value;
    var language = a[1].value;
    var duration = a[2].value;

    if(level == "AllLevels" && language =="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent`);
    }
    else if(level != "AllLevels" && language =="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}`);
    }
    else if(level == "AllLevels" && language !="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${language}`);
    }
    else if(level == "AllLevels" && language =="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${duration}`);
    }
    else if(level != "AllLevels" && language !="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${language}`);
    }
    else if(level == "AllLevels" && language !="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${language}.${duration}`);
    }
    else if(level != "AllLevels" && language =="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${duration}`);
    }
    else if(level != "AllLevels" && language !="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${language}.${duration}`);
    }
    if(showableContent.length == 0){
      document.getElementById("demo1").innerHTML = "";
    }
    else{
      for(var i=0;i<showableContent.length;i++){
        var url = showableContent[i].getAttribute("url");
          var time = showableContent[i].getAttribute("duration");
          if(time == "forty-mins"){
            time = "40 mins";
          }
          if(time == "fortyfive-mins"){
            time = "45 mins";
          }
          if(time == "sixty-mins"){
            time = "60 mins";
          }

          var name,language1,language2,local_lang1,local_lang2,language1_url,language2_url,status,status1="",status2="";
          name = showableContent[i].getAttribute("name");
          language1 = showableContent[i].getAttribute("language1");
          language2 = showableContent[i].getAttribute("language2");
          local_lang1 = name.replace(/\s/g,'')+"-"+language1.replace(/\s/g,'');
          local_lang2 = name.replace(/\s/g,'')+"-"+language2.replace(/\s/g,'');
          if(JSON.parse(localStorage.getItem(local_lang1)) && (JSON.parse(localStorage.getItem(local_lang1)).status!="completed")){
            language1_url = JSON.parse(localStorage.getItem(local_lang1)).current_step;
          }else{
            language1_url = showableContent[i].getAttribute("language1_url");
            status = "";
          }
          if(JSON.parse(localStorage.getItem(local_lang1))){
            status1 = JSON.parse(localStorage.getItem(local_lang1)).status;
          }
          if(JSON.parse(localStorage.getItem(local_lang2)) && (JSON.parse(localStorage.getItem(local_lang2)).status!="completed")){
            language2_url = JSON.parse(localStorage.getItem(local_lang2)).current_step;
          }else{
            language2_url = showableContent[i].getAttribute("language2_url");
            status = "";
          }
          if(JSON.parse(localStorage.getItem(local_lang2))){
            status2 = JSON.parse(localStorage.getItem(local_lang2)).status;
          }
          if(status1=="completed"){
            status="completed";
          }else if(status2=="completed"){
            status="completed";
          }else if((status1 == "ongoing") || (status2 == "ongoing")){
            status="ongoing";
          }else{
            status="";
          }
          if(status == "ongoing"){
            var node = document.createElement("div");
            node.innerHTML = `
                <div onclick="tutorial_call(this)" class="feature-card feature cp tutorialSearchFun" java="${language1_url}" node="${language2_url}">
                  <div style="display: flex;">
                    <p class="tutorial-box-text">${showableContent[i].getAttribute("level")}</p>
                    <p class="tutorial-box-text">${time}</p>
                    <div class="tutorial-status-block ${status}">
                      <div class="${status}-icon"></div>
                      <p class="status-text">${status}</p>
                    </div>
                  </div>
                    <p class="mb-2 feature-h">${name}</p>
                    <p class="feature-p">${showableContent[i].getAttribute("content")}</p>
                    <div class="lang-block">
                      <a href="${language1_url}" onclick="set_prefer_lang(this)">${language1}</a>
                      <a href="${language2_url}" onclick="set_prefer_lang(this)">${language2}</a>
                    </div>
                </div>`;
            document.getElementById("demo").appendChild(node);
          }
      }for(var i=0;i<showableContent.length;i++){
        var url = showableContent[i].getAttribute("url");
          var time = showableContent[i].getAttribute("duration");
          if(time == "forty-mins"){
            time = "40 mins";
          }
          if(time == "fortyfive-mins"){
            time = "45 mins";
          }
          if(time == "sixty-mins"){
            time = "60 mins";
          }

          var name,language1,language2,local_lang1,local_lang2,language1_url,language2_url,status,status1="",status2="";
          name = showableContent[i].getAttribute("name");
          language1 = showableContent[i].getAttribute("language1");
          language2 = showableContent[i].getAttribute("language2");
          local_lang1 = name.replace(/\s/g,'')+"-"+language1.replace(/\s/g,'');
          local_lang2 = name.replace(/\s/g,'')+"-"+language2.replace(/\s/g,'');
          if(JSON.parse(localStorage.getItem(local_lang1)) && (JSON.parse(localStorage.getItem(local_lang1)).status!="completed")){
            language1_url = JSON.parse(localStorage.getItem(local_lang1)).current_step;
          }else{
            language1_url = showableContent[i].getAttribute("language1_url");
            status = "";
          }
          if(JSON.parse(localStorage.getItem(local_lang1))){
            status1 = JSON.parse(localStorage.getItem(local_lang1)).status;
          }
          if(JSON.parse(localStorage.getItem(local_lang2)) && (JSON.parse(localStorage.getItem(local_lang2)).status!="completed")){
            language2_url = JSON.parse(localStorage.getItem(local_lang2)).current_step;
          }else{
            language2_url = showableContent[i].getAttribute("language2_url");
            status = "";
          }
          if(JSON.parse(localStorage.getItem(local_lang2))){
            status2 = JSON.parse(localStorage.getItem(local_lang2)).status;
          }
          if(status1=="completed"){
            status="completed";
          }else if(status2=="completed"){
            status="completed";
          }else if((status1 == "ongoing") || (status2 == "ongoing")){
            status="ongoing";
          }else{
            status="";
          }
          if(status == ""){
            var node = document.createElement("div");
            node.innerHTML = `
                <div onclick="tutorial_call(this)" class="feature-card feature cp tutorialSearchFun" java="${language1_url}" node="${language2_url}">
                  <div style="display: flex;">
                    <p class="tutorial-box-text">${showableContent[i].getAttribute("level")}</p>
                    <p class="tutorial-box-text">${time}</p>
                    <div class="tutorial-status-block ${status}">
                      <div class="${status}-icon"></div>
                      <p class="status-text">${status}</p>
                    </div>
                  </div>
                    <p class="mb-2 feature-h">${name}</p>
                    <p class="feature-p">${showableContent[i].getAttribute("content")}</p>
                    <div class="lang-block">
                      <a href="${language1_url}" onclick="set_prefer_lang(this)">${language1}</a>
                      <a href="${language2_url}" onclick="set_prefer_lang(this)">${language2}</a>
                    </div>
                </div>`;
            document.getElementById("demo").appendChild(node);
          }
      }
      for(var i=0;i<showableContent.length;i++){
        var url = showableContent[i].getAttribute("url");
          var time = showableContent[i].getAttribute("duration");
          if(time == "forty-mins"){
            time = "40 mins";
          }
          if(time == "fortyfive-mins"){
            time = "45 mins";
          }
          if(time == "sixty-mins"){
            time = "60 mins";
          }

          var name,language1,language2,local_lang1,local_lang2,language1_url,language2_url,status,status1="",status2="";
          name = showableContent[i].getAttribute("name");
          language1 = showableContent[i].getAttribute("language1");
          language2 = showableContent[i].getAttribute("language2");
          local_lang1 = name.replace(/\s/g,'')+"-"+language1.replace(/\s/g,'');
          local_lang2 = name.replace(/\s/g,'')+"-"+language2.replace(/\s/g,'');
          if(JSON.parse(localStorage.getItem(local_lang1)) && (JSON.parse(localStorage.getItem(local_lang1)).status!="completed")){
            language1_url = JSON.parse(localStorage.getItem(local_lang1)).current_step;
          }else{
            language1_url = showableContent[i].getAttribute("language1_url");
            status = "";
          }
          if(JSON.parse(localStorage.getItem(local_lang1))){
            status1 = JSON.parse(localStorage.getItem(local_lang1)).status;
          }
          if(JSON.parse(localStorage.getItem(local_lang2)) && (JSON.parse(localStorage.getItem(local_lang2)).status!="completed")){
            language2_url = JSON.parse(localStorage.getItem(local_lang2)).current_step;
          }else{
            language2_url = showableContent[i].getAttribute("language2_url");
            status = "";
          }
          if(JSON.parse(localStorage.getItem(local_lang2))){
            status2 = JSON.parse(localStorage.getItem(local_lang2)).status;
          }
          if(status1=="completed"){
            status="completed";
          }else if(status2=="completed"){
            status="completed";
          }else if((status1 == "ongoing") || (status2 == "ongoing")){
            status="ongoing";
          }else{
            status="";
          }
          if(status == "completed"){
            var node = document.createElement("div");
            node.innerHTML = `
                <div onclick="tutorial_call(this)" class="feature-card feature cp tutorialSearchFun" java="${language1_url}" node="${language2_url}">
                  <div style="display: flex;">
                    <p class="tutorial-box-text">${showableContent[i].getAttribute("level")}</p>
                    <p class="tutorial-box-text">${time}</p>
                    <div class="tutorial-status-block ${status}">
                      <div class="${status}-icon"></div>
                      <p class="status-text">${status}</p>
                    </div>
                  </div>
                    <p class="mb-2 feature-h">${name}</p>
                    <p class="feature-p">${showableContent[i].getAttribute("content")}</p>
                    <div class="lang-block">
                      <a href="${language1_url}" onclick="set_prefer_lang(this)">${language1}</a>
                      <a href="${language2_url}" onclick="set_prefer_lang(this)">${language2}</a>
                    </div>
                </div>`;
            document.getElementById("demo").appendChild(node);
          }
      }
    }
  }
  function tutorial_call(e){
    if(localStorage.getItem("user-prefer-language") == "Java"){
      window.location.href=e.getAttribute("java");
    }else if(localStorage.getItem("user-prefer-language") == "NodeJS"){
      window.location.href=e.getAttribute("node");
    }else{
      window.location.href=e.getAttribute("java");
    }
  }
  function set_prefer_lang(e){
    localStorage.setItem("user-prefer-language", e.innerText);
    $(this).stopPropagation();
  }

</script>