<style>
  .tutorial-filter{
    background-color: var(--menu-color); 
    font: 14px/17px zoho-puvi-regular; 
    padding-left: 8px;         
    outline: none !important; 
    box-shadow: 0 0 0 0 !important;
    border-color: var(--hr-color);
  }
</style>
<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}

<section style="margin:100px 0 0 0;">

  <div class="container" style="background-color: var(--body-color);">

  <div style="width: 100%; margin: 0 auto; display: flex; padding-bottom: 20px; border-bottom: 1px solid var(--hr-color); margin-bottom: 40px;">
    <div class="searchbox" style="float: left; display: flex; height: 44px!important;">
      <div class="search-icon"></div>
      <input class="src-input" style="padding: 0px;" name="query" placeholder="Search Topics & Tutorials" type="text">
    </div>
    <div style="display: flex; margin-left: auto;">
      <div class="customselect" style="margin-top: 10px;">
        <select class="custom-select tutorial-filter">
            <option value="AllLevels" selected>All Levels</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Hard">Hard</option>
        </select>
      </div>
      <div class="customselect" style="margin-left: 40px; margin-top: 10px;">
        <select class="custom-select tutorial-filter">
            <option value="AllLanguages" selected>All Languages</option>
            <option value="Java">Java</option>
            <option value="NodeJS">Node JS</option>
            <option value="Python">Python</option>
        </select>
      </div>
      <div class="customselect" style="margin-left: 40px; margin-top: 10px;">
        <select class="custom-select tutorial-filter">
            <option value="AllDurations" selected>All Durations</option>
            <option value="forty-mins">40 mins</option>
            <option value="fortyfive-mins">45 mins</option>
            <option value="sixty-mins">60 mins</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row justify-content-left" style="margin-left: 0px;">
    {{ range .feature_item }}
    <div 
      class="filterContent {{.level}} {{.duration}} {{.language1}} {{.language2}} {{.language3}}" 
      url="{{.url}}" 
      level="{{.level}}"
      duration="{{.duration}}"
      name="{{.name}}"
      content="{{.content}}" 
      language1="{{.language1}}"
      language2="{{.language2}}"
      language3="{{.language3}}"
     >
    </div>
    {{ end }}
    <div class="row justify-content-left" id="demo"></div>
    <div class="row justify-content-center" id="demo1" style="margin-left: auto; margin-right: auto;"></div>
  </div>
  </div>

</section>
{{ end }}
{{ end }}
<!-- /feature -->
<script>
  var initialLoading = function(){
    filterContent();
  }();
  function filterContent(){
    document.getElementById("demo").innerHTML="";
    document.getElementById("demo1").innerHTML="";
    var a = document.querySelectorAll("select.custom-select");
    var level = a[0].value;
    var language = a[1].value;
    var duration = a[2].value;

    if(level == "AllLevels" && language =="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent`);
    }
    else if(level != "AllLevels" && language =="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}`);
    }
    else if(level == "AllLevels" && language !="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${language}`);
    }
    else if(level == "AllLevels" && language =="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${duration}`);
    }
    else if(level != "AllLevels" && language !="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${language}`);
    }
    else if(level == "AllLevels" && language !="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${language}.${duration}`);
    }
    else if(level != "AllLevels" && language =="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${duration}`);
    }
    else if(level != "AllLevels" && language !="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${language}.${duration}`);
    }
    if(showableContent.length == 0){
      document.getElementById("demo1").innerHTML = `<p style="margin: auto;">No Tutorial is available for this filter</p> `;
    }
    else{
      for(var i=0;i<=showableContent.length;i++){
          var url = showableContent[i].getAttribute("url");
          var time = showableContent[i].getAttribute("duration");
          if(time == "forty-mins"){
            time = "40 mins";
          }
          if(time == "fortyfive-mins"){
            time = "45 mins";
          }
          if(time == "sixty-mins"){
            time = "60 mins";
          }
          var node = document.createElement("div");
          
          node.innerHTML = `
          <div class="col-md-4 col-sm-6 mb-4" style="padding-left:5px; margin-bottom: 18px !important;">
            <a href=${url}>
              <div class="feature-card feature">
                <div style="display: flex;">
                  <p style="background-color: var(--menu-color); color:var(--font-menu-color); padding:5px; margin-right:10px; font-size: 12px; text-transform: uppercase;">${showableContent[i].getAttribute("level")}</p>
                  <p style="background-color: var(--menu-color); color:var(--font-menu-color); padding:5px; margin-right:10px; font-size: 12px; text-transform: uppercase;">${time}</p>
                </div>
                  <p class="mb-2 feature-h" style="font: normal normal 24px/28px zoho-puvi-medium;">${showableContent[i].getAttribute("name")}</p>
                  <p class="feature-p">${showableContent[i].getAttribute("content")}</p>
                  <p style="color: var(--font-blue-color); font-size: 13px; word-spacing: 10px;">
                    ${showableContent[i].getAttribute("language1")}
                    ${showableContent[i].getAttribute("language2")}
                    ${showableContent[i].getAttribute("language3")}
                  </p>
              </div>
            </a>
          </div>`;
          document.getElementById("demo").appendChild(node);
      }
    }
  }
</script>