{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

{{- range .Site.Home.Sections.ByWeight}}
<!-- {{if eq .Type "tutorial-apps"}} -->
{{- template "section-tree-steps" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
<!-- {{end}} -->
{{- end}}

<!-- templates -->
{{- define "section-tree-steps" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.RelPermalink}}" class="
        dd-item
        {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
        {{- if ne $numberOfPages 0 }} haschildren{{end}}
        {{- if .Params.alwaysopen}} {{else}} StepProgress-item{{end}}
        " type="{{.Type}}">

      <div>
        {{- if ne $numberOfPages 0 }}
          {{- if .Params.alwaysopen}} 
            <a class="file" href="{{ .RelPermalink}}" style="display: none;">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
          {{else}}
            <a class="steps" href="{{ .RelPermalink}}" title="{{.LinkTitle}}">STEP {{safeHTML .Params.Pre}}{{.Weight}}{{safeHTML .Params.Post}}</a><br />
            <a class="file" href="{{ .RelPermalink}}" title="{{.LinkTitle}}">
              {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
            </a>
          {{end}}
        {{- end}}
      </div>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- $pages := .Pages }}
          {{- if .Sections}}
          {{- $pages = (.Pages | union .Sections) }}
          {{- end}}

          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-steps" dict "sect" . "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      {{if lt .Weight 0}}
        {{if or (eq .Title "Introduction") (eq .Title "Prerequisites")}} 
          <li data-nav-id="{{.RelPermalink}}" class="dd-item
            {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
          " type="{{.Type}}">
            <!-- <div style="margin-left: -40px;">
              <a class="file intro-file" href="{{ .RelPermalink}}" title="{{.LinkTitle}}">
                {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
              </a>
            </div> -->
            <div style="display: flex; margin-left: -33px;">
              <div class="StepProgress-child"></div>
              <a class="file" href="{{ .RelPermalink}}" title="{{.LinkTitle}}" style="margin-left: 10px;">
                {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
              </a>
            </div>
          </li>
        {{else}}
          <li data-nav-id="{{.RelPermalink}}" class="dd-item
            {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
          " style="padding-left: 10px;" type="{{.Type}}">
            <div style="display: flex;">
              <div class="StepProgress-child"></div>
              <a class="file" href="{{ .RelPermalink}}" title="{{.LinkTitle}}" style="margin-left: 10px;">
                {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
              </a>
            </div>
          </li>
        {{end}}
      {{else}}
        <li data-nav-id="{{.RelPermalink}}" class="dd-item
          {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
          {{- if .Params.alwaysopen}} {{else}} StepProgress-item{{end}}
        " type="{{.Type}}">
          <div>
            <a class="steps" href="{{ .RelPermalink}}" title="{{.LinkTitle}}">STEP {{safeHTML .Params.Pre}}{{.Weight}}{{safeHTML .Params.Post}}</a><br />
            <a class="file" href="{{ .RelPermalink}}" title="{{.LinkTitle}}">
              {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
            </a>
          </div>
        </li>
      {{end}}
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}