    <div class="logo" id="responsiveSidebarToHide" style="background-color: var(--body-color);">
        <a class="logo-anchor" href="{{.Site.BaseURL}}">
          <div class="catalyst-logo"></div>
          <div class="logo-title-block">
            <p class="logo-product-name">Catalyst</p>
            <p class="logo-company-name">by Zoho</p>
          </div> 
        </a>
    </div>
    <div class="close-sidebar" style="background: var(--body-color);" onclick="showSideBar()">
        <div class="close-sidebar-icon"></div>
        <p class="close-p">Close</p>
    </div>
    <div class="search" style="padding-left: 30px; z-index: 1; background-color: var(--body-color);">
        <p class="menu-title">ON THIS TUTORIAL</p>
        <div class="customselect" style="width: 240px; height: 34px;">
            <select class="custom-select tutorial-filter">
                <option value="Java" selected>Java</option>
                <option value="NodeJS">Node JS</option>
                <option value="Python">Python</option>
            </select>
        </div>
    </div>