<style type="text/css">
    .catalyst-logo{
        background: url('/images/CatalystLogo.svg') no-repeat 0 0;
        width: 28px;
        height: 32px;
    }
    .logo {
        border-bottom: 1px solid var(--hr-color);
        height: 75px;
        position: fixed;
        width: 370px;
        z-index: 2;
        top: 0px;
        display: flex;
        background-color: var(--body-color);
    }
    .menu-title {
        text-align: left;
        font: normal normal 600 12px/13px zoho-puvi-semibold;
        letter-spacing: 2.4px;
        color: var(--font-body-color);
        opacity: 1;
        margin-bottom: 20px;
    }
    .custom-select{
        text-align: left;
        font: normal normal normal 14px/17px zoho-puvi-regular !important;
        padding: 8.5px 10px !important;
        color: var(--font-body-color);
        background-color: var(--menu-color);
        border: 1px solid var(--hr-color) !important;
        outline: none !important; 
        box-shadow: 0 0 0 0 !important; 
    }
    /* stepper menu style */

    .StepProgress {
        position: relative;
        padding-left: 45px;
        list-style: none;
    }
    .StepProgress::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        width: 10px;
        height: 88%;
        border-left: 1px solid var(--font-lite-body-color);
        margin-top: 50px;
    }
    .StepProgress-item {
        position: relative;
        counter-increment: list;
    }
    .StepProgress-item:not(:last-child) {
        padding-bottom: 5px;
    }
    .StepProgress-item::before {
        display: inline-block;
        content: '';
        position: absolute;
        left: -30px;
        top: 5px;
        height: 62px;
        width: 10px;
    }
    .StepProgress-item::after {
        content: '\2022';
        display: inline-block;
        position: absolute;
        padding-top: 0px;
        width: 21px;
        height: 21px;
        top: 5px;
        left: -40.4px;
        text-align: center;
        font-size: 30px;
        border: 1px solid var(--font-lite-body-color);
        color: var(--font-menu-color);
        border-radius: 50%;
        background-color: var(--body-color);
    }
    .StepProgress-item.is-done::before {
        border-left: 1px solid var(--font-blue-color);
    }
    .StepProgress-item.is-done::after {
        content: "\2713";
        font-size: 12px;
        padding-top: 1px;
        color: var(--font-blue-color);
        text-align: center;
        border: 1px solid var(--font-blue-color);
        background-color: var(--body-color);
    }
    .StepProgress-item.current::after {
        content: '\2022';
        padding-top: 0px;
        width: 21px;
        height: 21px;
        top: 5px;
        left: -40.4px;
        font-size: 30px;
        text-align: center;
        color: var(--font-blue-color) !important;
        border: 1px solid var(--font-blue-color);
        background-color: var(--body-color);
    }
    .StepProgress-child{
        background-color: var(--font-lite-body-color); 
        width:5px; 
        height: 5px; 
        border-radius: 50%; 
        margin-top: 7px;
    }
    .childactive{
        background-color: var(--font-blue-color);
    }
</style>
    {{- if not .Site.Params.disableSearch}}
    <div class="logo">
        <a style="text-decoration: none; display: flex; margin:19px 0 21px 30px; padding:3px;" href="{{.Site.BaseURL}}">
          <div class="catalyst-logo"></div>
          <div style="display: block; margin-left: 12px; margin-top:1px;">
            <p style="font: 20px/20px zoho-puvi-medium; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; margin-bottom: 0px; margin-top: -2px;">Catalyst</p>
            <p style="font: 12px/14px zoho-puvi-regular; letter-spacing: 0px; color: var(--font-body-color); opacity: 1; padding-left: 0px;">by Zoho</p>
          </div> 
        </a>
    </div>
    <div class="search" style="margin-left: 40px;">
        <p class="menu-title">ON THIS TUTORIAL</p>
        <div style="width: 210px; height: 34px;">
            <select class="custom-select">
                <option value="0">Select language:</option>
                <option value="1" selected>Java</option>
                <option value="2">Node JS</option>
            </select>
        </div>
    </div>
    {{- end}}   