{{ if eq .Title "Introduction" }}
    <div class="TableOfContents" style="padding-bottom: 5px; margin-bottom: 15px;">
        {{ with .Params.component_involved }}
            {{ if .enable }}
            <p class="feature-p" style="padding:20px 20px 0px 20px;">Time to Complete : {{ .Duration }}</p>
            <p class="feature-p" style="margin:5px 20px;">Difficulty Level : {{ .Difficulty_level }}</p>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
{{ if eq .Title "Introduction" }}
    <div class="TableOfContents" style="padding-bottom: 5px;  margin-bottom: 15px;">
            <label>COMPONENTS INVOLVED</label>           
            {{ with .Params.component_involved }}
            {{ if .enable }}
                {{ range .component_item }}
                <a href="{{ .url }}">
                    <p class="feature-p" style="margin:0px 20px 10px 20px;">{{ .name }}</p>
                </a>
                {{ end }}
            {{ end }}
            {{ end }}
    </div>
{{ else }}
    <div class="TableOfContents" style="padding-bottom: 5px; margin-bottom: 15px;">
        <label>RELATED LINKS</label>           
        {{ with .Params.related_link }}
        {{ if .enable }}
            {{ range .related_link_item }}
            <a href="{{ .url }}">
                <p class="feature-p" style="margin:0px 20px 10px 20px;">{{ .name }}</p>
            </a>
            {{ end }}
        {{ end }}
        {{ end }}
    </div>
    <div class="TableOfContents" style="border: none; margin-top: 20px;">
        <div id="tutorialSidepage">
            {{ partial "suggestion-page.html"}}
        </div>
    </div>
{{ end }}


    
    