{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

{{- range .Site.Home.Sections.ByWeight}}
{{if eq .Type "tutorial-apps"}}
{{- template "section-tree-steps" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
{{end}}
{{- end}}

<!-- templates -->
{{- define "section-tree-steps" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.Permalink}}" class="
        dd-item
        {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
        {{- if ne $numberOfPages 0 }} haschildren{{end}}
        {{- if .Params.alwaysopen}} {{else}} StepProgress-item{{end}}
        ">

      <div>
        {{- if ne $numberOfPages 0 }}
          {{- if .Params.alwaysopen}} 
            <a href="{{ .RelPermalink}}" style="display: none;">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
          {{else}}
            <a href="{{ .RelPermalink}}" >STEP {{safeHTML .Params.Pre}}{{.Weight}}{{safeHTML .Params.Post}}</a><br />
            <a href="{{ .RelPermalink}}" style="color: var(--font-menu-color);">{{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
          {{end}}
        {{- end}}
      </div>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- $pages := .Pages }}
          {{- if .Sections}}
          {{- $pages = (.Pages | union .Sections) }}
          {{- end}}

          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-steps" dict "sect" . "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      {{if lt .Weight 0}}
        {{if eq .LinkTitle "Introduction"}}
          <li data-nav-id="{{.Permalink}}" class="dd-item
            {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
          " >
            <div>
              <a href="{{ .RelPermalink}}">
                {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
              </a>
            </div>
          </li>
        {{else}}
          <li data-nav-id="{{.Permalink}}" class="dd-item
            {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
          " style="padding-left: 10px;">
            <div style="display: flex;">
              <div class="StepProgress-child"></div>
              <a href="{{ .RelPermalink}}" style="margin-left: 10px;">
                {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
              </a>
            </div>
          </li>
        {{end}}
      {{else}}
        <li data-nav-id="{{.Permalink}}" class="dd-item
          {{- if eq .CurrentSection $currentNode.CurrentSection}} active{{end}}
          {{- if .Params.alwaysopen}} {{else}} StepProgress-item{{end}}
        ">
          <div>
            <a href="{{ .RelPermalink}}">STEP {{safeHTML .Params.Pre}}{{.Weight}}{{safeHTML .Params.Post}}</a><br />
            <a href="{{ .RelPermalink}}" style="color: var(--font-menu-color);">
              {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
            </a>
          </div>
        </li>
      {{end}}
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}

<script type="text/javascript">
    var matches = document.querySelectorAll(`li[data-nav-id$="${window.location.pathname}"]`);

    if (matches.length > 0) {
        var menu = matches[0];
        menu.classList.add("active");
        menu.classList.add("current");

        var maxDepth = 10; // Avoid infinite loop !
        var nextAncestor = menu.closest("li[data-nav-id]");
        while (maxDepth-- >= 0 && nextAncestor !== null) {
            nextAncestor.classList.add("parent");
            nextAncestor = nextAncestor.parentNode.closest("li[data-nav-id]");
        }
    }
    var done=document.querySelectorAll("li.dd-item");
    for(var i=0;i<done.length;i++){
        if(done[i].classList.value.includes("current")){
            break;
        }
        else{
            done[i].classList.add("is-done");
        }
    }
</script>