<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}

<section class="tutorial-page">

  <div class="container" style="padding: 0;">

  <div class="tutorial-list">
    <div class="input-icons">
      <div class="search-icon"></div>
      <input class="input-field" 
      type="text" 
      id="tutorialLocalSearch"
      placeholder="Search Topics & Tutorials"
      >
    </div>
    <div class="tutorial-select-filter">
      <div class="customselect" style="margin-top: 10px;">
        <select class="custom-select tutorial-filter">
            <option value="AllLevels" selected>All Levels</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Hard">Hard</option>
        </select>
      </div>
      <div class="customselect" style="margin-left: 40px; margin-top: 10px;">
        <select class="custom-select tutorial-filter">
            <option value="AllLanguages" selected>All Languages</option>
            <option value="Java">Java</option>
            <option value="NodeJS">Node JS</option>
            <option value="Python">Python</option>
        </select>
      </div>
      <div class="customselect" style="margin-left: 40px; margin-top: 10px;">
        <select class="custom-select tutorial-filter">
            <option value="AllDurations" selected>All Durations</option>
            <option value="forty-mins">40 mins</option>
            <option value="fortyfive-mins">45 mins</option>
            <option value="sixty-mins">60 mins</option>
        </select>
      </div>
    </div>
  </div>

  <div class="tutorial-block">
    {{ range .feature_item }}
    <div 
      class="filterContent {{.level}} {{.duration}} {{.language1}} {{.language2}} {{.language3}}" 
      url="{{.url}}" 
      level="{{.level}}"
      duration="{{.duration}}"
      name="{{.name}}"
      content="{{.content}}" 
      language1="{{.language1}}"
      language2="{{.language2}}"
      language3="{{.language3}}"
     >
    </div>
    {{ end }}
    <div class="tutorial-block" id="demo"></div>
    <div class="tutorial-block" id="demo1" style="margin-left: auto; margin-right: auto;"></div>
  </div>
  </div>

</section>
{{ end }}
{{ end }}
<!-- /feature -->
<script>
  var initialLoading = function(){
    filterContent();
  }();
  function filterContent(){
    document.getElementById("demo").innerHTML="";
    document.getElementById("demo1").innerHTML="";
    var a = document.querySelectorAll("select.custom-select");
    var level = a[0].value;
    var language = a[1].value;
    var duration = a[2].value;

    if(level == "AllLevels" && language =="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent`);
    }
    else if(level != "AllLevels" && language =="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}`);
    }
    else if(level == "AllLevels" && language !="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${language}`);
    }
    else if(level == "AllLevels" && language =="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${duration}`);
    }
    else if(level != "AllLevels" && language !="AllLanguages" && duration == "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${language}`);
    }
    else if(level == "AllLevels" && language !="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${language}.${duration}`);
    }
    else if(level != "AllLevels" && language =="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${duration}`);
    }
    else if(level != "AllLevels" && language !="AllLanguages" && duration != "AllDurations"){
      var showableContent = document.querySelectorAll(`.filterContent.${level}.${language}.${duration}`);
    }
    if(showableContent.length == 0){
      document.getElementById("demo1").innerHTML = "";
    }
    else{
      for(var i=0;i<showableContent.length;i++){

          var url = showableContent[i].getAttribute("url");
          var time = showableContent[i].getAttribute("duration");
          if(time == "forty-mins"){
            time = "40 mins";
          }
          if(time == "fortyfive-mins"){
            time = "45 mins";
          }
          if(time == "sixty-mins"){
            time = "60 mins";
          }
          var node = document.createElement("div");
          
          node.innerHTML = `
            <a href=${url} class="tutorialSearchFun">
              <div class="feature-card feature">
                <div style="display: flex;">
                  <p class="tutorial-box-text">${showableContent[i].getAttribute("level")}</p>
                  <p class="tutorial-box-text">${time}</p>
                </div>
                  <p class="mb-2 feature-h" style="font: normal normal 24px/28px zoho-puvi-medium;">${showableContent[i].getAttribute("name")}</p>
                  <p class="feature-p">${showableContent[i].getAttribute("content")}</p>
                  <p style="color: var(--font-blue-color); font-size: 13px; word-spacing: 10px;">
                    ${showableContent[i].getAttribute("language1")}
                    ${showableContent[i].getAttribute("language2")}
                    ${showableContent[i].getAttribute("language3")}
                  </p>
              </div>
            </a>`;
          document.getElementById("demo").appendChild(node);
      }
    }
  }
</script>