<style type="text/css"> 	  
	:root {
		--toggle-light: hsl(230, 22%, 74%);
		--toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
	}
	.switch {
		position: relative;
		display: block;
		width: 60px;
		height: 30px;
		right: -77px;
    	top: -41px;
		float: right;
	}

	.switch input {
		opacity: 0;
	}

	.light-icon{
        background: url('/images/DarkPages.svg') no-repeat -121px -29px;
        width: 16px;
        height: 16px;
    }

	.dark-icon{
        background: url('/images/DarkPages.svg')no-repeat -473px -30px;
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--toggle-light);
		transition: 0.4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 32px;
		bottom: 5px;
		background-color: #fff;
		transition: 0.4s;
	}

	input:checked + .slider {
		background: linear-gradient(90grad, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	}

	input:checked + .slider:before {
		transform: translateX(-24px);
	}
	.slider,
	.round {
		border-radius: 34px;
	}

	.round::before {
		border-radius: 50%;
	}

	input:checked + .round::before {
		background-color: hsl(230, 17%, 14%);
	}
	.dark {
		--main-background: #222222;
		--main-font: #B6B6B6;
	}

	.light {
		--main-background: #F6F7F8;
		--main-font: #000000;
	}

	.code-block {
		background: var(--main-background);
		color: var(--main-font);
	}

	.toggle-switch {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.toggle-switch p {
		padding: 1em;
	}
</style>
<pre name="codetheme" class="light" style="background: var(--main-background); color: var(--main-font); overflow: hidden;" ng-show = "Inner.isPresent">
	<code class="code-block">
		<label class="switch">
			<input name="theme-switch" type="checkbox" onclick="clickHandler(this)">
			<div class="light-icon"></div>
		</label>
		{{.Inner}}
	</code>
</pre>
<script>
	function clickHandler(e) {
		console.log(e);
	    const themeSwitcher = document.getElementsByName("theme-switch");
	    if(e.checked)
	    {
	    	for(var i=0;i<themeSwitcher.length;i++)
		    {
		    	themeSwitcher[i].checked=true;
		 	}
		    const theme = document.getElementsByName("codetheme");
			for(var i=0;i<theme.length;i++)
	    	{
			    console.log(theme[i]);
			 	theme[i].classList.remove("light");
			    theme[i].classList.add("dark");	  
			}
	    }
	    else 
	    {
	    	for(var i=0;i<themeSwitcher.length;i++)
		    {
		    	themeSwitcher[i].checked=false;
		 	}
		    const theme = document.getElementsByName("codetheme");
		 	for(var i=0;i<theme.length;i++)
		    {
		    	theme[i].classList.add("light");
			    theme[i].classList.remove("dark");	  
		    }
	    }
	}
</script>
