<pre id="panel">
	<label class="switch">
		<input name="theme-switch" type="checkbox" onclick="clickHandler(this)">
		<div class="theme-icon">
			<div name="icontheme" class="code-light-icon"></div>
		</div>
	</label>
	<div>
		{{- with .Get "header" -}}
		<div class="panel-header">
			{{- htmlUnescape . | markdownify -}}
		</div>
		{{- end -}}
		<div id="view-adjust" class="panel-body fadecontent">
			<code>{{.Inner}}</code>
		</div>
		{{- with .Get "footer" -}}
		<div class="panel-footer">
			<div class="adjust-button" onclick="adjustview(this)">View more</div>
		</div>
		{{- end -}}
	</div>
</pre>