<pre id="panel">
	<label class="switch">
		<div class="customselect" style="margin-right: 63px;">
			<select class="custom-select tutorial-filter">
				<option value="Java" selected>Java</option>
				<option value="NodeJS">Node JS</option>
				<option value="Python">Python</option>
			</select>
		  </div>
		<input name="theme-switch" type="checkbox" onclick="clickHandler(this)">
		<div class="theme-icon">
			<div name="icontheme" class="code-light-icon"></div>
		</div>
	</label>
	<div>
		{{- with .Get "header" -}}
		<div class="panel-header" style="width: 70%;">
			{{- htmlUnescape . | markdownify -}}
		</div>
		{{- end -}}
		<div class="panel-body">
			<code>{{.Inner}}</code>
		</div>
	</div>
</pre>