<section {{ with .Get "path" }} path="{{.}}" {{end}}  {{ with .Get "id" }} id="{{.}}" {{end}} {{ with .Get "id" }} href="#{{.}}" {{end}} class="hash" style="width: 100%; display: flex;">{{.Inner}}</section>

<hr style="margin:70px -60px;"/>

<script>
$(function () {
    var currentHash = "#TrucateTable"
    $(document).scroll(function () {
        $('.hash').each(function () {
            var top = window.pageYOffset;
            var distance = top - $(this).offset().top;
            var hash = $(this).attr('href');

            if (distance < 30 && distance > -30 && currentHash != hash) {
                window.location.hash = (hash);
                currentHash = hash;
            }
        });
    });
});
</script>