<script type="text/javascript">
  // isParamPresent is set in global-search.js
  if (!isParamPresent) {
    var jsSrc = ["/catalyst/js/index.js", "https://apis.google.com/js/platform.js"];
    var domScripts = document.scripts;
    var currentScript = domScripts[domScripts.length - 1];
    for (var i = jsSrc.length; i; i--) {
      var script= document.createElement('script');
      script.type= 'text/javascript';
      script.src= jsSrc[i - 1];
      currentScript.insertAdjacentElement('afterend', script);
    }
  }
</script>
