<script>

  // The SalesIQ Script alomg with the widgetcode for each editions are injected by the ZTM Script

  /* Show SalesIQ chat widget */
  function showSalesIQChatWidget() {
    var encodedUserName = (window.zohouser && window.zohouser.DISPLAY_NAME) || '';
    var decodedUserName = decodeHexString(encodedUserName);
    $zoho.salesiq.visitor.name(decodedUserName);
    $zoho.salesiq.visitor.info({"Chat Info:": "Zoho Catalyst Website"});
    $zoho.salesiq.floatbutton.visible('show');
  }

  /* 
   * 1. Using polling mechanism to check if the SalesIQ script is loaded via ZTM
   * 2. We will check once in 3 sec interval for 5 times (will wait for max 15 secs)
   */
  function checkAndDisplayChatWidget(count) {
    count++;
    // Adds a delay of 3 seconds, so that the salesiq script gets injected properly via ZTM
    setTimeout(function() {
      if (window.$zoho &&  window.$zoho.hasOwnProperty('salesiq')) {
        showSalesIQChatWidget();
      } else if (count < 6) {
        checkAndDisplayChatWidget(count);
      }
    }, 3000);
  }

  var showChatSupport = true;
  if (location.search.indexOf('zgs=1') >= 0) {
    showChatSupport = false;
  }

  var qpObject = processQueryParams() || {};
   function processQueryParams() {
     var url = window.location.href;
     var splitURL = url.split('?');
     var params = (splitURL[1] && splitURL[1].split('&')) || [];
     var qpObject = {}, valArr = [];
     params.forEach(function(value) {
       valArr = value.split('=');
       qpObject[valArr[0]] = valArr[1];
     });
     return qpObject;
   }

  // Chat Support - checks for the supported country only in the Global edition
  {{ if (or (not .Params.edition) (eq .Params.edition "in")) }}
    var chatSupportedCountries = ['GB','US','CA', 'AU', 'AE', 'SA', 'BH', 'KW', 'QA', 'OM'];
    showChatSupport = (chatSupportedCountries.indexOf(window.CountryCode) !== -1);
  {{ end }}

  showChatSupport = showChatSupport && (qpObject.source !== 'ios');

  window.addEventListener('load', function() {
    if (showChatSupport) {
      checkAndDisplayChatWidget(0);
    } else {
      $('#contactus-form-stickydiv').removeClass("hide-widget").addClass("bump");
    }
  });

</script>
