<div class="modal-edition-box" id="modal-edition-box" style="display: none;">
  <div class="modal-edition-box-backdrp"></div>
  <div class="modal-edition-box-container" id="modal-edition-box-container">
    <div class="modal-edition-box-content">
      <h4 id="edition-box-title"></h4>
      <div class="edition-box-desc" id="edition-box-desc"></div>
      <div class="edition-box-prim-button" id="edition-box-prim-button">
      </div>
      <div class="edition-box-sec-button" id="edition-box-sec-button">
      </div>
    </div>
  </div>
</div>
