<div class="free-trial-banner">
  <b>Switch to smart coding structure. Switch to Zoho Catalyst.&nbsp;&nbsp;
  <a class="start-trial-btn" href="{{ if .Params.edition }}/{{ .Params.edition }}{{end}}/catalyst/signup/" target="_blank" rel="noopener noreferrer">Start my free 14-day trial</a></b>
</div>
<div class="help-footer row" id="help-footer">
  <div class="col-sm-1 col-md-3 mobile-img-section">
    <img src="/catalyst/help/images/getting-started/welcome/catalyst-mobile.png" class="pull-right footer-mobile"/>
  </div>
  <div class="col-sm-5 col-md-3 mobile-apps-description">
    <div class="mobile-apps"><b>Mobile Apps</b></div>
    <p style="line-height:1;margin-top:5px;">Available in all mobile platforms</p>
    <div>
      <a href="https://play.google.com/store/apps/details?id=com.zoho.catalyst" rel="nofollow" target="_blank">
        <img class="icon mobile-icon" src="/catalyst/help/images/getting-started/welcome/android.svg" />
      </a>
      <a href="https://www.microsoft.com/en-us/store/p/zoho-catalyst/9nblggh07tnl" rel="nofollow" target="_blank">
        <img class="icon mobile-icon" src="/catalyst/help/images/getting-started/welcome/windows.svg" />
      </a>
      <a href="https://itunes.apple.com/in/app/accounting-app-zoho-catalyst/id710446064?mt=8" rel="nofollow" target="_blank">
        <img class="icon mobile-icon" src="/catalyst/help/images/getting-started/welcome/apple.svg" />
      </a>
    </div>
    <span class="font-xs lg-show">© {{now.Year}}, Zoho Corporation Pvt. Ltd. All Rights Reserved.</span>
  </div>
  <div class="col-sm-6 contact-us-section">
    <img class="icon contact-icon" src="/catalyst/help/images/getting-started/welcome/phone.svg" />
    {{if eq .Params.edition "in"}}
      <div class="contact-header">
        India - 18005726671 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Monday - Friday (9:00 AM to 7:00 PM)</div>
    {{else if eq .Params.edition "ae"}}
      <div class="contact-header">
        United Arab Emirates - 80004440824 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Saturday - Thursday (9:00 AM to 8:00 PM)</div>
    {{else if eq .Params.edition "sa"}}
      <div class="contact-header">
        Saudi Arabia - 8008445940, 8008500478, 8008500482 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Saturday - Thursday (8:00 AM to 7:00 PM)</div>
    {{else if eq .Params.edition "bh"}}
      <div class="contact-header">
        Bahrain - 97316198061 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Saturday - Thursday (8:00 AM to 7:00 PM)</div>
    {{else if eq .Params.edition "kw" }}
      <div class="contact-header">
        Kuwait - 97316198061 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Saturday - Thursday (8:00 AM to 7:00 PM)</div>
    {{else if eq .Params.edition "qa"}}
      <div class="contact-header">
        Qatar - 974800100660 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Saturday - Thursday (8:00AM to 7:00PM)</div>
    {{else if eq .Params.edition "om"}}
      <div class="contact-header">
        Oman - 96880074371 (Toll Free)
      </div>
      <div class="contact-desc" style="margin-top: 3px;">Saturday - Thursday (9:00 AM to 8:00 PM)</div>
    {{else}}
      <div class="contact-header">Monday - Friday (9:00 AM to 6:00 PM)</div>
      <div class="contact-desc" style="margin-top: 3px;">
        <b>US</b>&nbsp;<span>8443165544</span> | <b>UK</b>&nbsp;<span>08000856099</span> | <b>Australia</b>&nbsp;<span>1800911076</span>
      </div>
    {{end}}
    <div class="row" style="margin-top: 45px;">
      <div class="col-lg-6 email-section" style="padding-right:0px;">
        <img class="icon contact-icon" style="margin-bottom: 20px;" src="/catalyst/help/images/getting-started/welcome/mail.svg" />
        <div class="contact-header">Email</div>
            <a class="contact-desc" href="mailto:support@zohocatalyst.com">support@zohocatalyst.com</a>
      </div>
      <div class="col-lg-6 forum-section" style="margin-bottom: 4px;">
        <div class="contact-header">Join our discussions</div>
        <span class="contact-desc">Connect with the Zoho Catalyst <a href="https://help.zoho.com/portal/community/zoho-catalyst" target="_blank" rel="noopener noreferrer">Forum</a></span>
      </div>
    </div>
    <span class="font-xs lg-hide">© {{now.Year}}, Zoho Corporation Pvt. Ltd. All Rights Reserved.</span>
  </div>
</div>
{{ template "partials/catalyst/chat-widget.html" . }}
