<!-- This parital can be used only when alternative link is needed for all the editions -->
{{- $path := $.Scratch.Get "path" -}}
{{- $editionsArray := (slice "" "uk" "us" "ca" "au" "in" "ae" "sa" "bh" "kw" "om" "qa") -}}
{{ $hideMenuInEditionsArray := slice }}
{{- if isset .Params "hidemenuineditions" -}}
  {{$hideMenuInEditionsArray = .Params.hideMenuInEditions}}
{{- end -}}
{{- range $editionsArray -}}
  {{ if or (not .) (not (in $hideMenuInEditionsArray .)) }}
    {{- $lang := "x-default" -}}
    {{- if . -}}
      {{- $langSuffix := . -}}
      {{- if eq . "uk" -}}
        {{- $langSuffix = "gb" -}}
      {{- end -}}
      {{- $lang = (delimit (slice "en-" $langSuffix) "") -}}
    {{- end -}}
    <link rel="alternate" href="https://www.zoho.com{{ if . }}/{{ end }}{{ . }}{{ $path }}" hreflang="{{ $lang }}">
  {{ end }}
{{- end -}}
