.global-search .navbar-header, .global-search .searchband,
.global-search #help-container .print-form, .global-search #help-container .menu-sidebar,
.global-search #scroll-top-navigator, .global-search #help-container .free-trial-banner,
.global-search #help-container .search-box, .global-search #help-footer,
.global-search #help-container .rating-section, .global-search #modal-edition-box,
.global-search #ratingForm, .global-search iframe[name~=form-success], .global-search #pop-up,
.global-search .no-print {
  display: none!important;
}

.global-search #help-container .help-content {
  max-width: 90%;
  margin: 0;
  padding: 0;
}

.src-input {
  padding: 6px 40px;
  height: 45px;
  font-size: 16px;
  border: 1px solid #d0d0e0;
  border-radius: 24px;
  width: 98%;
  margin: 1px 1% 3px;
  float: left;
  outline: none;
  background: #FFF url(/catalyst/help/images/help/search.svg) no-repeat scroll 15px 15px/15px 15px;
}

::placeholder {
  color: #aab4c8;
}

::-webkit-input-placeholder {
  color: #aab4c8;
}
:-ms-input-placeholder {
  color: #aab4c8;
}
::-moz-placeholder {
  color: #aab4c8;
  opacity: 1;
}
:-moz-placeholder {
  color: #aab4c8;
  opacity: 1;
}

.src-input:focus {
  outline: none;
  -webkit-box-shadow: 0 4px 12px -8px #3e72d6;
  -moz-box-shadow: 0 4px 12px -8px #3e72d6;
  box-shadow: 0 4px 12px -8px #3e72d6;
  border-radius: 24px;
  border-color: #3c72dc;
}

.srchbtn {
  font-size: 11px;
  font-weight: bold;
  min-width: 54px;
  background-color: #2E8FD9;
  border: 1px solid #2E8FD9;
  border-radius: 2px;
  color: #fff;
  padding: 8px 20px;
  height: auto;
  float: right;
}
