{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head-link.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">
    {{ partial "global-search.html" . }}
    <header style="width: 100%;">
        {{ partial "main-header.html" . }}
    </header>
    <main style="width: 100%;">
      {{ partial "main-article-content.html" . }}        
    </main>
    <div id="catalyst-components"></div>
    <article class="faq-article">
      <aside class="faq-sidebar hide-sidebar">
        <ul class="menu" style="margin-top: 0px; background: transparent; width: 300px;">
          {{- partial "faq-menu.html" . }}
        </ul> 
      </aside>
      <section class="page" style="margin-left: 0px; margin-top: 10px;">
        <header style="position: relative; padding: 0px; height: 60px; width: -webkit-fill-available;">
            {{ partial "faq-header.html" . }}
        </header>
        {{ block "main" . }}{{ end }}
      </section>
    </article>
    {{ partial "scroll-top.html" . }}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{ partial "html-body-link.html" . }}
  </body>
  <script src='{{"js/pagination.js" | relURL}}'></script>
</html>
