/* Overwrite the default to keep the scrollbar always visible */

#panel:hover ::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scrollbar-color);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* To bold the text for menu open in sidebar */
.down-mini-icon + a{
    font: 15px/18px zoho-puvi-medium;
    color: var(--font-body-color);
}
/* Pagination */
.right-side-pagination{
  justify-content:flex-end !important;
}
/* Table of Contents */
.TableOfContents{
  background-color:var(--menu-color); 
  border: 1px solid var(--hr-color);
  border-radius: 4px;
}
.TableOfContents label{
  font: 13px/16px zoho-puvi-semibold; 
  letter-spacing: 2.6px; 
  color: var(--font-menu-color); 
  padding:18px 10px 17px 19px; 
  margin-bottom: 0px;
}

/* Header style */
.access-button{
	width: 150px;
	height: 44px;
	background: #F0483D;
	text-align: center;
	border-radius: 4px;
  padding-top: 7px;
  cursor: pointer;
  list-style: none;
  font: normal normal normal 15px/30px zoho-puvi-regular;
  color: #FFFFFF !important;
}
.access-button:hover{
  background-color: #EA3E33;
  box-shadow: 0px 0px 20px #A2A2A21A;
}
.list {
  margin:9px 22.5px 0 22px;
}
.list a{
    font: 15px/18px zoho-puvi-regular;
    letter-spacing: 0px;
    color: var(--font-lite-body-color);
}
.list a:hover{
  color: var(--font-blue-color);
}
.add_div1{
  width: 11px;
  height: 2px;
  margin-top: 0px;
  border-radius: 4px;
}
.header-block{
  padding:0 29px 0 40px;
}
.header-menu-list{
  width: 100%;
  height: auto;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 5px 5px 5px var(--shadow-color);
}
.header-menu-list .list:hover{
  background-color: var(--menu-color);
}
.header-menu-list .list{
  list-style: none;
  margin: 0;
  padding: 9px;
}
.header-menu-list a{
  display: grid;
  text-align: center;
  color: var(--font-lite-body-color) !important;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.header-menu-list .access-button{
  margin: 10px auto 15px auto;
}
.header-block .logo{
  display: none;
  border: none;
  background: transparent;
  left: 50px;
}
.logo-anchor{
  text-decoration: none; 
  display: flex; 
  margin:19px 0 21px 30px; 
  padding:3px;
}
.logo-title-block{
  display: block; 
  margin-left: 12px; 
  margin-top:1px;
}
.logo-product-name{
  font: 20px/20px zoho-puvi-medium; 
  color: var(--font-body-color); 
  margin-bottom: 0px; 
  margin-top: -2px;
}
.logo-company-name{
  font: 12px/14px zoho-puvi-regular; 
  color: var(--font-lite-body-color); 
  padding-left: 0px;
}
.close-p{
  font: 17px/18px zoho-puvi-regular; 
  color: var(--font-menu-color); 
  margin-top: 29px;
}
.filterbox{
  display: flex; 
  border-radius:35px; 
  outline: none !important; 
  box-shadow: 0 0 0 0; 
  font: normal normal normal 14px/17px zoho-puvi-regular; 
  color: var(--font-menu-color); 
  padding: 4px 11px;
  width: 310px;
  height: 39px !important;
  background-color: transparent;
  border: 1px solid var(--hr-color);
}
.right-header{
  display: flex;
  margin-left: auto;
  display: none;
}
.left-menu-icon{
  display: none;
  background: var(--edit-icon) no-repeat -959px -35px;
  background-size: 1200px auto;
  width: 30px;
  height: 30px;
  margin: 5px 0 0 30px;
  cursor: pointer;
}
.right-menu-icon{
  background: var(--edit-icon) no-repeat -1018px -35px;
  background-size: 1200px auto;
  width: 30px;
  height: 30px;
  margin: 6px 0 0 30px;
  cursor: pointer;
}
.global-search-icon{
  background: var(--edit-icon) no-repeat -1137px -35px;
  background-size: 1200px auto;
  width: 30px;
  height: 30px;
  margin: 6px 0 0 30px;
  cursor: pointer;
}
@media only screen and (max-width: 990px) {
  .header-block{
    padding:0 29px 0 0;
  }
}
@media only screen and (max-width: 936px) {
  nav.shortcuts{
    display: none !important;
  }
  .left-menu-icon{
    display: block !important;
  }
  .right-header{
    display: flex !important;
  }
  .header-block .logo{
    display: block;
    width: auto;
  }
  #homeArticleSearch{
    display: none;
  }
}
@media only screen and (min-width: 937px) {
  nav.header-menu-list{
    display:  none !important;
  }
}

/* Footer style */
.flexbox{
display: flex;
}
.footer-icon{
margin:3px 30px -1px 12px;
font: normal normal normal 15px/18px zoho-puvi-regular, Roboto, sans-serif;
color: var(--font-lite-body-color);
}
.icons{
margin-top:2px;
}
.footer-head{
text-align: center; 
padding: 30px 0; 
margin-bottom: 0;
font: 20px/24px zoho-puvi-semibold, Roboto, sans-serif;
color: var(--font-body-color);
}
.footer-ref{
display: flex; 
flex-wrap: wrap; 
justify-content:center;
}
.footer-contactus{
  display: flex;
}
.footer-at{
font: normal normal normal 12px/30px zoho-puvi-regular, Roboto, sans-serif;
text-align: center;
width: 100%;
color: var(--font-at-color);
}
.footer-contact{
font: normal normal normal 12px/30px zoho-puvi-regular, Roboto, sans-serif;
color: var(--font-menu-color);
}
.stackoverflowLight{
background: url('/images/LightPages.svg') no-repeat -31px -95px;
width: 16px;
height: 18px;
}

.slackcommunityLight{
background: url('/images/LightPages.svg') no-repeat -72px -95px;
width: 19px;
height: 18px;
}

.catalystcommunityLight{
background: url('/images/LightPages.svg') no-repeat -117px -95px;
width: 16px;
height: 18px;
}

.githubLight{
background: var(--edit-icon) no-repeat -159px -95px;
width: 18px;
height: 18px;
}
.blog{
  background: url('/images/LightPages.svg') no-repeat -733px -93px;
	width: 16px;
	height: 18px;
}
.twitter-icon{
  background: url(/images/image_1.svg) no-repeat -1px -2px;
  width: 23px;
  height: 20px;
  margin: -3px 1px 0 10px;
}
.linkedin-icon{
  background: url(/images/image_1.svg) no-repeat -22px -2px;
  width: 23px;
  height: 20px;
  margin: -3px 1px 0 10px;
}

.contactsupportLight{
background: url('/images/LightPages.svg') no-repeat -202px -97px;
width: 16px;
height: 16px;
}
.dF{
  display: flex;
}
.ZPprivacy {
list-style: none;
margin-bottom: 5px;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0 20px;
margin: auto;
box-sizing: border-box;
}
.ZPprivacy li a:hover {
  color: var(--hover-color);
}
.ZPprivacy li {
border-right: 1px solid var(--font-lite-body-color);
padding: 0 10px 0 7px;
margin-bottom: 10px;
line-height: 12px;
}
.ZPprivacy li a{
font: normal normal normal 13px zoho-puvi-regular, Roboto, sans-serif;
}
.ZPprivacy li:first-child {
padding-left: 0;
}
.ZPprivacy li:last-child {
padding-right: 0;
border-right: 0;
}
.footer-links {
display: flex; 
margin: 20px 0 10px 0; 
}
.footer-links a:hover{
color: var(--hover-color);
}
.flexbox a:hover{
  color: var(--hover-color);
}
.footer-at-block{
display: flex; 
margin: 0 auto;
padding-bottom: 20px;
}
.writeus-text{
  font: 13px zoho-puvi-regular;
  color: var(--font-body-color);
}
.support-email{
  font: 13px zoho-puvi-regular;
  color: var(--font-blue-color) !important;
}
@media screen and (min-width: 761px) and (max-width : 1020px) {
.footer-at-block{
display: block;
padding-bottom: 40px;
}
}
@media screen and (min-width: 0px) and (max-width : 760px) {
.flexbox{
padding-bottom: 10px;
}
.footer-at-block{
display: block;
padding-bottom: 40px;
}
}

/* Search bar style */
    input::placeholder {/* Firefox */
        color: var(--font-at-color);
        font: 15px/18px zoho-puvi-regular;
    }
    input:-ms-input-placeholder {/* Internet Explorer 10-11 */
        color: var(--font-at-color);
        font: 15px/18px zoho-puvi-regular;
    }
    input::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--font-at-color);
        font: 15px/18px zoho-puvi-regular;
    }
    textarea::-webkit-input-placeholder {
      color: var(--font-at-color);
      font: 15px/18px zoho-puvi-regular;
    }
    
    textarea:-moz-placeholder { /* Firefox 18- */
      color: var(--font-at-color);
      font: 15px/18px zoho-puvi-regular;
    }
    
    textarea::-moz-placeholder {  /* Firefox 19+ */
      color: var(--font-at-color);
      font: 15px/18px zoho-puvi-regular; 
    }
    
    textarea:-ms-input-placeholder {
      color: var(--font-at-color);
      font: 15px/18px zoho-puvi-regular;  
    }
    
    textarea::placeholder {
      color: var(--font-at-color);
      font: 15px/18px zoho-puvi-regular;
    }
    .input-search {
        width: 100%;
        position: relative;
    }
    .search-icon{
        background: var(--shortlist-icon) no-repeat -30px -30px;
        width: 16px;
        height: 16px;
        margin: 15px 0 0 15px;
        position: absolute;
    }
    .input-icons:hover .search-icon{
      background: var(--shortlist-icon) no-repeat -387px -98px;
    }
    #innerSearchBar{
        display: none;
        margin: auto;
    }
    .input-field {
        width: 400px;
        padding: 10px 10px 10px 36px;
        text-align: left; 
        border-radius:35px; 
        outline: none !important; 
        box-shadow: 0 0 0 0; 
        color: var(--font-body-color);
        font: 15px/18px zoho-puvi-regular;
        height: 44px;
        margin-top: 1px;
        margin-left: 1px;
        background-color: transparent;
        border: 1px solid var(--search-border-color);           
    }
    .input-field:hover, .input-field:focus{
      box-shadow: 0px 0px 20px #A2A2A21A;
    }
    [type=button].input-field {
      color: var(--font-at-color);
    }
    /* Responsive styles */
    @media only screen and (max-width: 1400px) {
        #outerSearchBar{
            display: none;
        }
        #innerSearchBar{
            display: block;
            width: 400px;
        }
        .input-field{
            width: 400px;
        }
    }
    @media only screen and (max-width: 936px) {
      #innerSearchBar{
        display: none !important;
      }
    }

/* Sidebar */
.shortlist {
    background: var(--shortlist-icon) no-repeat -76px -30px;
    width: 15px;
    height: 15px;
    margin: 15px 0 0 15px;
    position: absolute;
}
.sdk-sidebar{
  display: flex;
  width: 370px;
  padding: 13px 30px 20px 30px;
  z-index: 1;
  background-color: var(--menu-color);
  margin-top: 75px;
  display: flex;
}
.sdk-version-title{
  font: 15px/18px zoho-puvi-regular;
  color: var(--font-lite-body-color);
  white-space: nowrap;
  padding: 14px 10px 0 0;
}
.sdk-version-title span{
  text-transform: uppercase;
}
.input-icons:hover .shortlist{
  background: var(--shortlist-icon) no-repeat -428px -99px;
}
.logo {
    border-bottom: 1px solid var(--hr-color);
    height: 75px;
    position: fixed;
    width: 370px;
    z-index: 2;
    top: 0px;
    display: flex;
    background-color: var(--menu-color);
}
.catalyst-logo{
  background: url('/images/CatalystLogo.svg') no-repeat 0 0;
  width: 28px;
  height: 32px;
}
.input-filter{
  border: none; 
  background-color: transparent; 
  outline: none !important; 
  box-shadow: 0 0 0 0; 
  width: 260px;
  color: var(--font-menu-color);
  font: 15px/18px zoho-puvi-regular;
}
::placeholder{
  color: var(--font-at-color);
  font: normal normal normal 13px/16px zoho-puvi-regular;
}
.close-sidebar-icon{
    margin: 20px 5px 0 25px;
    background: var(--edit-icon) no-repeat -803px -21px;
    background-size: 900px auto;
    width: 30px;
    height: 30px;
}
.close-sidebar {
    border-bottom: 1px solid var(--hr-color);
    height: 75px;
    position: fixed;
    width: 370px;
    z-index: 5;
    top: 0px;
    display: none;
    cursor: pointer;
    background-color: var(--menu-color);
}
#responsiveSidebarToHide{
    display: block;
}
.show-sidebar{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--search-outer-background-color) !important;
}
@media only screen and (min-width: 936px) {
  aside.show-sidebar{
    width: 370px;
    background-color: var(--menu-color) !important;
  }
}
@media only screen and (max-width: 936px) {
    aside.hide-sidebar{
        position: absolute !important;
        top: 0;
        left: 0;
        display: none !important;
    }
    .close-sidebar {
        display: flex !important;
    }
    #responsiveSidebarToHide{
        display: none !important;
    }
}
@media only screen and (min-width: 937px) {
    aside.hide-sidebar{
        display: block;
    }
}

/* select style */

  .customselect {
    position: relative;
    background-color: var(--body-color);
    font-size: 15px;
    font-family: zoho-puvi-regular;
    color: var(--font-menu-color);
    border-radius: 4px;
    border: 1px solid var(--hr-color);
  }
  .customselect:hover{
    background-color: var(--menu-color);
  }
  .customselect select {
    display: none;
  }
  .tutorialSearchFun{
    position: relative;
  }
  .tutorial-status-block{
    height: 26px;
    padding: 8px 5px 8px 5px;
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 13px 0px 0px 13px;
  }
  .completed-icon{
    background: var(--edit-icon) no-repeat -558px -98px;
    width: 11px;
    height: 9px;
  }
  .ongoing-icon{
    background: var(--edit-icon) no-repeat -604px -98px;
    width: 12px;
    height: 12px;
  }
  .status-text{
    text-transform: uppercase;
    font: 10px/12px zoho-puvi-medium;
    letter-spacing: 0.5px;
    padding-left: 3px;
  }
  .tutorial-status-block.completed{
    background: #4FA3351A;
    color: #4FA335;
  }
  .tutorial-status-block.ongoing{
    background: #E8912B1A;
    color: #E8912B; 
  }
  .tutorial-select-filter .select-selected {
    width: 140px;
    padding-top: 11px;
  }
  .tutorial-select-filter .customselect{
    border-radius: 25px;
  }
  .tutorial-select-filter .select-selected:after {
    top: 20px;
  }
  .tutorial-select-filter .select-selected.select-arrow-active:after {
    top: 16px;
  }
  .tutorial-select-filter.select-selected {
      background-color: var(--body-color);
      color: var(--font-body-color);
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: var(--font-body-color) transparent transparent transparent;
  }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--font-body-color) transparent;
    top: 12px;
  }
  .select-items div {
    padding: 5px 0 5px 10px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
  }
  .select-selected {
    padding: 4px 20px 0 15px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  .select-items {
    position: absolute;
    background-color: var(--body-color);
    color: var(--font-body-color);
    border: 1px solid var(--hr-color);
    border-radius: 4px;
    padding: 5px 0;
    margin-top: 2px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: var(--menu-color);
    color: var(--font-menu-color);
  }

  /* Tutorial apps */
  .t-sidebar{
    background-color: var(--body-color);
    overflow: auto; 
    overflow-x: hidden;
  }
  .tutorial-filter {
    background-color: var(--body-color);
    font: 14px/17px zoho-puvi-regular;
    padding-left: 8px;
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
    border-color: var(--hr-color);
  }

  /* API Responsive styles */
  @media only screen and (max-width: 1400px) {
      section.hash{
          display:  block !important;
      }
      section.hash .LeftContent{
          width: 100%;
      }
      section.hash .RightContent{
          width: 100%;
      }
  }

  /* Main Article Content */
    .main{
        margin:191px auto 0 auto; 
        width: fit-content;
        width: -moz-fit-content;
    }
    .main .title {
        font: normal normal 600 40px/48px zoho-puvi-bold;
        letter-spacing: 0px;
        color: var(--body-header-color);
        text-align: center;
        margin-bottom: 12px;
    }
    .main-head-title{
      text-align: left; 
      color: var(--font-body-color); 
      font: normal normal 600 40px/60px zoho-puvi-semibold; 
      margin-bottom: 40px;
    }
    .main .content {
        font: normal normal normal 15px/26px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-body-color);
        text-align: center;
        margin-bottom: 34px;
    }
    #mainArticleSearch{
      display: none;
    }
    @media only screen and (max-width: 500px) {
        .main .title {
          font: normal normal 600 30px/48px zoho-puvi-bold;
        }
        .main-head-title{
          font: normal normal 600 30px/40px zoho-puvi-semibold; 
        }
    }
    @media only screen and (max-width: 991px) {
        .main{
            margin:115px auto 0 auto; 
        }
    }
    @media (min-width:937px) and (max-width:1400px){
      #mainArticleSearch{
        display: block;
      }
    }

  /* Main Feature Content */
    .getting-started-icon{
      background: var(--getting-started-icon) no-repeat -39px -40px;
      width: 43px;
      height: 39px;
    }
    .tutorial-icon{
      background: var(--tutorial-icon) no-repeat -118px -41px;
      width: 40px;
      height: 38px;
    }
    .whats-new-icon{
      background: var(--whats-new-icon) no-repeat -199px -40px;
      width: 40px;
      height: 40px;
    }
    @media only screen and (max-width: 400px) {
      .feature{
        width: 330px !important;
      }
    }
    @media only screen and (max-width: 991px) {
        #indexFeatures .row{
            justify-content: space-around;
        }
        #indexFeatures{
          margin: 0 !important;
          margin-bottom: 30px !important;
        }
    }
    @media only screen and (min-width: 992px) {
        #indexFeatures .row{
            justify-content: space-between;
        }
    }


  /* Main SDK Content */
    .cli-icon{
        background: var(--cli-icon) no-repeat -635px -42px;
        width: 37px;
        height: 36px;
      }
      .nodejs-icon{
        background: var(--nodejs-icon) no-repeat -769px -49px;
        width: 36px;
        height: 23px;
      }
      .java-icon{
        background: var(--java-icon) no-repeat -710px -42px;
        width: 21px;
        height: 36px;
      }
      .android-icon{
        background: var(--android-icon) no-repeat -839px -41px;
        width: 32px;
        height: 39px;
      }
      .ios-icon{
        background: var(--ios-icon) no-repeat -977px -45px;
        width: 24px;
        height: 31px;
      }
      .api-icon{
        background: var(--api-icon) no-repeat -905px -42px;
        width: 36px;
        height: 36px;
      }
      .js-icon{
        background: var(--js-icon) no-repeat -1041px -43px;
        width: 29px;
        height: 36px;
      }
      @media only screen and (max-width: 991px) {
            #indexSdk .row{
                justify-content: space-around;
            }
            #indexSdk{
                margin-top: 50px !important;
            }
      }
      @media (min-width:992px) and (max-width:1199px){
            #indexSdk .row{
                justify-content: space-between;
            }
      }
    

    /* Main FAQ Content */
      .faq-text{
        text-align: left; 
        color: var(--font-body-color); 
        font: normal normal 600 40px/60px zoho-puvi-semibold;
        margin-bottom: 15px !important;
      }
      .faq-sub-text{
        text-align: left; 
        color: var(--font-body-color); 
        font: normal normal 600 24px/35px zoho-puvi-semibold;
        margin-bottom: 15px !important;
      }
      .faq-block{
        margin-bottom: 16px;
        position: relative;
        border: 1px solid var(--hr-color);
        border-radius: 4px;
      }
      .faq-ques{
        font: normal normal normal 16px/24px zoho-puvi-regular;
        background-color: var(--menu-color);
        color: var(--font-body-color);
        cursor: pointer;
        padding: 18px 50px 14px 30px;
        width: 100%;
        border-radius: 4px;
      }
      .faq-ques:hover{
        font: normal normal bold 16px/24px zoho-puvi-regular;
      }
      .faq-ans{
        font: normal normal normal 16px/24px zoho-puvi-regular;
        background-color: var(--body-color);
        color: var(--font-body-color);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        border-radius: 0 0 4px 4px;
        transition: max-height 0.2s ease-out;
      }
      .active-faq .faq-ques{
        border-radius: 4px 4px 0 0;
      }
      .active-faq .faq-ans{
        border-top: 1px solid var(--hr-color);
      }
      .active-faq .faq-ques{
        font: normal normal bold 16px/24px zoho-puvi-regular;
      }
      .plus-icon{
        background: var(--edit-icon) no-repeat -316px -99px;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 26px;
        right: 30px;
        cursor: pointer;
      }
      .active-faq .plus-icon{
        background: var(--edit-icon) no-repeat -359px -104px;
        top: 31px;
        right: 30px;
      }
      .view-all-faq {
        background-color: var(--body-color);
        color: var(--font-blue-color);
        font: 16px/24px zoho-puvi-medium;
        cursor: pointer;
        padding: 13px;
        width: 100%;
        margin-bottom:16px;
        border-radius: 4px;
        outline: none !important; 
        border: 1px solid var(--hr-color);
        text-align: center;
        box-shadow: 0 0 0 0;
      }
      .view-all-faq:hover {
        box-shadow: 0px 0px 20px #A2A2A21A;
      }
      

    /* Main Help Content */
      .right-mini-icon{
        background: var(--edit-icon) no-repeat -247px -101px;
        width: 6px;
        height: 9px;
        margin: 4px 9px 0 -17px;
        cursor: pointer;
      }
      .down-mini-icon{
        background: var(--edit-icon) no-repeat -281px -101px;
        width: 6px;
        height: 9px;
        margin: 4px 9px 0 -17px;
        cursor: pointer;
        transform: rotateZ(90deg);
      }
      .character-icon{
        background: var(--character-icon) no-repeat -277px -45px;
        width: 26px;
        height: 30px;
      }
      .app-icon{
        background: var(--app-icon) no-repeat -339px -45px;
        width: 22px;
        height: 30px;
      }
      .barcode-icon{
        background: var(--barcode-icon) no-repeat -575px -45px;
        width: 30px;
        height: 30px;
      }
      .face-icon{
        background: var(--face-icon) no-repeat -395px -45px;
        width: 30px;
        height: 30px;
      }
      .image-icon{
        background: var(--image-icon) no-repeat -515px -45px;
        width: 29px;
        height: 29px;
      }
      .object-icon{
        background: var(--object-icon) no-repeat -455px -45px;
        width: 30px;
        height: 30px;
      }
      .auth-icon{
        background: var(--auth-icon) no-repeat -61px -188px;
        width: 32px;
        height: 30px;
      }
      .data-store-icon{
        background: var(--data-store-icon) no-repeat -116px -188px;
        width: 26px;
        height: 32px;
      }
      .file-store-icon{
        background: var(--file-store-icon) no-repeat -166px -188px;
        width: 32px;
        height: 22px;
      }
      .cache-icon{
        background: var(--cache-icon) no-repeat -221px -188px;
        width: 30px;
        height: 32px;
      }
      .zcql-icon{
        background: var(--zcql-icon) no-repeat -274px -188px;
        width: 26px;
        height: 32px;
      }
      .cron-icon{
        background: var(--cron-icon) no-repeat -324px -188px;
        width: 32px;
        height: 32px;
      }
      .functions-icon{
        background: var(--functions-icon) no-repeat -379px -188px;
        width: 28px;
        height: 32px;
      }
      .circuits-icon{
        background: var(--circuits-icon) no-repeat -431px -188px;
        width: 30px;
        height: 32px;
      }
      .security-rules-icon{
        background: var(--security-rules-icon) no-repeat -484px -188px;
        width: 26px;
        height: 32px;
      }
      .big-search-icon{
        background: var(--search-icon) no-repeat -533px -188px;
        width: 29px;
        height: 31px;
      }
      .mail-icon{
        background: var(--mail-icon) no-repeat -971px -193px;
        width: 32px;
        height: 22px;
      }
      .push-notifications-icon{
        background: var(--push-notifications-icon) no-repeat -587px -188px;
        width: 28px;
        height: 32px;
      }
      .event-listeners-icon{
        background: var(--event-listeners-icon) no-repeat -693px -188px;
        width: 32px;
        height: 28px;
      }
      .git-icon{
        background: var(--git-icon) no-repeat -638px -188px;
        width: 32px;
        height: 32px;
      }
      .api-gateway-icon{
        background: var(--api-gateway-icon) no-repeat -62px -79px;
        width: 30px;
        height: 30px;
        
      }
      .mobile-device-management-icon{
        background: var(--mobile-device-management-icon) no-repeat -122px -82px;
        width: 30px;
        height: 23px;
      }
      .crashes-icon{
        background: var(--crashes-icon) no-repeat -182px -81px;
        width: 30px;
        height: 25px;
      }
      .apm-icon{
          background: var(--apm-icon) no-repeat -602px -79px;
          width: 30px;
          height: 30px;
      }
      .web-client-icon{
        background: var(--web-client-icon) no-repeat -804px -188px;
        width: 32px;
        height: 32px;
      }
      .domain-mapping-icon{
        background: var(--domain-mapping-icon) no-repeat -750px -189px;
        width: 30px;
        height: 30px;
      }
      .logs-icon{
        background: var(--logs-icon) no-repeat -860px -188px;
        width: 30px;
        height: 32px;
      }
      .metrics-icon{
        background: var(--metrics-icon) no-repeat -913px -189px;
        width: 29px;
        height: 31px;
      }
      .environment-icon{
        background: var(--app-icon) no-repeat -1224px -45px;
        width: 30px;
        height: 31px;
      }
      .billing-icon{
        background: var(--app-icon) no-repeat -1164px -46px;
        width: 30px;
        height: 30px;
      }
      .container a:hover{
        color: var(--hover-color);
      }
      .add_div{
        width: 3px;
        height: 15px;
        margin-top: 4px;
        margin-right: 15px;
        border-radius: 4px;
      }
      @media only screen and (max-width: 500px) {
        .faq-text{
          font: normal normal 600 30px/45px zoho-puvi-semibold;
        }
      }

/* Tutorial list features */
#tutorialSidepage .rating-form{
  width: 100%;
}
.tutorial-list{
  display: flex; 
  padding-bottom: 20px; 
  border-bottom: 1px solid var(--hr-color); 
  margin: 0 10px 40px 10px;
}
.tutorial-block{
  display: flex;
  flex-wrap: wrap;
}
.tutorial-page{
  margin:100px 0 0 0;
}
.lang-block{
  display: flex;
}
.cp{
  cursor: pointer;
}
.lang-block a{
  padding-right: 10px;
  color: var(--font-blue-color);
  font: 15px/16px zoho-puvi-regular;
}
.lang-block a:hover{
  color: var(--font-blue-color);
}
.tutorial-box-text{
  color:var(--font-menu-color); 
  background-color: var(--menu-color);
  font: 10px/12px zoho-puvi-medium;
  padding:5px; 
  margin-right:10px; 
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.tutorial-select-filter{
  display: flex; 
  margin-left: auto;
  margin-top: 1px;
}
.tutorial-filter + .select-selected{
  padding-top: 10px;
}
.tutorial-filter + .select-selected.select-arrow-active:after{
  top: 15px;
}
.tutorial-filter + .select-selected:after{
  top: 20px;
}
.tutorial-select-filter .select-items{
  border-radius: 4px;
}
.TableOfContents .feature-p:hover{
  color: var(--hover-color);
}
@media only screen and (max-width: 450px) {
  .tutorial-list .input-icons{
    width: 100%;
  }
  .tutorial-list .input-field{
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .tutorial-select-filter{
    display: none;
  }
  .tutorial-page{
    margin: 0;
  }
  .tutorial-block{
    justify-content: center;
  }
}

/* FAQ page style */
.faq-sidebar{
  height: auto !important; 
  background-color: var(--body-color); 
  width: 300px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 100px;
  align-self: flex-start; 
  flex: 0 0 17em
}
.faq-article{
  top:100px; 
  width: 90%; 
  margin:30px auto 30px auto;
}
#catalyst-components{
  position: absolute; 
  top:370px;
}
@media only screen and (max-width: 450px) {
  .faq-header .input-icons{
    width: 100%;
  }
  .faq-header .input-field{
    width: 100%;
  }
}
@media only screen and (max-width: 936px) {
  .faq-article{
    top:0px; 
  }
  #catalyst-components{
    top:280px;
  }
}

/* What's new page style */
.whatsnew-sidebar{
  height: auto !important; 
  background-color: var(--body-color); 
  width: 240px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 100px;
  align-self: flex-start; 
  flex: 0 0 20em
}
.whatsnew-article{
  top:100px; 
  width: 97%; 
  margin:30px auto 30px auto;
}
.whats-new-right-menu{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 100px;
    align-self: flex-start;
}
@media only screen and (max-width: 936px) {
  .whatsnew-article{
    top:0px; 
  }
}

/* Next Prev pagination */
.pagination-block{
  display:flex; 
  justify-content:flex-start; 
  flex:1; 
}
.next{
  margin-right: 0px; 
  cursor: pointer;
}
.previous{
  margin-left: 0px; 
  cursor: pointer;
}
.next-start-now-block{
  border: 1px solid var(--font-blue-color); 
  padding: 0px !important; 
  display: flex;

}
.next-start-now-text{
  display: block; 
}
.next-start-now-text p{
  display:flex; 
  margin:15px 0 7px 10px; 
  font: normal normal 12px/13px zoho-puvi-medium; 
  letter-spacing: 1.2px; 
  color: var(--font-blue-color); 
}
.forward-blue-border{
  padding:11px; 
  width: 40px; 
  height: 40px;
}
.arrow-block{
  padding:11px;
  border: 1px solid var(--hr-color);
  width: 40px; 
  height: 40px;
  margin: 15px;
}
.arrow-block:hover{
  box-shadow: 0px 0px 20px #A2A2A21A;
}
.prev-text{
  margin:18px 71px 7px 0; 
  text-align: start;
  font: normal normal 12px/13px zoho-puvi-medium; 
  letter-spacing: 1.2px; 
  color: var(--font-blue-color); 
}
.next-text{
  margin:18px 0 7px 0;
  text-align: end; 
  font: normal normal 12px/13px zoho-puvi-medium; 
  letter-spacing: 1.2px; 
  color: var(--font-blue-color); 
}

.forwardArrowIconLight {
  background: var(--right-icon) no-repeat -213px -30px;
  width: 16px;
  height: 14px;
  margin-top: 1px;
}
.forwardArrowIconBlue {
  background: url('/images/DarkPages.svg') no-repeat -559px -30px;
  width: 16px;
  height: 14px;
  margin-top: 1px;
}

.reverseArrowIconLight {
  background: var(--left-icon) no-repeat -167px -30px;
  width: 16px;
  height: 14px;
  margin-top: 1px;
}
@media (max-width: 600px) {
  .page-title{
      display: none;
  }
  .chevrons{
      height: 73px;
      border: none !important;
  }
  .prev-text{
    margin-top: 29px; 
  }
  .next-text{
    margin-top: 29px; 
  }
}
@media (min-width: 600px) {
  .page-title{
      display: flex;
      font: normal normal normal 14px/17px zoho-puvi-regular;
      letter-spacing: 0px;
      color: var(--font-menu-color);
  }
}

/* Suggestion styles */
.thumbsup{
  background: var(--thumpsup-icon) no-repeat -259px -30px;
  width: 13px;
  height: 12px;
  margin: 5px;
}
.thumbsdown{
  background: var(--thumpsdown-icon) no-repeat -302px -31px;
  width: 13px;
  height: 12px;
  margin: 7px 5px 0 5px;
}
.pagination{
    width: 100%;
}
.form-control {
display: block;
width: 100%;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc
}
.form-control:focus {
border-color: #66afe9;
outline: 0
}
.rating-section {
margin-top: 50px
}
.rating-form{
border: 1px solid var(--hr-color);
border-radius: 4px;
float: left;
padding: 10px 20px;
background-color: var(--menu-color);
}
.rating-form {
width: 250px;
margin-bottom: 15px
}
.reponse-sec {
font: normal normal 600 13px/16px zoho-puvi-semibold;
color: #69ae75;
font-weight: 600;
}
.rating-form.full-width {
width: 300px;
background-color: var(--body-color);
}
.rating-qtn {
font-weight: 100;
font-size: 14px;
margin-bottom: 8px;
font: normal normal normal 15px/24px zoho-puvi-regular;
color: var(--font-menu-color);
}
.rating-form .form-group {
margin-bottom: 12px
}
.yes-no-btn {
font-size: 12px;
margin-right: 10px;
padding: 0px 8px;
border-radius: 20px;
border: 1px solid var(--font-blue-color);
cursor: pointer;
height: 25px;
display: flex;
font: normal normal normal 13px/24px zoho-puvi-regular;
}
.yes-no-btn:hover {
  background: var(--body-color);
}
.feedback-sec:after,
.yes-no:after {
content: " ";
display: block;
clear: both
}
.feedback-sec {
padding: 10px 0;
background-color: var(--body-color);
}
.feedback-sec p{
font: normal normal 600 13px/16px zoho-puvi-semibold; 
color:var(--font-body-color);
}
.feedback-sec .btn {
padding: 5px 22px;
font-weight: 700;
border-radius: 4px;
border-color: #9fb6e2;
background-color: transparent
}
.feedback-sec .btn-primary {
background-color: #3c72dc;
border-color: #3c72dc
}
.feedback-sec #comments {
height: 75px;
width: 100%;
margin: 10px 0 7px;
border: 1px solid #e4e4e4;
display: block
}
.reponse-sec {
padding: 19px 0 0 0;
}
.suggest-btn {
padding: 3px 20px 4px;
display: inline-block;
font-size: 13px
}
.form {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--font-body-color);
  background-color: var(--body-color);
  background-image: none;
  border: 1px solid var(--hr-color);
  outline: none !important;
  box-shadow: 0 0 0 0;
}

.email-field {
  background: var(--body-color);
  border: 1px solid var(--hr-color);
  border-radius: 4px;
  width: 100%;
  height: 76px;
  font: normal normal normal 15px/18px zoho-puvi-regular;
}
.yes-no-container{
  display: flex;
}
.skip-btn{
  background-color: var(--menu-color); 
  font: normal normal normal 13px/16px zoho-puvi-regular;
  color: var(--font-menu-color); 
  outline: none !important; 
  box-shadow: 0 0 0 0;
  width: 88px; 
  height: 34px; 
  border-radius: 4px;
  border: none; 
  cursor: pointer;
}
.submit-btn{
  background-color: var(--font-blue-color); 
  font: normal normal normal 13px/16px zoho-puvi-regular;
  color: #FFFFFF; 
  outline: none !important; 
  box-shadow: 0 0 0 0;
  margin-left: 95px; 
  border-radius: 4px;
  width: 88px; 
  height: 34px; 
  border: none; 
  cursor: pointer;
}

/* What's New */
.whatsnew-article .tab{
  padding: 40px 0;
}
.whatsnew-article .tab h1{
  font: normal normal 600 20px/24px zoho-puvi-semibold !important;
  margin: 0 0 15px 0 !important;
}
.whatsnew-article .tab h2{
  font: normal normal 600 18px/22px zoho-puvi-semibold !important;
  margin: 15px 0 20px 0 !important;
}
.timeline-round-icon{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #B6B6B680;;
  margin: 9px 7px 0 0;
}
.timeline-right-icon{
  background: var(--edit-icon) no-repeat -247px -101px;
  width: 6px;
  height: 9px;
  margin: 5px 10px 0 -17px;
  cursor: pointer;
}
.time-line{
  margin: 0 0 15px 40px;
}
.hide-timeline{
  display: none;
}
.open-timeline .hide-timeline{
  display: flex;
  margin: 10px;
}
.open-timeline .timeline-right-icon{
  background: var(--edit-icon) no-repeat -281px -101px;
  transform: rotateZ(90deg);
}
.year{
  font-family: zoho-puvi-regular;
  color: var(--font-body-color);
}
.open-timeline .year{
  color: var(--font-blue-color);
}
.date{
  font: normal normal normal 12px/26px zoho-puvi-regular;
  letter-spacing: 1.2px;
  color: var(--font-lite-body-color);;
  text-transform: uppercase;
}
.version{
  font: normal normal normal 14px/26px zoho-puvi-regular;
  color: var(--font-body-color);
}
.version:hover{
  color: var(--hover-color);
}
.timeline-block{
  display: flex;
  cursor: pointer;
}
#timelines p{
  margin: 0;
}
.active-timeline .timeline-right-icon{
  background: var(--edit-icon) no-repeat -281px -101px;
  transform: rotateZ(90deg);
}
.active-timeline .open-timeline .hide-timeline{
  display: flex;
  margin: 10px;
}
.active-version-block .timeline-round-icon{
  background: var(--font-blue-color);
}