/* To bold the text for menu open in sidebar */
i.fa-angle-down + a{
    font: normal normal 600 15px/18px zoho-puvi-semibold;
    color: #000000;
}

/* Header style */
.access-button{
	width: 150px;
	height: 44px;
	background: #F0483D 0% 0% no-repeat padding-box;
	text-align: center;
	border-radius: 1px;
  padding-top: 7px;
  font: normal normal normal 15px/30px zoho-puvi-regular;
  color: #F0F0F0;
  margin-left: 22px;
  margin-top:1px;
  list-style: none;
}
.list {
  margin:9px 22.5px 0 22px;
}
.list a{
    font: 15px/18px zoho-puvi-regular;
    letter-spacing: 0px;
    color: var(--font-lite-body-color);
    opacity: 1;
}
.list a:hover{
  color: var(--font-blue-color);
}
.add_div1{
  width: 11px;
  height: 2px;
  margin-top: 0px;
  border-radius: 2px;
  opacity: 1;
}
.header-block{
  padding:0 29px 0 40px;
}
.header-menu-list{
  width: 100%;
  height: auto;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--body-color);
  box-shadow: 5px 5px 5px var(--shadow-color);
}
.header-menu-list .list:hover{
  background-color: var(--menu-color);
}
.header-menu-list .list{
  list-style: none;
  margin: 0;
  padding: 9px;
}
.header-menu-list a{
  display: grid;
  text-align: center;
  color: var(--font-lite-body-color) !important;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.header-menu-list .access-button{
  margin: 10px auto 15px auto;
}
.header-block .logo{
  display: none;
  border: none;
  background: transparent;
  left: 50px;
}
.logo-anchor{
  text-decoration: none; 
  display: flex; 
  margin:19px 0 21px 30px; 
  padding:3px;
}
.logo-title-block{
  display: block; 
  margin-left: 12px; 
  margin-top:1px;
}
.logo-product-name{
  font: 20px/20px zoho-puvi-medium; 
  color: var(--font-body-color); 
  margin-bottom: 0px; 
  margin-top: -2px;
}
.logo-company-name{
  font: 12px/14px zoho-puvi-regular; 
  color: var(--font-body-color); 
  padding-left: 0px;
}
.close-p{
  font: 17px/18px zoho-puvi-regular; 
  color: var(--font-menu-color); 
  margin-top: 29px;
}
.filterbox{
  display: flex; 
  border-radius:35px; 
  outline: none !important; 
  box-shadow: 0 0 0 0; 
  font: normal normal normal 14px/17px zoho-puvi-regular; 
  color: var(--font-menu-color); 
  padding: 4px 11px;
  width: 310px;
  height: 39px !important;
  background-color: transparent;
  border: 1px solid var(--hr-color);
}
.right-header{
  display: flex;
  margin-left: auto;
  display: none;
}
.left-menu-icon{
  display: none;
  background: var(--edit-icon) no-repeat -959px -35px;
  background-size: 1200px auto;
  width: 30px;
  height: 30px;
  margin: 5px 0 0 30px;
  cursor: pointer;
}
.right-menu-icon{
  background: var(--edit-icon) no-repeat -1018px -35px;
  background-size: 1200px auto;
  width: 30px;
  height: 30px;
  margin: 6px 0 0 30px;
  cursor: pointer;
}
.global-search-icon{
  background: var(--edit-icon) no-repeat -1137px -35px;
  background-size: 1200px auto;
  width: 30px;
  height: 30px;
  margin: 6px 0 0 30px;
  cursor: pointer;
}
@media only screen and (max-width: 990px) {
  .header-block{
    padding:0 29px 0 0;
  }
}
@media only screen and (max-width: 936px) {
  nav.shortcuts{
    display: none !important;
  }
  .left-menu-icon{
    display: block !important;
  }
  .right-header{
    display: flex !important;
  }
  .header-block .logo{
    display: block;
    width: auto;
  }
  #homeArticleSearch{
    display: none;
  }
}
@media only screen and (min-width: 937px) {
  nav.header-menu-list{
    display:  none !important;
  }
}

/* Footer style */
.flexbox{
display: flex;
}
.footer-icon{
margin:2px 30px 0 12px;
font: normal normal normal 15px/18px zoho-puvi-regular, Roboto, sans-serif;
color: var(--font-lite-body-color);
}
.icons{
margin-top:2px;
}
.footer-head{
text-align: center; 
padding: 30px 0; 
margin-bottom: 0;
font: 20px/24px zoho-puvi-semibold, Roboto, sans-serif;
color: var(--font-body-color);
}
.footer-ref{
display: flex; 
flex-wrap: wrap; 
justify-content:center;
}
.footer-at{
font: normal normal normal 12px/30px zoho-puvi-regular, Roboto, sans-serif;
text-align: center;
width: 100%;
color: var(--font-at-color);
}
.footer-contact{
font: normal normal normal 12px/30px zoho-puvi-regular, Roboto, sans-serif;
color: var(--font-menu-color);
}
.stackoverflowLight{
background: url('/images/LightPages.svg') no-repeat -31px -95px;
width: 16px;
height: 18px;
}

.slackcommunityLight{
background: url('/images/LightPages.svg') no-repeat -72px -95px;
width: 19px;
height: 18px;
}

.catalystcommunityLight{
background: url('/images/LightPages.svg') no-repeat -117px -95px;
width: 16px;
height: 18px;
}

.githubLight{
background: var(--edit-icon) no-repeat -159px -95px;
width: 18px;
height: 18px;
}

.contactsupportLight{
background: url('/images/LightPages.svg') no-repeat -202px -97px;
width: 16px;
height: 16px;
}
.ZPprivacy {
padding: 0 20px;
margin: auto;
box-sizing: border-box;
}
.footer-links ul {
list-style: none;
margin-bottom: 5px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.footer-links ul li {
border-right: 1px solid var(--font-lite-body-color);
padding: 0 10px 0 7px;
margin-bottom: 10px;
}
.footer-links ul li a{
font: normal normal normal 13px zoho-puvi-regular, Roboto, sans-serif;
}
.footer-links ul li:first-child {
padding-left: 0;
}
.footer-links ul li:last-child {
padding-right: 0;
border-right: 0;
}
.footer-links {
display: flex; 
margin: 20px 0 10px 0; 
}
.footer-links a:hover{
color: var(--font-lite-body-color);
}
.footer-at-block{
display: flex; 
margin: 0 auto;
padding-bottom: 20px;
}
@media screen and (min-width: 761px) and (max-width : 1020px) {
.footer-at-block{
display: block;
}
}
@media screen and (min-width: 0px) and (max-width : 760px) {
.flexbox{
padding-bottom: 10px;
}
.footer-at-block{
display: block;
}
}

/* Search bar style */
    input::placeholder {/* Firefox */
        color: var(--font-at-color);
        font: 15px/18px zoho-puvi-regular;
    }
    input:-ms-input-placeholder {/* Internet Explorer 10-11 */
        color: var(--font-at-color);
        font: 15px/18px zoho-puvi-regular;
    }
    input::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--font-at-color);
        font: 15px/18px zoho-puvi-regular;
    }
    .input-search {
        width: 100%;
        position: relative;
    }
    .search-icon{
        background: var(--shortlist-icon) no-repeat -30px -30px;
        width: 16px;
        height: 16px;
        margin: 15px 0 0 15px;
        position: absolute;
    }
    #innerSearchBar{
        display: none;
        margin: auto;
    }
    .input-field {
        width: 400px;
        padding: 10px 10px 10px 40px;
        text-align: left; 
        border-radius:35px; 
        outline: none !important; 
        box-shadow: 0 0 0 0; 
        color: var(--font-body-color);
        font: 15px/18px zoho-puvi-regular;
        height: 44px;
        margin-top: 1px;
        margin-left: 1px;
        background-color: transparent;
        border: 1px solid var(--hr-color);           
    }
    [type=button].input-field {
      color: var(--font-at-color);
    }
    /* Responsive styles */
    @media only screen and (max-width: 1400px) {
        #outerSearchBar{
            display: none;
        }
        #innerSearchBar{
            display: block;
            width: 400px;
        }
        .input-field{
            width: 400px;
        }
    }
    @media only screen and (max-width: 936px) {
      #innerSearchBar{
        display: none !important;
      }
    }

/* Sidebar */
.shortlist {
    background: var(--shortlist-icon) no-repeat -76px -30px;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 11px;
}
.logo {
    border-bottom: 1px solid var(--hr-color);
    height: 75px;
    position: fixed;
    width: 370px;
    z-index: 2;
    top: 0px;
    display: flex;
    background-color: var(--menu-color);
}
.catalyst-logo{
  background: url('/images/CatalystLogo.svg') no-repeat 0 0;
  width: 28px;
  height: 32px;
}
.input-filter{
  border: none; 
  background-color: transparent; 
  outline: none !important; 
  box-shadow: 0 0 0 0; 
  width: 260px;
  color: var(--font-menu-color);
  font: 15px/18px zoho-puvi-regular;
}
::placeholder{
  color: var(--font-at-color);
  font: normal normal normal 13px/16px zoho-puvi-regular;
}
.close-sidebar-icon{
    margin: 20px 5px 0 25px;
    background: var(--edit-icon) no-repeat -803px -21px;
    background-size: 900px auto;
    width: 30px;
    height: 30px;
}
.close-sidebar {
    border-bottom: 1px solid var(--hr-color);
    height: 75px;
    position: fixed;
    width: 370px;
    z-index: 5;
    top: 0px;
    display: none;
    cursor: pointer;
    background-color: var(--menu-color);
}
#responsiveSidebarToHide{
    display: block;
}
@media only screen and (max-width: 936px) {
    aside.hide-sidebar{
        position: absolute !important;
        top: 0;
        left: 0;
        display: none !important;
    }
    .close-sidebar {
        display: flex !important;
    }
    #responsiveSidebarToHide{
        display: none !important;
    }
}
@media only screen and (min-width: 937px) {
    aside.hide-sidebar{
        display: block;
    }
}

/* select style */

  .customselect {
    position: relative;
    background-color: var(--menu-color);
    color: var(--font-menu-color);
    border-radius: 5px;
    border: 1px solid var(--hr-color);
  }
  .customselect select {
    display: none;
  }
  .select-selected {
      background-color: var(--menu-color);
      color: var(--font-menu-color);
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: var(--font-menu-color) transparent transparent transparent;
  }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--font-menu-color) transparent;
    top: 12px;
  }
  .select-items div {
    padding: 3px 0 0 10px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .select-selected {
    padding: 4px 30px 0 10px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: var(--menu-color);
    color: var(--font-menu-color);
    border: 1px solid var(--hr-color);
    margin-top: 2px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: var(--body-color);
    color: var(--font-body-color);
  }

  /* Tutorial apps */
  .tutorial-filter {
    background-color: var(--menu-color);
    font: 14px/17px zoho-puvi-regular;
    padding-left: 8px;
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
    border-color: var(--hr-color);
  }

  /* API Responsive styles */
  @media only screen and (max-width: 1400px) {
      section.hash{
          display:  block !important;
      }
      section.hash .LeftContent{
          width: 100%;
      }
      section.hash .RightContent{
          width: 100%;
      }
  }

  /* Main Article Content */
    .main{
        margin:191px auto 0 auto; 
        width: fit-content;
        width: -moz-fit-content;
    }
    .main .title {
        font: normal normal 600 40px/48px zoho-puvi-bold;
        letter-spacing: 0px;
        color: var(--body-header-color);
        opacity: 1;
        text-align: center;
        margin-bottom: 12px;
    }
    .main .content {
        font: normal normal normal 15px/26px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        text-align: center;
        margin-bottom: 34px;
    }
    #mainArticleSearch{
      display: none;
    }
    @media only screen and (max-width: 991px) {
        .main{
            margin:115px auto 0 auto; 
        }
    }
    @media (min-width:937px) and (max-width:1400px){
      #mainArticleSearch{
        display: block;
      }
    }

  /* Main Feature Content */
    .getting-started-icon{
      background: var(--getting-started-icon) no-repeat -39px -40px;
      width: 43px;
      height: 39px;
    }
    .tutorial-icon{
      background: var(--tutorial-icon) no-repeat -118px -41px;
      width: 40px;
      height: 38px;
    }
    .whats-new-icon{
      background: var(--whats-new-icon) no-repeat -199px -40px;
      width: 40px;
      height: 40px;
    }
    @media only screen and (max-width: 991px) {
        #indexFeatures .row{
            justify-content: space-around;
        }
        #indexFeatures{
          margin: 0 !important;
          margin-bottom: 30px !important;
        }
    }
    @media only screen and (min-width: 992px) {
        #indexFeatures .row{
            justify-content: space-between;
        }
    }


  /* Main SDK Content */
    .cli-icon{
        background: var(--cli-icon) no-repeat -635px -42px;
        width: 37px;
        height: 36px;
      }
      .nodejs-icon{
        background: var(--nodejs-icon) no-repeat -769px -49px;
        width: 36px;
        height: 23px;
      }
      .java-icon{
        background: var(--java-icon) no-repeat -710px -42px;
        width: 21px;
        height: 36px;
      }
      .android-icon{
        background: var(--android-icon) no-repeat -839px -41px;
        width: 32px;
        height: 39px;
      }
      .ios-icon{
        background: var(--ios-icon) no-repeat -977px -45px;
        width: 24px;
        height: 31px;
      }
      .api-icon{
        background: var(--api-icon) no-repeat -905px -42px;
        width: 36px;
        height: 36px;
      }
      .js-icon{
        background: var(--js-icon) no-repeat -1041px -43px;
        width: 29px;
        height: 36px;
      }
      @media only screen and (max-width: 991px) {
            #indexSdk .row{
                justify-content: space-around;
            }
            #indexSdk{
                margin-top: 50px !important;
            }
      }
      @media (min-width:992px) and (max-width:1199px){
            #indexSdk .row{
                justify-content: space-between;
            }
      }
    

    /* Main FAQ Content */
      .faq-text{
        text-align: left; 
        color: var(--font-body-color); 
        font: normal normal 600 40px/60px zoho-puvi-semibold;
        margin-bottom: 15px !important;
      }
      .accordion1 {
        font: normal normal normal 16px/24px zoho-puvi-regular;
        background-color: var(--menu-color);
        color: var(--font-menu-color);
        border: 1px solid var(--hr-color);
        cursor: pointer;
        padding: 20px 21px 20px 16px;
        width: 100%;
        display: flex;
        text-align: left;
        margin-bottom:16px;
        border-radius: 2px;
        outline: none !important; 
        box-shadow: 0 0 0 0;
      }
      .accordion2 {
        background-color: var(--body-color);
        color: var(--font-blue-color);
        cursor: pointer;
        padding: 13px;
        width: 100%;
        margin-bottom:16px;
        border-radius: 2px;
        outline: none !important; 
        border: 1px solid var(--hr-color);
        text-align: center;
        box-shadow: 0 0 0 0;
      }
      .active1, .accordion1:hover {
        background-color: var(--menu-color);
      }
      .accordion1:after {
        content: '\002B';
        color: var(--font-lite-body-color);
        font-weight: 0;
        float: right;
        font-size: 30px;
        margin-left: auto;
      } 
      .active1:after {
        content: "\2212";
      }
      .panel1 {
        padding: 0 18px;
        background-color: var(--body-color);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

    /* Main Help Content */
      .character-icon{
        background: var(--character-icon) no-repeat -277px -45px;
        width: 26px;
        height: 30px;
      }
      .app-icon{
        background: var(--app-icon) no-repeat -339px -45px;
        width: 22px;
        height: 30px;
      }
      .barcode-icon{
        background: var(--barcode-icon) no-repeat -575px -45px;
        width: 30px;
        height: 30px;
      }
      .face-icon{
        background: var(--face-icon) no-repeat -395px -45px;
        width: 30px;
        height: 30px;
      }
      .image-icon{
        background: var(--image-icon) no-repeat -515px -45px;
        width: 29px;
        height: 29px;
      }
      .object-icon{
        background: var(--object-icon) no-repeat -455px -45px;
        width: 30px;
        height: 30px;
      }
      .auth-icon{
        background: var(--auth-icon) no-repeat -61px -188px;
        width: 32px;
        height: 30px;
      }
      .data-store-icon{
        background: var(--data-store-icon) no-repeat -116px -188px;
        width: 26px;
        height: 32px;
      }
      .file-store-icon{
        background: var(--file-store-icon) no-repeat -166px -188px;
        width: 32px;
        height: 22px;
      }
      .cache-icon{
        background: var(--cache-icon) no-repeat -221px -188px;
        width: 30px;
        height: 32px;
      }
      .zcql-icon{
        background: var(--zcql-icon) no-repeat -274px -188px;
        width: 26px;
        height: 32px;
      }
      .cron-icon{
        background: var(--cron-icon) no-repeat -324px -188px;
        width: 32px;
        height: 32px;
      }
      .functions-icon{
        background: var(--functions-icon) no-repeat -379px -188px;
        width: 28px;
        height: 32px;
      }
      .circuits-icon{
        background: var(--circuits-icon) no-repeat -431px -188px;
        width: 30px;
        height: 32px;
      }
      .security-rules-icon{
        background: var(--security-rules-icon) no-repeat -484px -188px;
        width: 26px;
        height: 32px;
      }
      .big-search-icon{
        background: var(--search-icon) no-repeat -533px -188px;
        width: 29px;
        height: 31px;
      }
      .mail-icon{
        background: var(--mail-icon) no-repeat -971px -193px;
        width: 32px;
        height: 22px;
      }
      .push-notifications-icon{
        background: var(--push-notifications-icon) no-repeat -587px -188px;
        width: 28px;
        height: 32px;
      }
      .event-listeners-icon{
        background: var(--event-listeners-icon) no-repeat -693px -188px;
        width: 32px;
        height: 28px;
      }
      .git-icon{
        background: var(--git-icon) no-repeat -638px -188px;
        width: 32px;
        height: 32px;
      }
      .api-gateway-icon{
        background: var(--api-gateway-icon) no-repeat -62px -79px;
        width: 30px;
        height: 30px;
        
      }
      .mobile-device-management-icon{
        background: var(--mobile-device-management-icon) no-repeat -122px -82px;
        width: 30px;
        height: 23px;
      }
      .crashes-icon{
        background: var(--crashes-icon) no-repeat -182px -81px;
        width: 30px;
        height: 25px;
      }
      .apm-icon{
          background: var(--apm-icon) no-repeat -602px -79px;
          width: 30px;
          height: 30px;
      }
      .web-client-icon{
        background: var(--web-client-icon) no-repeat -804px -188px;
        width: 32px;
        height: 32px;
      }
      .domain-mapping-icon{
        background: var(--domain-mapping-icon) no-repeat -750px -189px;
        width: 30px;
        height: 30px;
      }
      .logs-icon{
        background: var(--logs-icon) no-repeat -860px -188px;
        width: 30px;
        height: 32px;
      }
      .metrics-icon{
        background: var(--metrics-icon) no-repeat -913px -189px;
        width: 29px;
        height: 31px;
      }
      .container a:hover{
        color: var(--font-body-color);
      }
      .add_div{
        width: 2px;
        height: 10px;
        margin-top: 7px;
        margin-right: 15px;
        border-radius: 2px;
        opacity: 1;
      }

/* Tutorial list features */
.tutorial-list{
  display: flex; 
  padding-bottom: 20px; 
  border-bottom: 1px solid var(--hr-color); 
  margin: 0 10px 40px 10px;
}
.tutorial-block{
  display: flex;
  flex-wrap: wrap;
}
.tutorial-page{
  margin:100px 0 0 0;
}
.tutorial-select-filter{
  display: flex; 
  margin-left: auto;
}
@media only screen and (max-width: 450px) {
  .tutorial-list .input-icons{
    width: 100%;
  }
  .tutorial-list .input-field{
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .tutorial-select-filter{
    display: none;
  }
  .tutorial-page{
    margin: 0;
  }
  .tutorial-block{
    justify-content: space-around;
  }
}

/* FAQ page style */
.faq-sidebar{
  height: auto !important; 
  background-color: var(--body-color); 
  width: 240px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 100px;
  align-self: flex-start; 
  flex: 0 0 17em
}
.faq-article{
  top:100px; 
  width: 90%; 
  margin:30px auto 30px auto;
}
#catalyst-components{
  position: absolute; 
  top:370px;
}
@media only screen and (max-width: 450px) {
  .faq-header .input-icons{
    width: 100%;
  }
  .faq-header .input-field{
    width: 100%;
  }
}
@media only screen and (max-width: 936px) {
  .faq-article{
    top:0px; 
  }
  #catalyst-components{
    top:280px;
  }
}

/* What's new page style */
.whatsnew-sidebar{
  height: auto !important; 
  background-color: var(--body-color); 
  width: 240px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 100px;
  align-self: flex-start; 
  flex: 0 0 20em
}
.whatsnew-article{
  top:100px; 
  width: 97%; 
  margin:30px auto 30px auto;
}
.whats-new-right-menu{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 100px;
    align-self: flex-start;
}
@media only screen and (max-width: 936px) {
  .whatsnew-article{
    top:0px; 
  }
}