@font-face {
    font-family: "zoho-puvi-semibold";
    src: url(/Zoho_Puvi/OpenType-PS/Zoho-Puvi-Semibold.otf);
}
@font-face {
    font-family: "zoho-puvi-bold";
    src: url(/Zoho_Puvi/OpenType-PS/Zoho-Puvi-Bold.otf);
}
@font-face {
    font-family: "zoho-puvi-regular";
    src: url(/Zoho_Puvi/OpenType-PS/Zoho-Puvi-Regular.otf);
}
@font-face {
    font-family: "zoho-puvi-medium";
    src: url(/Zoho_Puvi/OpenType-PS/Zoho-Puvi-Medium.otf);
}
@font-face {
    font-family: "zoho-puvi-thin";
    src: url(/Zoho_Puvi/OpenType-PS/Zoho-Puvi-Thin.otf);
}

@font-face {
    font-family:"Roboto-Mono";
    font-weight:400;
    font-style:normal;
    src:url("/Roboto_Mono/robotomonoregular.woff2") format("woff2"),
        url("/Roboto_Mono/robotomonoregular.woff") format("woff"),
        url("/Roboto_Mono/robotomonoregular.ttf") format("truetype");
    }
 @font-face {
    font-family:"Roboto";
    font-weight:400;
    font-style:italic;
    src:url("/Roboto_Mono/roboto_italics.woff2") format("woff2"),
        url("/Roboto_Mono/roboto_italics.woff") format("woff"),
        url("/Roboto_Mono/roboto_italics.ttf") format("truetype");    
    }
 @font-face {
    font-family:"Inconsolata";
    font-weight:400;
    font-style:normal;
    src:url("/Inconsolata/inconsolata.woff2") format("woff2"),
        url("/Inconsolata/inconsolata.woff") format("woff"),
        url("/Inconsolata/inconsolata.ttf") format("truetype");    
    }
       
@font-face {
    font-family:"Inconsolata-Bold";
    font-weight:700;
    font-style:normal;
    src:url("/Inconsolata/inconsolata_bold.woff2") format("woff2"),
        url("/Inconsolata/inconsolata_bold.woff") format("woff"),
        url("/Inconsolata/inconsolata_bold.ttf") format("truetype");
    }