.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}
#Overlay1 {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background: #8E8E8E;
  opacity: 0.43;
} 
.overlay-content {
  position: relative;
  top: 20px;
  width: 70%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  z-index: 7;
}
.overlay .closebtn {
  padding-top: 14px;
  font-size: 25px;
  cursor: pointer;
  background-color: var(--search-background-color);
  color: var(--font-menu-color);
}
.overlay input[type=text] {
  border: none;
  background-color: var(--search-background-color);
  opacity: none;
  outline: none !important; 
  box-shadow: 0 0 0 0; 
  width: 100%;
  color: var(--font-menu-color);
  font: normal normal normal 14px/17px zoho-puvi-regular;
  padding: 2px 0 0 60px;
}
.overlay .cancel-btn{
  background-color: var(--search-background-color); 
  padding: 20px 20px 0px 50px; 
  cursor: pointer; 
  font:14px/17px zoho-puvi-regular; 
  color: var(--font-menu-color);
}
.global-search-block{
  display: flex; 
  background-color: var(--search-background-color); 
  height: 54px;
}