/* Note */
.note{
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
}
.note p{
  font: 13px/20px zoho-puvi-regular !important;
  color: var(--font-lite-body-color) !important;
  margin: 0 !important;
}
.note .shortcode-badge{
  background-color: var(--note-badge);
  border: none;
  font: 12px/20px zoho-puvi-regular !important;
}
.note a{
  font: 13px/20px zoho-puvi-regular !important;
}
.note .shortcode-badge a{
  font: 12px/20px zoho-puvi-regular !important;
}
.note-info{
	font: 13px/20px zoho-puvi-regular;
  color: var(--font-lite-body-color);
  background-color: var(--gray-color);	
	border: 1px solid var(--gray-border-color);
	border-radius: 4px;
}
.bold-primary{
  font: 13px/20px zoho-puvi-semibold;
  color: var(--font-lite-body-color);
}
.shortcode-badge{
  padding: 2px 6px;
  font: 13px/22px Roboto-Mono,arial;
  letter-spacing: 0.8px;
  background-color: var(--menu-color);
  color: var(--font-body-color);
  border-radius: 4px;
  border:1px solid var(--hr-color);
}
.shortcode-badge a{
  font: 14px/22px zoho-puvi-regular !important;
}
/* New Version */
.announcement-block{
  font: 14px/26px zoho-puvi-medium;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.announcement-block a{ 
  font: 14px/26px zoho-puvi-medium !important;
}
.yellow{
  background: #FDF3D0;
  color: #887120;
}
/* list */
div.bold ol li::marker{
  font: normal normal bold 15px/24px zoho-puvi-bold;
}
/* Table */
.inner-table{
  width:100%; 
  margin: 5px 0 !important;
}
.table-props{
  color: var(--font-blue-color); 
  font:14px zoho-puvi-regular;
  cursor: pointer;
}
.hide-table-props{
  display: none;
}
/* code */
.cli #cliCommand{
  display: block !important;
  margin-top: 17px; 
  margin: 17px 0 0 16px;
  font: 16px/26px zoho-puvi-regular;
  letter-spacing: 0px;
  opacity: 0.3;
}
.switch {
  position: relative;
  display: flex;
  margin:0;
  height: 24px;
  top: 0px;
  right: 0px;
  float: right;
}
.switch input {
  opacity: 0;
}
.code-light-icon {
  background: url('/images/LightPages.svg') no-repeat -121px -29px;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  cursor: pointer;
}
.code-dark-icon {
  background: url('/images/DarkPages.svg') no-repeat -514px -29px !important;
  width: 16px !important;
  height: 16px !important;
  margin-left: 4px !important;
  margin-top: 0 !important;
  cursor: pointer;
}
.theme-icon{
  padding-top: 4.7px;
  background-color: var(--codeblock-button-color) !important;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-top: 0px !important;
}
.theme-icon:hover{
  box-shadow: 0px 0px 16px var(--button-shadow-color);
}

pre.shortcode-light{
  background-color: #F8F9FA !important;
  border-color: #EAEEF5 !important;
}
.shortcode-light code{
  color: #000000 !important;
}
pre.shortcode-dark{
  background-color: #1B1B1F !important;
  border-color: #2E2E38 !important;
}
.shortcode-dark code{
  color: #F0F0F0 !important;
}
.shortcode-light .copy-to-clipboard p{
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
.shortcode-dark .copy-to-clipboard p{
  background-color: #171717 !important;
  color: #F0F0F0 !important;
}
.shortcode-light .theme-icon{
  background-color: #FFFFFF !important;
}
.shortcode-dark .theme-icon{
  background-color: #2C2F2F !important;
}
.shortcode-light .theme-icon:hover{
  box-shadow: 0px 0px 16px #A2A2A234 !important;
}
.shortcode-dark .theme-icon:hover{
  box-shadow: 0px 0px 16px #171717 !important;
}

/* Panel with adjustment  */
#panel{
  position: relative;
}
#panel .hideCopyBtn .copy-to-clipboard{
  display: none;
}
#panel .switch{
  top: 10px;
  right: 15px;
}
#panel #copy-code-block{
  display: none;
}
#panel .copy-to-clipboard{
  margin-top: -50px;
  margin-right: 36px;
}
#panel .panel-header{
  padding: 17px 10px 15px 30px;
  color: var(--font-body-color);
  font: 15px/24px zoho-puvi-medium;
  border: 0;
  width: 90%;
  overflow-x: auto;
}
#panel .panel-body{
  background-color: var(--codeblock-body-color);
  padding: 0px 0px 16px 14px;
  border-top: 1px solid var(--hr-color);
}
#view-adjust.panel-body{
  height: 120px;
  padding: 0px 0px 40px 14px;
}
#view-adjust.panel-body.import-block{
  height: 100px;
}
  
#panel .panel-footer{
  width: 90px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 45%;
  background-color: var(--body-color);
  box-shadow: 0px 0px 20px #A2A2A233;
  border: 0;
  border-radius: 4px;
  color: var(--font-body-color);
  padding: 2px 10px 4px 10px;
}
.adjust-button{
  font: 14px/26px zoho-puvi-medium !important;
  color: var(--font-body-color);
  text-align: center;
  cursor: pointer;
}
#view-adjust.fadecontent {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#view-adjust.fadecontent::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, var(--codeblock-body-color));
  pointer-events: none;
}

#panel.shortcode-light .panel-header{
  background-color: #F6F7F8;
  color: #000000;
}
#panel.shortcode-dark .panel-header{
  background-color: #212124;
  color: #F0F0F0;
}
#panel.shortcode-light .panel-body{
  background-color: #F8F9FA;
  color: #000000;
  border-top: 1px solid #EAEEF5;
}
#panel.shortcode-dark .panel-body{
  background-color: #1B1B1F;
  color: #F0F0F0;
  border-top: 1px solid #2E2E38;
}
#panel.shortcode-light .panel-footer{
  background-color: #FFFFFF;
}
#panel.shortcode-dark .panel-footer{
  background-color: #171717;
}
#panel.shortcode-light .adjust-button{
  color: #000000;
}
#panel.shortcode-dark .adjust-button{
  color: #F0F0F0;
}
#panel.shortcode-light #view-adjust.fadecontent::after {
  background: linear-gradient(transparent, #F8F9FA);
}
#panel.shortcode-dark #view-adjust.fadecontent::after {
  background: linear-gradient(transparent, #1B1B1F);
}

/* Panel Select */
#panel .hide{
  display: none;
}
.panel-select{
  width: fit-content !important;
  width: -moz-fit-content !important;
  height: 24px;
  font: 12px/22px zoho-puvi-medium;
  border-radius: 4px;
  border: none;
}
.panel-select:hover{
  box-shadow: 0px 0px 16px var(--button-shadow-color);
}
.shortcode-light .panel-select:hover{
  box-shadow: 0px 0px 16px #A2A2A234 !important;
}
.shortcode-dark .panel-select:hover{
  box-shadow: 0px 0px 16px #171717 !important;
}
.panel-select .select-selected {
  background-color: var(--codeblock-button-color);
  color: var(--font-lite-body-color);
  border: none;
  border-radius: 4px;
  padding: 1px 24px 1px 8px
}
.panel-select .select-selected:after{
  background: var(--edit-icon) no-repeat -470px -102px;
	width: 10px;
	height: 7px;
  top: 9px;
  right: 6px;
  border: none;
}
.panel-select .select-selected.select-arrow-active:after{
  background: var(--edit-icon) no-repeat -470px -102px;
	width: 10px;
	height: 7px;
  transform: rotate(180deg);
  top: 9px;
  right: 6px;
  border: none;
}
.panel-select .select-items{
  background-color: var(--codeblock-button-color);
  width: 78px;
}
.panel-select .select-items div{
  color: var(--font-lite-body-color);
}
.shortcode-light .panel-select .select-selected {
  background-color: #FFFFFF;
  color: #393939;
}
.shortcode-dark .panel-select .select-selected {
  background-color: #2C2F2F;
  color: #B6B6B6;
}
.shortcode-light .panel-select .select-selected:after{
  background: url('/images/LightPages.svg') no-repeat -470px -102px;
}
.shortcode-dark .panel-select .select-selected:after{
  background: url('/images/DarkPages.svg') no-repeat -470px -102px;
}
.shortcode-light .panel-select .select-selected.select-arrow-active:after{
  background: url('/images/LightPages.svg') no-repeat -470px -102px;
}
.shortcode-dark .panel-select .select-selected.select-arrow-active:after{
  background: url('/images/DarkPages.svg') no-repeat -470px -102px;
}
.shortcode-light .panel-select .select-items {
  background-color: #FFFFFF;
  border: 1px solid #EAEEF5;
}
.shortcode-dark .panel-select .select-items {
  background-color: #2C2F2F;
  border: 1px solid #2E2E38;
}
.shortcode-light .panel-select .select-items div{
  color: #393939;
}
.shortcode-dark .panel-select .select-items div{
  color: #B6B6B6;
}
.shortcode-light .panel-select .select-items div:hover, .shortcode-light .panel-select .same-as-selected {
  background-color: #F6F7F8 !important;
  color: #393939 !important;
}
.shortcode-dark .panel-select .select-items div:hover, .shortcode-dark .panel-select .same-as-selected {
  background-color: #171717 !important;
  color: #B6B6B6 !important;
}

/* Panel Import */
.set-scroll .panel-body{
  max-height: 650px;
  height: auto;
  overflow-y: auto;
}
.copied-msg{
  position: absolute;
  right: 121px;
  top: 0px;
  z-index: 1000000;
  padding: 4px 8px 3px 8px;
  margin: 26px 10px 0 0;
  font: normal normal 11px/1.5 "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
  color: #fff !important;
  text-align: center;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
#importBlock .copied-msg{
  right: 170px;
}
.request-block .copied-msg {
  right: 67px;
  top: -4px;
}
.copied-msg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.show-import-block{
  display: flex;
  cursor: pointer;
}
.round-check label{
  position: static;
}
.copytoclipboard{
  text-transform: uppercase;
  cursor: pointer;
  font: normal normal 12px/26px zoho-puvi-medium !important;
  background-color: var(--codeblock-button-color);
  color: var(--font-lite-body-color);
  height: 24px;
  padding: 0px 8px;
  border-radius: 4px;
}
.copytoclipboard:hover{
  box-shadow: 0px 0px 6px var(--button-shadow-color);
}
.shortcode-light .copytoclipboard:hover{
  box-shadow: 0px 0px 16px #A2A2A234 !important;
}
.shortcode-dark .copytoclipboard:hover{
  box-shadow: 0px 0px 16px #171717 !important;
}
.show-flex{
  display: flex;
}
#panel .code-block-header{
  display: flex;
  background: var(--menu-color);
}
.right-header-panel{
  display: flex; 
  margin:16px 30px 0 auto;
}
.round-check{
  display: flex; 
  margin-top:3px;
}
.import-text{
  white-space: nowrap; 
  color: var(--font-body-color);
  font: 14px zoho-puvi-regular;
  margin: 4px 14px 0 11px;
}
#panel.shortcode-light .round input[type="checkbox"] + label{ 
  background-color: #FFFFFF;
  border-color: #B6B6B6 !important;
}
#panel.shortcode-dark .round input[type="checkbox"] + label{
  background-color: #212124;
  border-color: #B6B6B6 !important;
}
#panel .round label:after{
  height: 5px;
  left: 16px;
  top: 5px;
  width: 10px;
}
#panel .round input[type="checkbox"] + label{
  border-radius: 4px; 
  background-color: ;
  border-color: #B6B6B6; 
  box-shadow: 0px 0px 6px #c7c7c729; 
  height: 17px; 
  width: 17px;
}
.spliter{
  height: 20px;
  padding: 1px;
  border-radius: 25px;
  background: var(--hr-color);
  margin: 2px 16px 0 16px;
}
#panel.shortcode-light .spliter{
  background: #EAEEF5;
}
#panel.shortcode-dark .spliter{
  background: #343434;
}
#panel.shortcode-light .code-block-header{
  background: #F6F7F8;
}
#panel.shortcode-dark .code-block-header{
  background: #222222;
}
#panel.shortcode-light .round input[type="checkbox"] + label{ 
  background-color: #FFFFFF;
  border-color: #B6B6B6 !important;
}
#panel.shortcode-light .round div.import{
  color: #000000 !important;
}
#panel.shortcode-dark .round input[type="checkbox"] + label{
  background-color: #212124;
  border-color: #B6B6B6 !important;
}
#panel.shortcode-dark .round div.import{
  color: #F0F0F0 !important;
}
.shortcode-light .import-text{
  color: #000000 !important;
}
.shortcode-dark .import-text{
  color: #F0F0F0 !important;
}
.shortcode-light .copytoclipboard {
  background-color: #FFFFFF;
  color: #393939;
}
.shortcode-dark .copytoclipboard {
  background-color: #2C2F2F;
  color: #DEDEDE;
}
.expand-close-icon{
  background: var(--edit-icon) no-repeat -515px -100px;
	width: 14px;
	height: 8px;
  margin-top: 9px;
  cursor: pointer;
}
.expand-open-icon{
  background: var(--edit-icon) no-repeat -515px -100px;
	width: 14px;
	height: 8px;
  margin-top: 9px;
  cursor: pointer;
  transform: rotate(180deg);
}
.shortcode-light .expand-close-icon {
  background: url('/images/LightPages.svg') no-repeat -515px -100px;
}
.shortcode-light .expand-open-icon {
  background: url('/images/LightPages.svg') no-repeat -515px -100px;
}
.shortcode-dark .expand-open-icon {
  background: url('/images/DarkPages.svg') no-repeat -515px -100px;
}
.shortcode-dark .expand-close-icon {
  background: url('/images/DarkPages.svg') no-repeat -515px -100px;
}
.import-body{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  border-color: var(--hr-color) !important;
}
.shortcode-light .import-body {
  border-color: #EAEEF5 !important;
}
.shortcode-dark .import-body {
  border-color: #343434 !important;
}

/* Syntax Hightlight styles */
pre table,
pre table td {
  font: normal normal normal 16px/26px Inconsolata,arial !important;
  width: auto !important;
  padding: 0 !important;
  border: none !important;
  margin: 0px !important;
}
pre table td.hljs-ln-code{
  padding-left: 15px !important;
}
pre code.hljs{
  padding-bottom: 0px !important;
}
pre.shortcode-light table td{
  color: #000000 !important;
}
pre.shortcode-dark table td{
  color:#F0F0F0 !important;
}
.hljs-ln-n:before {
  content: attr(data-line-number);
  color: #909090 !important;
}
.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag, .hljs-tag{
  color: var(--font-blue-color) !important;
}

.request-block{
  display: flex;
  width: 100%;
  position: relative;
  background-color: var(--menu-color);
  border: 1px solid var(--hr-color);
  border-radius: 4px;
  padding: 11px;
}
.request-body{
  width: auto;
  padding: 3px 8px 3px 11px;
  font: 16px/26px Inconsolata;
}
.request-body p{
  font: 16px/26px Inconsolata !important;
  margin: 0 !important;
}
.ft-st a{
  font: 14px/20px zoho-puvi-regular !important;
}
.scope{
  background: var(--menu-color);
  overflow-x: auto;
  padding: 11px;
  border-radius: 5px;
  border: 1px solid var(--hr-color);
}
.scope p{
  color: var(--font-menu-color) !important;
  font: normal normal normal 15px/26px Inconsolata !important;
  margin: 0 !important;
}
.req-btn{
  height: 33px;
  padding: 3px 10px 0 10px;
  font: normal normal normal 14px/26px Inconsolata;
  text-transform: uppercase;
  text-align: center;
}
.apired{
  color: #FA3E3D;
  border: 1px solid #FA3E3D;
  border-radius: 5px;
}
.apiblue{
  color: #61AFFE;
  border: 1px solid #61AFFE;
  border-radius: 5px;
}
.apigreen{
  color: #4ACC90;
  border: 1px solid #4ACC90;
  border-radius: 5px;
}
.apiyellow{
  color: #FCA12F;
  border: 1px solid #FCA12F;
  border-radius: 5px;
}

/* Nested Fields */
.yes-down-arrow-icon{
  background: var(--edit-icon) no-repeat -470px -102px;
  width: 10px;
  height: 7px;
  margin-top: 10px;
  margin-left: -14px;
  cursor: pointer;
}
.right-arrow.yes-down-arrow-icon{
  transform: rotate(-90deg);
}
.yes-nested-fields{
  padding: 20px 20px 10px 20px;
  border: 1px solid var(--hr-color);
  border-radius: 4px;
}
.yes-exp-none{
  display: none;
}
#close-nested-child{
  display: none;
}
.nested-title{
  font: 14px/26px Inconsolata-Bold !important;
  color: var(--hover-color) !important;
  margin: 0 !important;
  padding: 0 7px 0 4px !important;
}
.nested-split{
  height: 10px;
  padding: 0.5px;
  background: var(--hr-color);
  margin: 8px 0 0 0;
}
.nested-textformat, 
.nested-condition,
.nested-maxlength{
  font: 12px/26px zoho-puvi-regular !important;
  color: var(--font-at-color) !important;
  margin: 0 !important;
  padding: 0 7px !important;
}
.nested-data{
  font: 14px/20px zoho-puvi-regular !important;
  color: var(--font-body-color) !important;
  padding: 10px 0 !important;
  margin: 0 !important;
}
.nested-data p{
  font: 14px/20px zoho-puvi-regular !important;
  color: var(--font-body-color) !important;
  margin: 0 !important;
}
.nested-button{
  font: 12px/26px zoho-puvi-regular;
  color: var(--font-blue-color);
  padding: 10px 0;
  cursor: pointer;
}

.nested-maxlength {
  position: relative;
  display: inline-block;
}
.nested-maxlength .tooltip-maxlength {
  visibility: hidden;
  width: 75px;
  height: 25px;
  font: 12px/26px zoho-puvi-regular;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -38px;
}
.nested-maxlength .tooltip-maxlength::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.nested-maxlength:hover .tooltip-maxlength {
  visibility: visible;
}