.catalyst-logo{
    background: url('/images/CatalystLogo.svg') no-repeat 0 0;
    width: 28px;
    height: 32px;
}
.logo {
    border-bottom: 1px solid var(--hr-color);
    height: 75px;
}
.menu-title {
    text-align: left;
    font: normal normal 600 12px/13px zoho-puvi-semibold;
    letter-spacing: 2.4px;
    color: var(--font-body-color);
    opacity: 1;
    margin-bottom: 20px;
}
.custom-select{
    text-align: left;
    font: normal normal normal 14px/17px zoho-puvi-regular !important;
    padding: 8.5px 10px !important;
    color: var(--font-body-color);
    background-color: var(--menu-color);
    border: 1px solid var(--hr-color) !important;
    outline: none !important; 
    box-shadow: 0 0 0 0 !important; 
}
/* stepper menu style */

.StepProgress {
    position: relative;
    padding-left: 75px;
    list-style: none;
    width: 370px;
    background-color: var(--body-color);
    margin: 184px 0 0 0px;
}
.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 45px;
    width: 10px;
    height: calc(100% - 125px);
    border-left: 1px solid var(--step-color);
    margin-top: 80px;
}
.StepProgress-item {
    position: relative;
    counter-increment: list;
}
.StepProgress-item:not(:last-child) {
    padding-bottom: 5px;
}
.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    top: 5px;
    height: 65px;
    width: 10px;
}
.StepProgress-item-after {
    display: inline-block;
    position: absolute;
    padding-top: 0px;
    width: 21px;
    height: 21px;
    top: 3px;
    left: -40.4px;
    text-align: center;
    font-size: 30px;
    border: 1px solid var(--step-color);
    border-radius: 50%;
    background-color: var(--body-color);
}
.StepProgress-item-after::before{
    content: '\2022';
    color: var(--step-color);
}
.StepProgress-item.is-done::before {
    border-left: 1px solid var(--font-blue-color);
}
.StepProgress-item.is-done .StepProgress-item-after{
    content: "\2713";
    font-size: 12px;
    padding-top: 1px;
    color: var(--font-blue-color);
    text-align: center;
    border: 1px solid var(--font-blue-color);
    background-color: var(--body-color);
}
.StepProgress-item.is-done .StepProgress-item-after::before{
    content: "\2713";
    font-size: 12px;
    padding-top: 1px;
    color: var(--font-blue-color);
    text-align: center;
}
.StepProgress-item.current .StepProgress-item-after{
    width: 21px;
    height: 21px;
    border: 1px solid var(--font-blue-color);
    background-color: var(--body-color);
}
.StepProgress-item.current .StepProgress-item-after::before{
    content: '\2022';
    font-size: 30px;
    padding-top: 0px;
    top: 3px;
    left: -40.4px;
    text-align: center;
    color: var(--font-blue-color) !important;
}
.StepProgress-child{
    background-color: var(--step-color); 
    width:7px; 
    height: 7px; 
    border-radius: 50%; 
    margin-top: 10px;
}
.childactive{
    background-color: var(--font-blue-color);
}
.show-steps{
    display: block !important;
}
.stepper-menu .steps{
    font: 12px/26px zoho-puvi-regular; 
    letter-spacing: 1.2px;
    cursor: pointer;
}
.stepper-menu a.file{
    font: 14px/26px zoho-puvi-regular; 
    color: var(--font-menu-color);
}
.stepper-menu a.file:hover{
    color: var(--font-body-color);
}
article > aside .stepper-menu .dd-item.active > div .StepProgress-child{
    background-color: var(--font-blue-color);
}
article > aside .stepper-menu .dd-item.active > div a.file{
    font: 14px/26px zoho-puvi-medium;
    color: var(--font-body-color);
}