body{
    color: var(--font-body-color);
    em{
        font: italic normal normal 15px/24px Roboto;
    }
    strong{
        font: normal normal bold 15px/24px zoho-puvi-bold;
    }
    a{
        cursor: pointer;
    }
    ol{
        padding-left: 35px;
    }
    ol li::marker {
        font-weight: bolder;
        font-size: 15px;
    }
    div{
        color: var(--font-body-color);
    }
    background-color: var(--body-color) !important;
    .activelink{
        color: var(--font-blue-color);
    }
    .hovlink {
        background: url('/images/DarkPages.svg') no-repeat -644px -30px;
        width: 14px;
        height: 14px;
        margin: 5px 0 0 3px;
    }
    hr {
        height: 1px;
        background-color: var(--hr-color);
        border-top: 0;
    }
    label {       
        font: 15px/19px zoho-puvi-regular;
        color: var(--font-lite-body-color);
    }
    a{
        color: var(--font-lite-body-color);
        text-decoration: none;
        background-color: transparent;
        &:hover{
            color: initial;
            text-decoration: none;
        };
    }
    .feature{
        background-color: var(--body-color); 
        border: 1px solid var(--hr-color); 
        border-radius: 4px;
        width: 360px;
        height: 317px;
        padding:15px 30px;
        margin: 0 10px 20px 10px;
    }
    .feature:hover{
        box-shadow: 5px 5px 16px  var(--shadow-color); 
    }
    .sdk{
        background-color: var(--body-color); 
        border: 1px solid var(--hr-color); 
        border-radius: 4px;
        width: 262px;
        height: 130px;
        padding:15px 30px;
    }
    .sdk:hover{
        box-shadow: 5px 5px 16px  var(--shadow-color); 
    }
    .help-block{
        background-color: var(--body-color); 
        border: 1px solid var(--hr-color); 
        border-radius: 4px;
        width: 300px !important;
        height: 200px !important;
        padding:10px 15px;
        overflow: auto;
    }
    .help-block:hover{
        box-shadow: 5px 5px 16px var(--shadow-color); 
    }
    .feature-p{
        text-align: left;
        font: normal normal normal 15px/27px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-lite-body-color);
        opacity: 1;
        text-transform: none;
    }
    .faq-p{
        font: normal normal normal 15px/24px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-lite-body-color);
        opacity: 1;
        text-transform: none;
    }
    .feature-h{
        text-align: left;
        font: normal normal 24px/28px zoho-puvi-medium;
        letter-spacing: 0px;
        color: var(--body-header-color);
        text-transform: none;
    }
    .help-h{
        text-align: left;
        font: normal normal 17px/22px zoho-puvi-medium;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        text-transform: none;
    }
    .tab-content>.active {
        display: flex !important;
        justify-content: flex-start;
        background-color: var(--body-color);
        flex-wrap: wrap !important;
    }
    .nav-link{
        margin:10px 0;
        font: normal normal normal 18px/24px zoho-puvi-regular;
    }
    .nav-link:hover{
        color: var(--font-body-color);
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: var(--font-blue-color);
        background-color: var(--body-color);
        font: normal normal bold 18px/24px zoho-puvi-regular;
        padding-left: 16px; 
    }
    .nav-link.active div.add_div{
        background-color: var(--font-blue-color);
    }
    .scroll-top {
        position: sticky;
        right: 30px;
        bottom: 30px;
        margin: 0 50px 50px auto;
        z-index: 3;
        padding: 5px;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #448bff;
        border-radius: 22px;
        -webkit-box-shadow: -1px 4px 6px 0 rgba(60, 113, 220, .28);
        box-shadow: -1px 4px 6px 0 rgba(60, 113, 220, .28)
    }
    .scroll-top .bg-img {
        background: url('/images/LightPages.svg') no-repeat -343px -33px;
        width: 15px;
        height: 8px;
        margin-top: 10px;
        margin-left: 7px;
    }
    .scroll-visible {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        transition: opacity 1s linear
    }
    .scroll-hidden {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s .2s, opacity .2s linear;
        -o-transition: visibility 0s .2s, opacity .2s linear;
        transition: visibility 0s .2s, opacity .2s linear
    }
    .w10 { width: 10%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w20 { width: 20%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w30 { width: 30%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w40 { width: 40%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w50 { width: 50%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w60 { width: 60%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w70 { width: 70%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w80 { width: 80%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w90 { width: 90%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .w100 { width: 100%; box-shadow: 0px 0px 16px var(--image-shadow-color);}
    .c1 { width: 100%; }
    .c21 { width: 100%; display: flex;}
    .c2 { width: 63%;padding-right: 30px;}
    .c2 b{margin-right: 15px;}
    .c3 { width: 37%; }
    .c3 pre { margin-top: -16px !important; }
    .inline { display: flex;}
    .bold { font: 14px/26px Inconsolata; font-weight: bold; margin-right: 15px;}
    .light { font: 12px/26px zoho-puvi-regular; text-transform: lowercase; }
    .ft-st { font: 14px/20px zoho-puvi-regular;}
    .LeftContent {
        width: 60%; 
        margin-right: 15px;
    }
    .RightContent {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 110px;
        align-self: flex-start; 
        width: 40%; 
    }
    header {
        
        background-color: var(--body-color);    
        border-bottom: 1px solid var(--hr-color) ;

        > div {
            display: flex; 
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch ;
            white-space: nowrap;
        }

        nav.shortcuts {
            margin-left: auto;
            position: relative;

            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            flex-direction: row;
            flex-wrap: nowrap;

            li {
                .fa {
                    margin-right: 0.5rem
                }

                a {
                    padding: 0;
                }
            }
        }
    

    }


    article {
        background-color: var(--body-color) ;
        padding-bottom: 0px;
        aside {
            #close_menu{
                display: none;
                float:right;
                margin: 4px 6px 0 0;
            }

            &.responsive{
                #close_menu{
                    display: block;
                }
            }
        }

        section.right-menu {
            padding-top: 113px;
            font-size:14px;
            margin-right:30px;
            line-height:20px;
            height: calc(100vh - 75px);
            
            > div {
                > *{
                    margin-left:0px;
                } 
                nav ul{
                    a:hover{
                        color: var(--hover-color);
                    }
                    padding: 0px 20px;
                    margin: 0px;
                    font: 15px/18px zoho-puvi-regular;
                    ul{
                        li a{
                            color: var(--font-lite-body-color);
                        }
                    }
                    li.active a{
                        color: var(--font-blue-color);
                    }
                    li a{
                        color: var(--font-lite-body-color);
                    }
                    
                }
                nav ul ul{
                    padding: 0px 0px 0px 0px;
                    margin:  0px 0px 0px 0px;
                    li{
                        padding-bottom: 15px;
                    }
                    li.active a{
                        color: var(--font-blue-color) !important;
                    }
                }
                ul{
                    list-style-type: none;
                } 
            }
        }
    }

    footer {
        background: var(--body-color);
        opacity: 1;
        position: relative;
        z-index: 2;
        border-top: 1px solid var(--hr-color);
    }

}


article section.page {
    background-color: var(--body-color);
    #ariane{
        font: 13px/16px zoho-puvi-regular;
        letter-spacing: 0px;
        display: block;
        color: var(--font-lite-body-color);

        ol{
            margin-top: 1em!important;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            li{
                display: list-item;
                &:after{
                    display: inline-block;
                    margin:-2px 5px; 
                    content: '';
                    background: url('/images/LightPages.svg') no-repeat -604px -31px;
                    width: 10px;
                    height: 11px;
                }
                a {
                    color: var(--font-lite-body-color);
                }
                a:hover{
                    color: var(--font-blue-color);
                }

                &.active{
                    &:after{
                        display: inline-block;
                        content: "";  
                        background: url('/images/LightPages.svg') no-repeat -604px -31px;
                        width: 0px;
                        height: 0px;
                    }
                    margin-top: 1px;     
                }
            }
        }
    }

    div.chevrons {
        margin: 2rem 0;
        border-top: 1px solid var(--hr-color);
        border-bottom: 1px solid var(--hr-color);
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        -webkit-box-pack: end!important;
        justify-content: flex-end!important;

        a{              
            &.prev{
                display: none
            }
            &.next div{
                text-align: right;
                justify-content: flex-end;
            }

            label{
                font-size: 24px;    
                font-weight: 700;
                cursor: pointer;
            }
        }     
    }
}
article section.page {
     line-height:24px;
}
article section.page div.content{
    margin-top: 0;

    a.anchor {
        display: block;
        position: relative;
        top: -8rem;
        visibility: hidden;
    }

    a{
        margin: 15px 0;
        font: normal normal normal 15px/22px zoho-puvi-regular;
        color: var(--font-blue-color) !important;
    }

    p {
            margin: 16px 0;
            font: 15px/24px zoho-puvi-regular;
            letter-spacing: 0px;
            color: var(--font-body-color);
            opacity: 1;
    }
    ul{
        padding-left: 36px;
        margin-top: 22px;
    }

    li {
        margin: 1rem 0;
        font: 15px/24px zoho-puvi-regular;
        color: var(--font-body-color);
        
    }
    ol li{
        padding-left: 2px;
    }
    h1 {     
        font: 24px/29px zoho-puvi-bold;   
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        margin-top:38px;
        margin-bottom: 0px;
   }

    h2 {
        margin-top: 0.5em;
        font: normal normal bold 22px/26px zoho-puvi-bold;
        color: var(--font-body-color);
        margin-top:38px;
    } 
    h3 {
        margin-top: 0.5em;
        font: normal normal bold 20px/24px zoho-puvi-bold;
        color: var(--font-body-color);
        margin-top:38px;
    } 
    h4{
        font: normal normal bold 18px/22px zoho-puvi-bold;
        color: var(--font-body-color);
    }
    // TABLE
    table {
        width: 100%;
        margin-bottom: 2em;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid var(--hr-color);
        table-layout: fixed;
        border-radius: 4px;

        th,
        td {
            padding: .25rem .75rem
        }

        th {
            font: normal normal 600 15px/24px zoho-puvi-semibold;
            padding: 0.5rem;
            vertical-align: middle;
            text-align: left !important;
            background: var(--menu-color);
            color: var(--font-menu-color);
            border-radius: 4px 4px 0 0;
        }

        td {
            font: normal normal normal 15px/24px zoho-puvi-regular;
            padding: 0.5rem;
            text-align: left !important;
            vertical-align: middle;
            border-top: 1px solid var(--hr-color);
            color: var(--font-body-color);
        }
    }
    .table-width{
        width: 650px;
    } 
    @media screen and (min-width: 0px) and (max-width : 760px) {
        .table-width{
            width: 100%;
        } 
    }
    .newfeatures{
        margin-bottom: 40px;
    }
    .enhancements{
        margin-bottom: 40px;
    }
    .bugfixes{
        margin-bottom: 40px;
    }
    .deprecated{
        margin-bottom: 40px;
    }
    .removed{
        margin-bottom: 40px;
    }
    .new-feature-badge{
        display: inline;
        border: 1px solid #20AA0E;
        color:#20AA0E;
        padding:8px;
        border-radius: 4px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font: 10px/12px zoho-puvi-medium;
    }
    .enhancement-badge{
        display: inline;
        border: 1px solid #B9AD24;
        color: #B9AD24;
        padding:8px;
        border-radius: 4px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font: 10px/12px zoho-puvi-medium;
    }
    .bug-fix-badge{
        display: inline;
        border: 1px solid #E36D07;
        color:#E36D07;
        padding:8px;
        border-radius: 4px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font: 10px/12px zoho-puvi-medium;
    }
    .deprecated-badge{
        display: inline;
        border: 1px solid #ED19FF;
        color:#ED19FF;
        padding:8px;
        border-radius: 4px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font: 10px/12px zoho-puvi-medium;
    }
    .removed-badge{
        display: inline;
        border: 1px solid #A3A3A3;
        color:#A3A3A3;
        padding:8px;
        border-radius: 4px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font: 10px/12px zoho-puvi-medium;
    }
    .black-background{
        color:#B6B6B6;
        background-color: #222222;
        padding:10px 15px;
    }
    // IMAGES
    img {
        border: 0;
        max-width: 100%;
        margin: 1.5rem auto 1.5rem 0;
        display: block;


        &.inline {
            display: inline !important;
         
            vertical-align: bottom;
        }

        &.inline {
            display: inline !important;
         
            vertical-align: bottom;
        }
    }

    pre {
        overflow: hidden;
        white-space: normal;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid var(--hr-color);
        background: var(--menu-color);
        code {
            font: normal normal normal 16px/26px Inconsolata;
            white-space: pre-wrap;
            color: var(--font-body-color);
            background-color: transparent;
        }
    }
}