@font-face {
    font-family: "zoho-puvi-semibold";
    src: url(/ZohoPuvi/OpenType-TT/Zoho-Puvi-Semibold.ttf);
}
@font-face {
    font-family: "zoho-puvi-bold";
    src: url(/ZohoPuvi/OpenType-TT/Zoho-Puvi-Bold.ttf);
}
@font-face {
    font-family: "zoho-puvi-regular";
    src: url(/ZohoPuvi/OpenType-TT/Zoho-Puvi-Regular.ttf);
}
@font-face {
    font-family: "zoho-puvi-medium";
    src: url(/ZohoPuvi/OpenType-TT/Zoho-Puvi-Medium.ttf);
}
@font-face {
    font-family: "zoho-puvi-thin";
    src: url(/ZohoPuvi/OpenType-TT/Zoho-Puvi-Thin.ttf);
}
@font-face {
    font-family:"Roboto-Mono";
    font-weight:400;
    font-style:normal;
    src:url("//static.zohocdn.com/webfonts/robotomonoregular/font.eot");
    src:url("//static.zohocdn.com/webfonts/robotomonoregular/font.eot?#iefix") format("eot"),
        url("//static.zohocdn.com/webfonts/robotomonoregular/font.woff2") format("woff2"),
        url("//static.zohocdn.com/webfonts/robotomonoregular/font.woff") format("woff"),
        url("//static.zohocdn.com/webfonts/robotomonoregular/font.ttf") format("truetype"),
        url("//static.zohocdn.com/webfonts/robotomonoregular/font.svg#RobotoMono-Regular") format("svg");}
 @font-face {
    font-family:"Roboto";
    font-weight:400;
    font-style:italic;
    src:url("//static.zohocdn.com/webfonts/robotoitalic/font.eot");
    src:url("//static.zohocdn.com/webfonts/robotoitalic/font.eot?#iefix") format("eot"),
        url("//static.zohocdn.com/webfonts/robotoitalic/font.woff2") format("woff2"),
        url("//static.zohocdn.com/webfonts/robotoitalic/font.woff") format("woff"),
        url("//static.zohocdn.com/webfonts/robotoitalic/font.ttf") format("truetype"),
        url("//static.zohocdn.com/webfonts/robotoitalic/font.svg#Roboto-Italic") format("svg");}

body{
    color: var(--font-body-color);
    .searchbox{
        border-radius:35px; 
        outline: none !important; 
        box-shadow: 0 0 0 0; 
        font: normal normal normal 14px/17px zoho-puvi-regular; 
        color: var(--font-menu-color);
        padding: 3px 25px;
        width: 400px;
        height: 44px;
        border: 0px;
        background-color: transparent;
        border: 1px solid var(--hr-color);
    }
    .show-search{
        border-radius:35px; 
        outline: none !important; 
        box-shadow: 0 0 0 0; 
        font: normal normal normal 14px/17px zoho-puvi-regular; 
        color: var(--font-menu-color);
        padding: 3px 25px;
        width: 400px;
        margin: 10px auto;
        height: 44px;
        border: 0px;
        background-color: transparent;
        border: 1px solid var(--hr-color);
    }
    hr {
        height: 1px;
        background-color: var(--hr-color);
        border-top: 0;
    }
    label {       
        font: normal normal 600 12px/13px zoho-puvi-semibold;
        letter-spacing: 2.4px;
        color: var(--font-lite-body-color);
        margin-left: 30px;
        text-transform: uppercase;
    }
    a{
        color: var(--font-lite-body-color);
        text-decoration: none;
        background-color: transparent;
        &:hover{
            color: initial;
            text-decoration: none;
        };
    }
    .feature{
        background-color: var(--body-color); 
        border: 1px solid var(--hr-color); 
        border-radius: 2px;
        width: 360px;
        height: 317px;
        padding:15px 30px;
    }
    .feature:hover{
        box-shadow: 5px 5px 16px  var(--shadow-color); 
    }
    .sdk{
        background-color: var(--body-color); 
        border: 1px solid var(--hr-color); 
        border-radius: 2px;
        width: 262px;
        height: 130px;
        padding:15px 30px;
    }
    .sdk:hover{
        box-shadow: 5px 5px 16px  var(--shadow-color); 
    }
    .help{
        background-color: var(--body-color); 
        border: 1px solid var(--hr-color); 
        border-radius: 5px;
        width: 511px !important;
        height: 193px !important;
        padding:10px 15px;
    }
    .help:hover{
        box-shadow: 5px 5px 16px var(--shadow-color); 
    }
    .feature-p{
        text-align: left;
        font: normal normal normal 15px/27px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-lite-body-color);
        opacity: 1;
        text-transform: none;
    }
    .faq-p{
        font: normal normal normal 16px/24px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-lite-body-color);
        opacity: 1;
        text-transform: none;
    }
    .feature-h{
        text-align: left;
        font: normal normal 24px/28px zoho-puvi-medium;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        text-transform: none;
    }
    .help-h{
        text-align: left;
        font: normal normal 17px/22px zoho-puvi-medium;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        text-transform: none;
    }
    .tab-content>.active {
        display: flex !important;
        justify-content: flex-start;
        background-color: var(--body-color);
        flex-wrap: wrap !important;
    }
    .nav-link{
        margin:10px 0;
    }
    .nav-div{
        background-color: transparent; 
        width: 2px; 
        height: 10px; 
        border-radius: 2px; 
        margin-top: 25px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: var(--font-blue-color);
        background-color: var(--body-color);
        padding-left: 16px; 
    }
    .nav-link.active div.add_div{
        background-color: var(--font-blue-color);
    }
    .nav-div.active{
        background-color: var(--font-blue-color);
        width: 2px; 
        height: 10px; 
        border-radius: 2px; 
        margin-top: 25px;
    }
    .scroll-top {
        position: absolute;
        right: 0px;
        bottom: 1px;
        z-index: 3;
        margin-top: -35px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin: 5px;
        background-color: #448bff;
        border-radius: 22px;
        -webkit-box-shadow: -1px 4px 6px 0 rgba(60, 113, 220, .28);
        box-shadow: -1px 4px 6px 0 rgba(60, 113, 220, .28)
    }
    .scroll-top .bg-img {
        background: url('/images/LightPages.svg') no-repeat -343px -33px;
        width: 15px;
        height: 8px;
        margin-top: 10px;
        margin-left: 7px;
    }
    .scroll-visible {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        transition: opacity 1s linear
    }
    .scroll-hidden {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s .2s, opacity .2s linear;
        -o-transition: visibility 0s .2s, opacity .2s linear;
        transition: visibility 0s .2s, opacity .2s linear
    }

    header {
        
        background-color: var(--body-color);    

        border-bottom: 1px solid var(--hr-color) ;
        // box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);
        

        // color:($c_light2);
        a, a:hover {
            // color:invert($c_dark2);
        }
        > div {
            display: flex; 
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch ;

            white-space: nowrap;
            

            img {
                height: 32px;
                margin-right: 0.5rem;
            }
            .burger {
                margin-right: 1rem; 
            }

        }




        nav.shortcuts {
            margin-left: auto;
            position: relative;

            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            flex-direction: row;
            flex-wrap: nowrap;

            li {
                .fa {
                    margin-right: 0.5rem
                }

                a {
                    padding: 0;
                }
            }
        }
    

    }


    article {
        background-color: var(--body-color) ;
        padding-bottom: 0px;
        aside {
            #close_menu{
                display: none;
                float:right;
                margin: 4px 6px 0 0;
            }

            &.responsive{
                #close_menu{
                    display: block;
                }
            }
        }

        section.right-menu {
            padding-top: 101px;
            font-size:14px;
            margin-right:30px;
            line-height:20px;
            height: calc(100vh - 74px);
            > div {
                > *{
                    margin-left:0px;
                } 
                nav>ul{
                    padding: 0px 20px 0px 20px;
                    margin:  0px 0px 0px 0px;
                    ul{
                        padding: 0px 0px 0px 0px;
                        margin:  0px 0px 0px 0px;
                        // border-left: 1px solid $c_light2;
                        li{
                            font-size: 90%;
                        }
                    }
                }

                ul{
                    list-style-type: none;
                }
                li{
                    padding: 4px 0px 0px 0px;
                    font: normal normal normal 14px/26px zoho-puvi-regular;
                    letter-spacing: 0px;
                    opacity: 1;
                    &.active a{
                        color: var(--font-blue-color);
                        padding: 8px 0px 0px 0px;
                        font: normal normal normal 14px/26px zoho-puvi-regular;
                        letter-spacing: 0px;
                        opacity: 1;
                    }
                    a {
                        color: var(--font-lite-body-color);
                        padding: 8px 0px 0px 0px;
                        font: normal normal normal 14px/26px zoho-puvi-regular;
                        letter-spacing: 0px;
                        opacity: 1;
                    }
                    
                }
            }

            .Actions{
                font-size: 75%;
            }

        }
    }

    footer {
        background: var(--body-color);
        opacity: 1;
        position: relative;
        z-index: 2;
        border-top: 1px solid var(--hr-color);
    }

}


article section.page {
    background-color: var(--body-color);
    #ariane{
        display: block;
        font: normal normal normal 14px/17px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-lite-body-color);

        ol{
            margin-top: 1em!important;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            li{
                display: list-item;
                &:after{
                    display: inline-block;
                    padding-right: .3rem;
                    padding-left: .3rem;
                    color: var(--font-lite-body-color);
                    content: '\00bb';
                    font-size: larger;
                }
                a {
                    color: var(--font-lite-body-color);
                    padding-bottom: 4px;
                    padding-right: 0px;
                }
                a:hover{
                    color: var(--font-blue-color);
                }

                &.active{
                    &:after{
                        display: inline-block;
                        padding-left: .75rem;
                        content: "";  
                    }
                    margin-top: 1px;     
                }
            }
            
        }

    }

    div.chevrons {
        margin: 2rem 0;
        border-top: 1px solid var(--hr-color);
        border-bottom: 1px solid var(--hr-color);
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        -webkit-box-pack: end!important;
        justify-content: flex-end!important;

        a{
            display: flex;
            align-items: center!important;
            -webkit-box-align: center!important;
            justify-content: flex-end!important;
            
            max-width: 70%;
                        
            &.prev{
                display: none
            }
            &.next div{
                text-align: right;
                justify-content: flex-end;
                padding: 20px;
            }

            label{
                font-size: 24px;    
                font-weight: 700;
                cursor: pointer;
            }
            p{
                font-size: 15px;
                padding: 0px;
                margin: 0px;
                text-align: left;
            }
            
        }

        
    }
}
article section.page {
     line-height:24px;
}
article section.page div.content{
    margin-top: 0;

    a.anchor {
        display: block;
        position: relative;
        top: -8rem;
        visibility: hidden;
    }

    a{
        margin: 15px 0;
        font: normal normal normal 16px/22px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-blue-color);
    }

    p {
            margin: 20px 0;
            font: normal normal normal 16px/24px zoho-puvi-regular;
            letter-spacing: 0px;
            color: var(--font-body-color);
            opacity: 1;
    }

    li {
        margin: 1rem 0;
        font: normal normal normal 16px/24px zoho-puvi-regular;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
    }
    h1 {     
        font: normal normal bold 24px/29px zoho-puvi-bold;   
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        margin-top:30px;
   }

    // h2 {
    //     margin-top: 0.5em;
    //     font: normal normal 600 24px/29px zoho-puvi-semibold;
    //     letter-spacing: 0px;
    //     color: var(--font-body-color);
    //     opacity: 1;
    // } 

    h3{
        font: normal normal bold 20px/24px zoho-puvi-bold;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
        margin-top:30px;
    }

    h4 {
        margin-top: 30px;
        font: normal normal 600 18px/22px  zoho-puvi-semibold;
        letter-spacing: 0px;
        color: var(--font-body-color);
        opacity: 1;
    }
    // TABLE
    table {
        width: 100%;
        margin-bottom: 2em;

        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid var(--hr-color);



        th,
        td {
            padding: .25rem .75rem
        }

        th {
            font: normal normal 600 15px/24px zoho-puvi-semibold;
            padding: 0.5rem;
            vertical-align: middle;
            text-align: left !important;
            background: var(--menu-color);
            color: var(--font-menu-color);
            border-bottom: 0.5px solid var(--hr-color);
            border-top: 0.5px solid var(--hr-color);
        }

        td {
            font: normal normal normal 15px/24px zoho-puvi-regular;
            padding: 0.5rem;
            text-align: left !important;
            vertical-align: middle;
            border-bottom: 0.5px solid var(--hr-color);
            border-top: 0.5px solid var(--hr-color);
            color: var(--font-body-color);
        }
    }
    .table-width{
        width: 550px;
    }

    .red{
        display: inline;
        border: 1px solid red;
        color: red;
        padding:8px;
        background-color: transparent;
    }
    .green{
        display: inline;
        border: 1px solid green;
        color:green;
        padding:8px;
        background-color: transparent;
    }
    .yellow{
        display: inline;
        border: 1px solid yellow;
        color: yellow;
        padding:8px;
        background-color: transparent;
    }
    .black-background{
        color:#B6B6B6;
        background-color: #222222;
        padding:10px 15px;
    }
    // IMAGES
    img {
        border: 0;
        max-width: 100%;
        margin: 1.5rem auto 1.5rem 0;
        display: block;

        &.inline {
            display: inline !important;
         
            vertical-align: bottom;
        }

        &.inline {
            display: inline !important;
         
            vertical-align: bottom;
        }
    }

    pre {
        display:block; 
        white-space: normal;
        border-radius: .2rem;
        overflow: auto;
        padding: 0px 10px 8px 20px;
        overflow: hidden;
        code {
            font: normal normal normal 13px/19px Roboto-Mono;
            display: block;
            border:0px;
            white-space: pre-wrap;
            font-weight: inherit;
            line-height: 24px;
            margin-top: -8px;
        }
    }
}
 



