article>aside {
    background-color: var(--menu-color);
    z-index: 3;
    padding: 0;
    
    
    div.search{
        position: fixed;
        left: 0px;
        top: 75px;
        background-color: var(--menu-color);
        padding: 13px 29px 20px 30px;
    }

    .menu {
        list-style-type: none;
        width: 370px;
        background-color: var(--menu-color);
        margin-top: 147px;
        padding-left: 21px !important;
        padding-bottom: 10px;
        height: calc(100vh - 130px);
        overflow: auto;
        h6 {
            font: 16px/19px zoho-puvi-semibold;
            letter-spacing: 0px;
            color: var(--font-body-color);
            text-transform: uppercase;
            opacity: 1;
            padding:10px 0 0 0;
            margin-left:-6px;
            margin-bottom: 0px;
        }
        hr {
            margin-top: 1.8rem;
            margin-left:-50px;
        }
        ul {
            display: none;
        } 
        .ddexp{
            cursor: pointer;
        }

        // first menu level
        >.dd-item {
            font: 15px/18px zoho-puvi-regular;
            letter-spacing: 0px;
            color: var(--font-lite-body-color);
            margin:0;
            opacity: 1;
            margin-top: 0px;
                >a{
                    padding-left:0px;
                    display: none;
                    color: var(--font-lite-body-color);
                }
                >a:hover{
                    color: var(--hover-color);
                }
                > i {
                    display: none;
                }
        } 

        // menu items
        .dd-item {
            padding-left: 16px;
            
            list-style: none;
            a {
                text-decoration: none;
                padding-left:8px;
                color: var(--font-lite-body-color);
            }
            a:hover{
                color: var(--hover-color);
            }
            > a{               
                padding-left:8px;
            }
            > i {
                    color:var(--font-lite-body-color);
                    font-size: 12px;
                    padding-right:5px;
            }
            ul {
                padding-left: 0px;
            }
            &.active {

                >ul {
                    display: block;
                }

                >div {
                    a {
                        color: var(--font-blue-color);
                        font: 15px/18px zoho-puvi-medium;
                    }
                }
            }

            &.haschildren{
                &.parent{
                    >a {
                    padding-left:8px;                   
                    }
                    ul {
                        padding-left:0;
                    }
                }
                li {
                    margin:20px 0;
                }
                li:empty{
                    margin:0;
                }
                ul {
                    padding-left:0px;                    
                }
                ul a {
                    padding-left:0px;
                }
                ul i {
                    margin-left: -19px;
                    margin-right: 6px;
                }
            }

            &.parent{
                >a {
                 
                }
                >ul {
                    display: block;
                }
            }

            &.active {
                li {
                    margin:20px 0;
                }

                >a{
                    color:var(--font-blue-color);
                }

                >ul {
                    display: block;
                }
            }
            
            &.alwaysopen>ul {
                display: block
            }
            
            &.parent>ul {
                display: block
            }
        }
    }

    .stepper-menu {
        list-style-type: none;
        h6 {
            font: 16px/19px zoho-puvi-semibold;
            letter-spacing: 0px;
            color: var(--font-body-color);
            text-transform: uppercase;
            opacity: 1;
            padding:10px 0 0 0;
            margin-left:-6px;
            margin-bottom: 0px;
        }
        hr {
            margin-top: 1.8rem;
            margin-left:-50px;
        }
        ul {
            display: none;
        } 
        .ddexp{
            cursor: pointer;
        }

        // first menu level
        >.dd-item {
            font: 15px/18px zoho-puvi-regular;
            letter-spacing: 0px;
            color: var(--font-lite-body-color);
            opacity: 1;
            margin-top: 0px;
                >a{
                    padding-left:0px;
                    display: none;
                    color: var(--font-lite-body-color);
                }
                > i {
                    display: none;
                }
        } 

        // menu items
        .dd-item {
            
            list-style: none;
            a {
                text-decoration: none;
                padding-left:8px;
                color: var(--font-lite-body-color);
            }
            > a{               
                padding-left:8px;
            }
            > i {
                    color:var(--font-lite-body-color);
                    font-size: 12px;
                    padding-right:5px;
            }
            ul {
                padding-left: 0px;
            }
            &.active {

                >ul {
                    display: block;
                }

                >div {
                    * {
                        color: var(--font-blue-color);
                    }
                }
            }

            &.haschildren{
                &.parent{
                    >a {
                    padding-left:8px;                   
                    }
                    ul {
                        padding-left:0;
                    }
                }
                li {
                    margin:10px 0;
                }
                ul {
                    padding-left:0px;                    
                }
                ul a {
                    padding-left:0px;
                }
                ul i {
                    margin-left: -19px;
                    margin-right: 6px;
                }
            }

            &.parent{
                >a {
                 
                }
                >ul {
                    display: block;
                }
            }

            &.active {
                li {
                    margin:10px 0;
                }

                >a{
                    color:var(--font-blue-color);
                }

                >ul {
                    display: block;
                }
            }
            
            &.alwaysopen>ul li{
                display: none;
            }
            
            &.parent>ul {
                display: block
            }
        }
    }


    section {
        margin: 2rem 0rem;
    }
}

body{
    a{
        text-decoration: none;
    }
}

