{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head-link.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}" class="sdk-layout" type="{{.Type}}" linktitle={{.LinkTitle}}>
    {{ partial "global-search.html" . }}
    <article>
      <aside class="hide-sidebar" id="responsiveSidebar">
        {{ partial "sdk-sidebar.html" . }}     
        <ul class="menu" style="height: calc(100vh - 160px); margin-top: 5px; margin-left: -32px; width: 402px;">
          {{ partial "menu.html" . }}
        </ul> 
      </aside>
      <section class="page">
        <header>
            {{ partial "body-header.html" . }}
        </header>
        {{ block "main" . }}{{ end }}
      </section>
      <section class="right-menu">
        {{ block "sidepage" . }}{{ end }}
      </section>
    </article>
    {{ partial "scroll-top.html" . }}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{ partial "html-body-link.html" . }}
  </body>
  <script>
    var ele = document.getElementById("announcement");
    if(ele){
      var version,url,span,ref,i,lang,version_block,key_ele;
      span = ele.querySelector("span");
      ref = ele.querySelector("a");
      lang = span.getAttribute("id");
      version_block = document.getElementById("versionDetails");
      key_ele=version_block.querySelectorAll("div");
      for(i=0;i<key_ele.length;i++){
        if(key_ele[i].getAttribute("language") == lang){
          version = key_ele[i].getAttribute("version");
          url = key_ele[i].getAttribute("url");
          break;
        }
      }
      span.innerText = version;
      ref.setAttribute("href",url);
    }
  </script>
  <script>
    document.addEventListener("scroll", function(){
      var a = document.querySelector("aside").getBoundingClientRect().height;
      var b = document.getElementById("footerBlock").getBoundingClientRect().top;
      var c;
      if(b < a){
          c = (a-b)+ 160;
          document.querySelector("ul.menu").style=`margin-top: 5px; margin-left: -32px; width: 402px; height: calc(100vh - ${c}px);`;
      }
      else{
        document.querySelector("ul.menu").style=`margin-top: 5px; margin-left: -32px; width: 402px; height: calc(100vh - 160px);`;
      }
    });
  </script>
  <script src='{{"js/pagination.js" | relURL}}'></script>
</html>
